predictive (1).json
{
  "name": "predictive",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "internal/predictive-recompute",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "48125573-7d30-4cbb-bb51-3a01392dfa93",
      "name": "POST /internal/predictive-recompute",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -1740,
        1460
      ],
      "webhookId": "predictive-recompute"
    },
    {
      "parameters": {
        "jsCode": "// Extract and validate input\nconst body = $input.first().json.body || $input.first().json;\n\nreturn [{\n  json: {\n    equipment_id: body.equipment_id,\n    yacht_id: body.yacht_id,\n    event: body.event || 'manual',\n    event_category: body.event_category || 'manual',\n    signal_weight: body.signal_weight,\n    weight_delta: body.weight_delta || 0\n  }\n}];"
      },
      "id": "6277a5f9-f23c-4e77-8265-5b78ce7e47fd",
      "name": "Extract Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1520,
        1460
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, yacht_id, name, system_type, manufacturer, criticality FROM equipment WHERE id = '{{ $json.equipment_id }}'",
        "options": {}
      },
      "id": "252b5344-04bb-436b-a974-f45a2575099e",
      "name": "A. Get Equipment",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -1300,
        1060
      ],
      "credentials": {
        "postgres": {
          "id": "aWIDhHpJCpC97WzF",
          "name": "Cloud PMS"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as fault_count FROM faults WHERE equipment_id = '{{ $('Extract Input').item.json.equipment_id }}' AND detected_at > NOW() - INTERVAL '90 days'",
        "options": {}
      },
      "id": "658a4fd4-da5f-40aa-beff-34db77b4ccd5",
      "name": "A. Get Faults (90d)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -1300,
        1260
      ],
      "credentials": {
        "postgres": {
          "id": "aWIDhHpJCpC97WzF",
          "name": "Cloud PMS"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as wo_count, COUNT(*) FILTER (WHERE due_date < CURRENT_DATE AND status NOT IN ('completed', 'cancelled')) as overdue_count, COUNT(*) FILTER (WHERE type = 'corrective') as corrective_count FROM work_orders WHERE equipment_id = '{{ $('Extract Input').item.json.equipment_id }}' AND created_at > NOW() - INTERVAL '90 days'",
        "options": {}
      },
      "id": "d4008397-feb0-45dc-801b-1a4168c21ce1",
      "name": "A. Get Work Orders (90d)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -1300,
        1460
      ],
      "credentials": {
        "postgres": {
          "id": "aWIDhHpJCpC97WzF",
          "name": "Cloud PMS"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as note_count FROM notes WHERE equipment_id = '{{ $('Extract Input').item.json.equipment_id }}' AND created_at > NOW() - INTERVAL '90 days'",
        "options": {}
      },
      "id": "0a002800-8297-4d32-a3d6-0bd49eec0273",
      "name": "A. Get Notes (90d)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -1300,
        1660
      ],
      "credentials": {
        "postgres": {
          "id": "aWIDhHpJCpC97WzF",
          "name": "Cloud PMS"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT risk_score as old_risk_score, confidence as old_confidence, contributing_factors as old_factors FROM predictive_state WHERE equipment_id = '{{ $('Extract Input').item.json.equipment_id }}' AND yacht_id = '{{ $('Extract Input').item.json.yacht_id }}'",
        "options": {}
      },
      "id": "4f4ede24-ac0a-406a-9360-d4f0b25b3283",
      "name": "D. Get Previous State",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -1300,
        1860
      ],
      "credentials": {
        "postgres": {
          "id": "aWIDhHpJCpC97WzF",
          "name": "Cloud PMS"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": []
        },
        "joinMode": "keepEverything",
        "options": {}
      },
      "id": "ec156bbd-a859-4c47-a97f-4ac9c66120dd",
      "name": "Merge All Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -1080,
        1460
      ]
    },
    {
      "parameters": {
        "jsCode": "// B & C: Calculate risk score from all signals\nconst items = $input.all();\nconst inputData = $('Extract Input').first().json;\n\n// Aggregate data from all queries\nlet equipment = {};\nlet faultCount = 0;\nlet woCount = 0;\nlet overdueCount = 0;\nlet correctiveCount = 0;\nlet noteCount = 0;\nlet oldRiskScore = 0;\nlet oldConfidence = 0;\nlet oldFactors = {};\n\nfor (const item of items) {\n  const d = item.json;\n  if (d.name) equipment = d;\n  if (d.fault_count !== undefined) faultCount = parseInt(d.fault_count) || 0;\n  if (d.wo_count !== undefined) {\n    woCount = parseInt(d.wo_count) || 0;\n    overdueCount = parseInt(d.overdue_count) || 0;\n    correctiveCount = parseInt(d.corrective_count) || 0;\n  }\n  if (d.note_count !== undefined) noteCount = parseInt(d.note_count) || 0;\n  if (d.old_risk_score !== undefined) {\n    oldRiskScore = parseFloat(d.old_risk_score) || 0;\n    oldConfidence = parseFloat(d.old_confidence) || 0;\n    oldFactors = typeof d.old_factors === 'string' ? JSON.parse(d.old_factors || '{}') : (d.old_factors || {});\n  }\n}\n\n// B: Calculate signals (0-1 normalized)\nconst faultSignal = Math.min(faultCount / 10, 1.0);\nconst woSignal = Math.min(overdueCount / 5, 1.0);\nconst notesSignal = Math.min(noteCount / 10, 1.0);\nconst correctiveSignal = Math.min(correctiveCount / 5, 1.0);\n\nconst criticality = equipment.criticality || 'low';\nconst criticalitySignal = criticality === 'high' ? 1.0 : criticality === 'medium' ? 0.5 : 0.2;\n\n// C: Compute weighted risk score\nconst riskScore = (\n  0.35 * faultSignal +\n  0.25 * woSignal +\n  0.15 * notesSignal +\n  0.15 * correctiveSignal +\n  0.10 * criticalitySignal\n);\n\n// Confidence based on data availability\nlet dataPoints = 0;\nif (faultCount > 0) dataPoints++;\nif (woCount > 0) dataPoints++;\nif (noteCount > 0) dataPoints++;\nconst confidence = Math.min((dataPoints + 1) / 4, 1.0);\n\n// Contributing factors\nconst contributingFactors = {\n  fault_signal: Math.round(faultSignal * 1000) / 1000,\n  work_order_signal: Math.round(woSignal * 1000) / 1000,\n  notes_signal: Math.round(notesSignal * 1000) / 1000,\n  corrective_signal: Math.round(correctiveSignal * 1000) / 1000,\n  criticality_signal: Math.round(criticalitySignal * 1000) / 1000,\n  fault_count: faultCount,\n  overdue_count: overdueCount,\n  note_count: noteCount,\n  corrective_count: correctiveCount\n};\n\n// F: Threshold crossing detection\nlet thresholdCrossed = null;\nlet severity = null;\n\nif (oldRiskScore < 0.75 && riskScore >= 0.75) {\n  thresholdCrossed = 'critical';\n  severity = 'critical';\n} else if (oldRiskScore < 0.60 && riskScore >= 0.60) {\n  thresholdCrossed = 'high';\n  severity = 'high';\n} else if (oldRiskScore < 0.45 && riskScore >= 0.45) {\n  thresholdCrossed = 'elevated';\n  severity = 'elevated';\n}\n\nreturn [{\n  json: {\n    equipment_id: inputData.equipment_id,\n    yacht_id: inputData.yacht_id,\n    equipment_name: equipment.name || 'Unknown',\n    event: inputData.event,\n    risk_score: Math.round(riskScore * 10000) / 10000,\n    old_risk_score: oldRiskScore,\n    confidence: Math.round(confidence * 1000) / 1000,\n    contributing_factors: JSON.stringify(contributingFactors),\n    last_calculated_at: new Date().toISOString(),\n    threshold_crossed: thresholdCrossed,\n    severity: severity\n  }\n}];"
      },
      "id": "eb044cc9-e298-4cb0-90ef-fd116d5b32e8",
      "name": "B/C. Calculate Risk Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -860,
        1460
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO predictive_state (yacht_id, equipment_id, risk_score, confidence, contributing_factors, last_calculated_at, updated_at) VALUES ('{{ $json.yacht_id }}', '{{ $json.equipment_id }}', {{ $json.risk_score }}, {{ $json.confidence }}, '{{ $json.contributing_factors }}'::jsonb, '{{ $json.last_calculated_at }}', NOW()) ON CONFLICT (yacht_id, equipment_id) DO UPDATE SET risk_score = EXCLUDED.risk_score, confidence = EXCLUDED.confidence, contributing_factors = EXCLUDED.contributing_factors, last_calculated_at = EXCLUDED.last_calculated_at, updated_at = NOW() RETURNING id",
        "options": {}
      },
      "id": "d46d946b-6e4e-4d7e-8dfa-09fd2cd5fd03",
      "name": "E. UPSERT predictive_state",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -640,
        1460
      ],
      "credentials": {
        "postgres": {
          "id": "aWIDhHpJCpC97WzF",
          "name": "Cloud PMS"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "threshold_check",
              "leftValue": "={{ $('B/C. Calculate Risk Score').item.json.threshold_crossed }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fd27c1fb-c89e-4d2e-a5f7-33436906a5c4",
      "name": "F. Threshold Crossed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -420,
        1460
      ]
    },
    {
      "parameters": {
        "jsCode": "// G: Generate insight for threshold crossing\nconst data = $('B/C. Calculate Risk Score').first().json;\nconst factors = JSON.parse(data.contributing_factors);\n\n// Build description\nconst issues = [];\nif (factors.fault_signal > 0.5) issues.push('high fault frequency');\nif (factors.work_order_signal > 0.5) issues.push('overdue maintenance tasks');\nif (factors.notes_signal > 0.5) issues.push('frequent crew concerns');\nif (factors.corrective_signal > 0.5) issues.push('recurring repairs');\n\nconst description = issues.length > 0 \n  ? `Risk threshold crossed. Contributing factors: ${issues.join(', ')}.`\n  : 'Risk threshold crossed due to multiple minor indicators.';\n\nconst recommendation = data.severity === 'critical'\n  ? 'Immediate inspection required. Check fault history and schedule maintenance.'\n  : data.severity === 'high'\n    ? 'Schedule inspection within 48 hours. Review recent work orders.'\n    : 'Monitor closely. Consider preventive inspection.';\n\nreturn [{\n  json: {\n    yacht_id: data.yacht_id,\n    equipment_id: data.equipment_id,\n    equipment_name: data.equipment_name,\n    insight_type: 'threshold_alert',\n    title: `${data.equipment_name} - ${data.severity.toUpperCase()} Risk Alert`,\n    description: description,\n    recommendation: recommendation,\n    severity: data.severity,\n    metadata: data.contributing_factors,\n    risk_score: data.risk_score,\n    old_risk_score: data.old_risk_score,\n    event_trigger: data.event\n  }\n}];"
      },
      "id": "11b310ce-7c83-48cd-8278-4d2e42e9b54d",
      "name": "G. Generate Insight",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        1360
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO predictive_insights (yacht_id, equipment_id, insight_type, title, description, recommendation, severity, metadata, created_at) VALUES ('{{ $json.yacht_id }}', '{{ $json.equipment_id }}', '{{ $json.insight_type }}', '{{ $json.title }}', '{{ $json.description }}', '{{ $json.recommendation }}', '{{ $json.severity }}', '{{ $json.metadata }}'::jsonb, NOW()) RETURNING id",
        "options": {}
      },
      "id": "71ff3b4f-a00c-430d-aa74-bab3e9a3b4bd",
      "name": "G. Insert Insight",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        20,
        1360
      ],
      "credentials": {
        "postgres": {
          "id": "aWIDhHpJCpC97WzF",
          "name": "Cloud PMS"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_WEBHOOK_URL || 'https://api.celeste7.ai/webhook' }}/internal/micro-action-dispatch",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "insight_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "equipment_id",
              "value": "={{ $('G. Generate Insight').item.json.equipment_id }}"
            },
            {
              "name": "yacht_id",
              "value": "={{ $('G. Generate Insight').item.json.yacht_id }}"
            },
            {
              "name": "severity",
              "value": "={{ $('G. Generate Insight').item.json.severity }}"
            },
            {
              "name": "equipment_name",
              "value": "={{ $('G. Generate Insight').item.json.equipment_name }}"
            },
            {
              "name": "title",
              "value": "={{ $('G. Generate Insight').item.json.title }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "74d7a49d-864b-4ee1-8b69-2704af3b795b",
      "name": "H. Call Micro-Action Dispatcher",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        240,
        1360
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, equipment_id: $('B/C. Calculate Risk Score').item.json.equipment_id, risk_score: $('B/C. Calculate Risk Score').item.json.risk_score, threshold_crossed: $('B/C. Calculate Risk Score').item.json.threshold_crossed || null, insight_generated: true }) }}",
        "options": {}
      },
      "id": "b4d27c11-a6f3-43d9-bb56-cab73df958dc",
      "name": "Respond (With Insight)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        460,
        1360
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, equipment_id: $('B/C. Calculate Risk Score').item.json.equipment_id, risk_score: $('B/C. Calculate Risk Score').item.json.risk_score, threshold_crossed: null, insight_generated: false }) }}",
        "options": {}
      },
      "id": "e50ad218-9d2b-4156-a7b4-46334c5d6b46",
      "name": "Respond (No Insight)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -200,
        1560
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "internal/predictive-event",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "ead8b177-ca41-49a8-9e8c-c34b4515fbd3",
      "name": "POST /internal/predictive-event",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -1740,
        2530.5
      ],
      "webhookId": "predictive-event"
    },
    {
      "parameters": {
        "jsCode": "// Validate payload\nconst body = $input.first().json.body || $input.first().json;\n\nconst event = body.event;\nconst equipment_id = body.equipment_id;\nconst yacht_id = body.yacht_id;\n\nif (!event || !equipment_id || !yacht_id) {\n  return [{\n    json: {\n      valid: false,\n      error: 'Missing required fields: event, equipment_id, yacht_id'\n    }\n  }];\n}\n\nconst validEvents = [\n  'fault_created',\n  'fault_resolved',\n  'wo_created',\n  'wo_updated',\n  'wo_overdue',\n  'wo_completed',\n  'note_added',\n  'part_used'\n];\n\nif (!validEvents.includes(event)) {\n  return [{\n    json: {\n      valid: false,\n      error: `Invalid event type: ${event}. Valid: ${validEvents.join(', ')}`\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    valid: true,\n    event,\n    equipment_id,\n    yacht_id,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "0c2d9ee8-ff86-4573-beba-29d89cab3989",
      "name": "Validate Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1520,
        2530.5
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "valid_check",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "10a95030-4955-4872-80eb-40e53b7c60ab",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1300,
        2530.5
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.error }) }}",
        "options": {}
      },
      "id": "be1fca46-721c-48ff-ab7f-2c7d34127183",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -1080,
        2641
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {},
            {},
            {},
            {}
          ]
        },
        "options": {
          "allMatchingOutputs": false
        }
      },
      "id": "d68f5830-25c1-40a1-8887-81bc6d443533",
      "name": "Switch Event Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -1080,
        2399
      ]
    },
    {
      "parameters": {
        "jsCode": "// Determine signal weight adjustment based on event\nconst data = $input.first().json;\n\nlet signal_weight = 'fault_signal';\nlet weight_delta = 0.035; // 10% of fault weight\n\nif (data.event === 'fault_resolved') {\n  weight_delta = -0.02; // Slight decrease on resolution\n}\n\nreturn [{\n  json: {\n    ...data,\n    signal_weight,\n    weight_delta,\n    event_category: 'fault'\n  }\n}];"
      },
      "id": "ebd1014f-7a2a-4281-9888-c11920a0dbdd",
      "name": "Fault Weight",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -860,
        2120
      ]
    },
    {
      "parameters": {
        "jsCode": "// Determine signal weight adjustment based on event\nconst data = $input.first().json;\n\nlet signal_weight = 'work_order_signal';\nlet weight_delta = 0.025; // Base WO weight\n\nswitch(data.event) {\n  case 'wo_overdue':\n    weight_delta = 0.05; // Higher impact for overdue\n    break;\n  case 'wo_completed':\n    weight_delta = -0.03; // Decrease on completion\n    break;\n  case 'wo_created':\n    weight_delta = 0.015;\n    break;\n  default:\n    weight_delta = 0.02;\n}\n\nreturn [{\n  json: {\n    ...data,\n    signal_weight,\n    weight_delta,\n    event_category: 'work_order'\n  }\n}];"
      },
      "id": "66f9a983-7569-4619-883c-f0f0f4796bed",
      "name": "WO Weight",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -860,
        2320
      ]
    },
    {
      "parameters": {
        "jsCode": "// Note signal weight\nconst data = $input.first().json;\n\nreturn [{\n  json: {\n    ...data,\n    signal_weight: 'notes_signal',\n    weight_delta: 0.015,\n    event_category: 'note'\n  }\n}];"
      },
      "id": "b49ea270-d729-4f94-a876-a67aece8c684",
      "name": "Note Weight",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -860,
        2520
      ]
    },
    {
      "parameters": {
        "jsCode": "// Part usage signal weight\nconst data = $input.first().json;\n\nreturn [{\n  json: {\n    ...data,\n    signal_weight: 'part_signal',\n    weight_delta: 0.01,\n    event_category: 'part'\n  }\n}];"
      },
      "id": "2521351d-6c28-466d-8eec-778f0c30e086",
      "name": "Part Weight",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -860,
        2720
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": []
        },
        "joinMode": "keepEverything",
        "options": {}
      },
      "id": "bbe67684-9b55-4546-a538-d3bf86d009dd",
      "name": "Merge All",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -640,
        2320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_WEBHOOK_URL || 'https://api.celeste7.ai/webhook' }}/internal/predictive-recompute",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "equipment_id",
              "value": "={{ $json.equipment_id }}"
            },
            {
              "name": "yacht_id",
              "value": "={{ $json.yacht_id }}"
            },
            {
              "name": "event",
              "value": "={{ $json.event }}"
            },
            {
              "name": "event_category",
              "value": "={{ $json.event_category }}"
            },
            {
              "name": "signal_weight",
              "value": "={{ $json.signal_weight }}"
            },
            {
              "name": "weight_delta",
              "value": "={{ $json.weight_delta }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "dd5d6b97-5794-4a39-a88f-759221679c8c",
      "name": "Call Recompute Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -420,
        2320
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Event processed', equipment_id: $('Validate Payload').item.json.equipment_id }) }}",
        "options": {}
      },
      "id": "fd66bc60-bcdc-475d-9037-1545116d606c",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -200,
        2320
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "1d1bad54-15b3-44d3-b19c-813b750dad8d",
      "name": "Daily at Midnight",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1740,
        3080
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id as equipment_id, yacht_id, name FROM equipment WHERE yacht_id IS NOT NULL ORDER BY yacht_id, name",
        "options": {}
      },
      "id": "0167d550-da07-4553-a868-d20e63f6002e",
      "name": "Get All Equipment",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -1520,
        3080
      ],
      "credentials": {
        "postgres": {
          "id": "aWIDhHpJCpC97WzF",
          "name": "Cloud PMS"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "id": "f2e4bc48-08ec-4cd7-bab5-3b669c8ddc48",
      "name": "Split Into Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1300,
        3080
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_WEBHOOK_URL || 'https://api.celeste7.ai/webhook' }}/internal/predictive-recompute",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "equipment_id",
              "value": "={{ $json.equipment_id }}"
            },
            {
              "name": "yacht_id",
              "value": "={{ $json.yacht_id }}"
            },
            {
              "name": "event",
              "value": "safety_pass"
            },
            {
              "name": "event_category",
              "value": "manual"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 5
            }
          },
          "timeout": 30000
        }
      },
      "id": "9ae47de7-adf8-401e-9244-50c1474b1334",
      "name": "Call Recompute for Each",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1080,
        2980
      ]
    },
    {
      "parameters": {
        "jsCode": "// Aggregate results\nconst items = $input.all();\nconst success = items.filter(i => i.json.success).length;\nconst failed = items.filter(i => !i.json.success).length;\n\nreturn [{\n  json: {\n    total_processed: items.length,\n    success_count: success,\n    failed_count: failed,\n    completed_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "e562b992-29af-4571-a9a4-5601c1b373ab",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1080,
        3180
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO system_logs (event_type, event_data, created_at) VALUES ('predictive_safety_pass', '{{ JSON.stringify($json) }}'::jsonb, NOW())",
        "options": {}
      },
      "id": "a2682599-8cf4-4f13-b87d-5eb4feed1872",
      "name": "Log Completion",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -860,
        3180
      ],
      "credentials": {
        "postgres": {
          "id": "aWIDhHpJCpC97WzF",
          "name": "Cloud PMS"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "internal/micro-action-dispatch",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "89b2353d-c0ba-4e26-97e4-6b39aafc698e",
      "name": "POST /internal/micro-action-dispatch",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -1740,
        3940
      ],
      "webhookId": "micro-action-dispatch"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {},
            {},
            {}
          ]
        },
        "options": {
          "allMatchingOutputs": false
        }
      },
      "id": "bbef8039-9d13-42d0-8121-0200dfa36ff5",
      "name": "Switch Severity",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -1300,
        3940
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO handover_items (yacht_id, equipment_id, title, description, priority, status, source, source_id, created_at) VALUES ('{{ $node[\"Extract Input\"].json.yacht_id }}', '{{ $node[\"Extract Input\"].json.equipment_id }}', '{{ $node[\"Extract Input\"].json.title }}', 'Auto-generated from predictive engine threshold crossing', 'critical', 'pending', 'predictive_engine', '{{ $node[\"Extract Input\"].json.insight_id }}', NOW()) ON CONFLICT DO NOTHING",
        "options": {}
      },
      "id": "bfa5102c-addf-41a8-879f-59f111563997",
      "name": "Insert Handover (Critical)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -1080,
        3440
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO notifications (yacht_id, user_id, title, message, type, priority, metadata, created_at) SELECT '{{ $node[\"Extract Input\"].json.yacht_id }}', u.id, '{{ $node[\"Extract Input\"].json.title }}', 'Critical risk detected on {{ $node[\"Extract Input\"].json.equipment_name }}. Immediate action required.', 'risk_alert', 'critical', jsonb_build_object('equipment_id', '{{ $node[\"Extract Input\"].json.equipment_id }}', 'insight_id', '{{ $node[\"Extract Input\"].json.insight_id }}'), NOW() FROM users u JOIN yacht_crew yc ON u.id = yc.user_id WHERE yc.yacht_id = '{{ $node[\"Extract Input\"].json.yacht_id }}' AND yc.role IN ('captain', 'chief_engineer', 'eto')",
        "options": {}
      },
      "id": "6a11c424-dfd7-420d-b81c-7f5a96fdde15",
      "name": "Create Notifications (Critical)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -1080,
        3640
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE equipment SET attention_flag = true, attention_reason = 'Critical risk threshold crossed', attention_updated_at = NOW() WHERE id = '{{ $node[\"Extract Input\"].json.equipment_id }}'",
        "options": {}
      },
      "id": "0c8f23c6-38d7-4c7c-9fe2-3efacb977d83",
      "name": "Flag Equipment (Critical)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -1080,
        3840
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO handover_items (yacht_id, equipment_id, title, description, priority, status, source, source_id, created_at) VALUES ('{{ $node[\"Extract Input\"].json.yacht_id }}', '{{ $node[\"Extract Input\"].json.equipment_id }}', '{{ $node[\"Extract Input\"].json.title }}', 'Auto-generated from predictive engine threshold crossing', 'high', 'pending', 'predictive_engine', '{{ $node[\"Extract Input\"].json.insight_id }}', NOW()) ON CONFLICT DO NOTHING",
        "options": {}
      },
      "id": "7081ea15-3259-4e61-a214-8046a7398c45",
      "name": "Insert Handover (High)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -1080,
        4040
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO search_suggestions (yacht_id, equipment_id, suggestion_text, priority, category, metadata, expires_at, created_at) VALUES ('{{ $node[\"Extract Input\"].json.yacht_id }}', '{{ $node[\"Extract Input\"].json.equipment_id }}', 'Check {{ $node[\"Extract Input\"].json.equipment_name }} - elevated risk detected', 10, 'predictive_alert', jsonb_build_object('insight_id', '{{ $node[\"Extract Input\"].json.insight_id }}', 'severity', '{{ $node[\"Extract Input\"].json.severity }}'), NOW() + INTERVAL '7 days', NOW()) ON CONFLICT DO NOTHING",
        "options": {}
      },
      "id": "9da5395f-d2de-4aa0-b007-4ea33e606c78",
      "name": "Add Search Priority (High)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -1080,
        4240
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO search_suggestions (yacht_id, equipment_id, suggestion_text, priority, category, metadata, expires_at, created_at) VALUES ('{{ $node[\"Extract Input\"].json.yacht_id }}', '{{ $node[\"Extract Input\"].json.equipment_id }}', 'Monitor {{ $node[\"Extract Input\"].json.equipment_name }} - risk increasing', 5, 'predictive_alert', jsonb_build_object('insight_id', '{{ $node[\"Extract Input\"].json.insight_id }}', 'severity', '{{ $node[\"Extract Input\"].json.severity }}'), NOW() + INTERVAL '7 days', NOW()) ON CONFLICT DO NOTHING",
        "options": {}
      },
      "id": "a37d87dc-d535-4ad5-974e-0ccf510f734e",
      "name": "Add Search Priority (Elevated)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -1080,
        4440
      ]
    },
    {
      "parameters": {
        "jsCode": "// Collect results for critical actions\nreturn [{ json: { actions: ['handover', 'notification', 'equipment_flag'], severity: 'critical' } }];"
      },
      "id": "6a72ec67-f971-45ae-81ae-8694ff63b044",
      "name": "Merge Critical Actions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -860,
        3640
      ]
    },
    {
      "parameters": {
        "jsCode": "// Collect results for high actions\nreturn [{ json: { actions: ['handover', 'search_priority'], severity: 'high' } }];"
      },
      "id": "2901be6e-bfd1-443a-8252-047f2e84d1d5",
      "name": "Merge High Actions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -860,
        4140
      ]
    },
    {
      "parameters": {
        "jsCode": "// Collect results for elevated actions\nreturn [{ json: { actions: ['search_priority'], severity: 'elevated' } }];"
      },
      "id": "ea1d22d5-4861-4a60-aa8e-aee0847f2232",
      "name": "Merge Elevated Actions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -860,
        4440
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": []
        },
        "joinMode": "keepEverything",
        "options": {}
      },
      "id": "ce27024a-510c-4ebe-b209-7bab4555e26a",
      "name": "Merge All Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -640,
        4140
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, equipment_id: $node[\"Extract Input1\"].json.equipment_id, severity: $node[\"Extract Input1\"].json.severity, actions_triggered: $json.actions || ['completed'] }) }}",
        "options": {}
      },
      "id": "00b7a8d0-f483-4fca-b08d-5598b70d0bbc",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -420,
        4140
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract input\nconst body = $input.first().json.body || $input.first().json;\n\nreturn [{\n  json: {\n    insight_id: body.insight_id,\n    equipment_id: body.equipment_id,\n    yacht_id: body.yacht_id,\n    severity: body.severity,\n    equipment_name: body.equipment_name || 'Unknown Equipment',\n    title: body.title || 'Risk Alert'\n  }\n}];"
      },
      "id": "4f4b7d7a-259e-4807-a46f-31d29201e725",
      "name": "Extract Input1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1520,
        3940
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "internal/predictive-recompute",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "bce9e7b3-0eea-4c37-b602-01ddfe1633e0",
      "name": "POST /internal/predictive-recompute1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -1740,
        5100
      ],
      "webhookId": "predictive-recompute"
    },
    {
      "parameters": {
        "jsCode": "// Extract and validate input\nconst body = $input.first().json.body || $input.first().json;\n\nreturn [{\n  json: {\n    equipment_id: body.equipment_id,\n    yacht_id: body.yacht_id,\n    event: body.event || 'manual',\n    event_category: body.event_category || 'manual',\n    signal_weight: body.signal_weight,\n    weight_delta: body.weight_delta || 0\n  }\n}];"
      },
      "id": "2a4c7d2f-aa36-4b5a-8b25-5988658ee5fa",
      "name": "Extract Input2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1520,
        5100
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, yacht_id, name, system_type, manufacturer, criticality FROM equipment WHERE id = '{{ $json.equipment_id }}'",
        "options": {}
      },
      "id": "f9aa9f45-9e9f-4d8d-ba28-ecf2f15066cb",
      "name": "A. Get Equipment1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -1300,
        4700
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as fault_count FROM faults WHERE equipment_id = '{{ $node[\"Extract Input\"].json.equipment_id }}' AND detected_at > NOW() - INTERVAL '90 days'",
        "options": {}
      },
      "id": "cd4372d9-3d17-4788-8821-8f8d8e3ea489",
      "name": "A. Get Faults (90d)1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -1300,
        4900
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as wo_count, COUNT(*) FILTER (WHERE due_date < CURRENT_DATE AND status NOT IN ('completed', 'cancelled')) as overdue_count, COUNT(*) FILTER (WHERE type = 'corrective') as corrective_count FROM work_orders WHERE equipment_id = '{{ $node[\"Extract Input\"].json.equipment_id }}' AND created_at > NOW() - INTERVAL '90 days'",
        "options": {}
      },
      "id": "b1c250df-b93a-4831-844f-c656bfd24f49",
      "name": "A. Get Work Orders (90d)1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -1300,
        5100
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as note_count FROM notes WHERE equipment_id = '{{ $node[\"Extract Input\"].json.equipment_id }}' AND created_at > NOW() - INTERVAL '90 days'",
        "options": {}
      },
      "id": "3d6426ff-925b-4466-9e48-88d10e43084e",
      "name": "A. Get Notes (90d)1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -1300,
        5300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT risk_score as old_risk_score, confidence as old_confidence, contributing_factors as old_factors FROM predictive_state WHERE equipment_id = '{{ $node[\"Extract Input\"].json.equipment_id }}' AND yacht_id = '{{ $node[\"Extract Input\"].json.yacht_id }}'",
        "options": {}
      },
      "id": "49116bc6-62de-4fbc-86d4-82932c00ce8b",
      "name": "D. Get Previous State1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -1300,
        5500
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": []
        },
        "joinMode": "keepEverything",
        "options": {}
      },
      "id": "1c54d84d-399d-439f-858c-3d50e798c71e",
      "name": "Merge All Data1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -1080,
        5100
      ]
    },
    {
      "parameters": {
        "jsCode": "// B & C: Calculate risk score from all signals\nconst items = $input.all();\nconst inputNode = $node[\"Extract Input2\"];\nconst inputData = inputNode ? inputNode.json : {};\n\n// Aggregate data from all queries\nlet equipment = {};\nlet faultCount = 0;\nlet woCount = 0;\nlet overdueCount = 0;\nlet correctiveCount = 0;\nlet noteCount = 0;\nlet oldRiskScore = 0;\nlet oldConfidence = 0;\nlet oldFactors = {};\n\nfor (const item of items) {\n  const d = item.json;\n  if (d.name) equipment = d;\n  if (d.fault_count !== undefined) faultCount = parseInt(d.fault_count) || 0;\n  if (d.wo_count !== undefined) {\n    woCount = parseInt(d.wo_count) || 0;\n    overdueCount = parseInt(d.overdue_count) || 0;\n    correctiveCount = parseInt(d.corrective_count) || 0;\n  }\n  if (d.note_count !== undefined) noteCount = parseInt(d.note_count) || 0;\n  if (d.old_risk_score !== undefined) {\n    oldRiskScore = parseFloat(d.old_risk_score) || 0;\n    oldConfidence = parseFloat(d.old_confidence) || 0;\n    oldFactors = typeof d.old_factors === 'string' ? JSON.parse(d.old_factors || '{}') : (d.old_factors || {});\n  }\n}\n\n// B: Calculate signals (0-1 normalized)\nconst faultSignal = Math.min(faultCount / 10, 1.0);\nconst woSignal = Math.min(overdueCount / 5, 1.0);\nconst notesSignal = Math.min(noteCount / 10, 1.0);\nconst correctiveSignal = Math.min(correctiveCount / 5, 1.0);\n\nconst criticality = equipment.criticality || 'low';\nconst criticalitySignal = criticality === 'high' ? 1.0 : criticality === 'medium' ? 0.5 : 0.2;\n\n// C: Compute weighted risk score\nconst riskScore = (\n  0.35 * faultSignal +\n  0.25 * woSignal +\n  0.15 * notesSignal +\n  0.15 * correctiveSignal +\n  0.10 * criticalitySignal\n);\n\n// Confidence based on data availability\nlet dataPoints = 0;\nif (faultCount > 0) dataPoints++;\nif (woCount > 0) dataPoints++;\nif (noteCount > 0) dataPoints++;\nconst confidence = Math.min((dataPoints + 1) / 4, 1.0);\n\n// Contributing factors\nconst contributingFactors = {\n  fault_signal: Math.round(faultSignal * 1000) / 1000,\n  work_order_signal: Math.round(woSignal * 1000) / 1000,\n  notes_signal: Math.round(notesSignal * 1000) / 1000,\n  corrective_signal: Math.round(correctiveSignal * 1000) / 1000,\n  criticality_signal: Math.round(criticalitySignal * 1000) / 1000,\n  fault_count: faultCount,\n  overdue_count: overdueCount,\n  note_count: noteCount,\n  corrective_count: correctiveCount\n};\n\n// F: Threshold crossing detection\nlet thresholdCrossed = null;\nlet severity = null;\n\nif (oldRiskScore < 0.75 && riskScore >= 0.75) {\n  thresholdCrossed = 'critical';\n  severity = 'critical';\n} else if (oldRiskScore < 0.60 && riskScore >= 0.60) {\n  thresholdCrossed = 'high';\n  severity = 'high';\n} else if (oldRiskScore < 0.45 && riskScore >= 0.45) {\n  thresholdCrossed = 'elevated';\n  severity = 'elevated';\n}\n\nreturn [{\n  json: {\n    equipment_id: inputData.equipment_id,\n    yacht_id: inputData.yacht_id,\n    equipment_name: equipment.name || 'Unknown',\n    event: inputData.event,\n    risk_score: Math.round(riskScore * 10000) / 10000,\n    old_risk_score: oldRiskScore,\n    confidence: Math.round(confidence * 1000) / 1000,\n    contributing_factors: JSON.stringify(contributingFactors),\n    last_calculated_at: new Date().toISOString(),\n    threshold_crossed: thresholdCrossed,\n    severity: severity\n  }\n}];"
      },
      "id": "9f570f70-63dc-44b9-9cc9-8a200fc927b3",
      "name": "B/C. Calculate Risk Score1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -860,
        5100
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO predictive_state (yacht_id, equipment_id, risk_score, confidence, contributing_factors, last_calculated_at, updated_at) VALUES ('{{ $json.yacht_id }}', '{{ $json.equipment_id }}', {{ $json.risk_score }}, {{ $json.confidence }}, '{{ $json.contributing_factors }}'::jsonb, '{{ $json.last_calculated_at }}', NOW()) ON CONFLICT (yacht_id, equipment_id) DO UPDATE SET risk_score = EXCLUDED.risk_score, confidence = EXCLUDED.confidence, contributing_factors = EXCLUDED.contributing_factors, last_calculated_at = EXCLUDED.last_calculated_at, updated_at = NOW() RETURNING id",
        "options": {}
      },
      "id": "4cbdb946-c7a2-4a31-af11-041770dd5ec2",
      "name": "E. UPSERT predictive_state1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -640,
        5100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "threshold_check",
              "leftValue": "={{ $node[\"B/C. Calculate Risk Score1\"].json.threshold_crossed }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b5f340e1-5753-406a-83f2-d47124c1309d",
      "name": "F. Threshold Crossed?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -420,
        5100
      ]
    },
    {
      "parameters": {
        "jsCode": "// G: Generate insight for threshold crossing\nconst calcNode = $node[\"B/C. Calculate Risk Score1\"];\nconst data = calcNode ? calcNode.json : {};\nconst factors = JSON.parse(data.contributing_factors || '{}');\n\n// Build description\nconst issues = [];\nif (factors.fault_signal > 0.5) issues.push('high fault frequency');\nif (factors.work_order_signal > 0.5) issues.push('overdue maintenance tasks');\nif (factors.notes_signal > 0.5) issues.push('frequent crew concerns');\nif (factors.corrective_signal > 0.5) issues.push('recurring repairs');\n\nconst description = issues.length > 0 \n  ? `Risk threshold crossed. Contributing factors: ${issues.join(', ')}.`\n  : 'Risk threshold crossed due to multiple minor indicators.';\n\nconst recommendation = data.severity === 'critical'\n  ? 'Immediate inspection required. Check fault history and schedule maintenance.'\n  : data.severity === 'high'\n    ? 'Schedule inspection within 48 hours. Review recent work orders.'\n    : 'Monitor closely. Consider preventive inspection.';\n\nreturn [{\n  json: {\n    yacht_id: data.yacht_id,\n    equipment_id: data.equipment_id,\n    equipment_name: data.equipment_name,\n    insight_type: 'threshold_alert',\n    title: `${data.equipment_name} - ${(data.severity || 'unknown').toUpperCase()} Risk Alert`,\n    description: description,\n    recommendation: recommendation,\n    severity: data.severity,\n    metadata: data.contributing_factors,\n    risk_score: data.risk_score,\n    old_risk_score: data.old_risk_score,\n    event_trigger: data.event\n  }\n}];"
      },
      "id": "99d15f13-ce7f-46b7-99e8-68869eb95fdd",
      "name": "G. Generate Insight1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        5000
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO predictive_insights (yacht_id, equipment_id, insight_type, title, description, recommendation, severity, metadata, created_at) VALUES ('{{ $json.yacht_id }}', '{{ $json.equipment_id }}', '{{ $json.insight_type }}', '{{ $json.title }}', '{{ $json.description }}', '{{ $json.recommendation }}', '{{ $json.severity }}', '{{ $json.metadata }}'::jsonb, NOW()) RETURNING id",
        "options": {}
      },
      "id": "cd4a9ba7-5d30-49de-b901-1d27f50e5944",
      "name": "G. Insert Insight1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        20,
        5000
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_WEBHOOK_URL || 'https://api.celeste7.ai/webhook' }}/internal/micro-action-dispatch",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "insight_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "equipment_id",
              "value": "={{ $node[\"G. Generate Insight1\"].json.equipment_id }}"
            },
            {
              "name": "yacht_id",
              "value": "={{ $node[\"G. Generate Insight1\"].json.yacht_id }}"
            },
            {
              "name": "severity",
              "value": "={{ $node[\"G. Generate Insight1\"].json.severity }}"
            },
            {
              "name": "equipment_name",
              "value": "={{ $node[\"G. Generate Insight1\"].json.equipment_name }}"
            },
            {
              "name": "title",
              "value": "={{ $node[\"G. Generate Insight1\"].json.title }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "b2d847ba-57ae-44cf-8f02-c98edf4e8022",
      "name": "H. Call Micro-Action Dispatcher1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        240,
        5000
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, equipment_id: $node[\"B/C. Calculate Risk Score1\"].json.equipment_id, risk_score: $node[\"B/C. Calculate Risk Score1\"].json.risk_score, threshold_crossed: $node[\"B/C. Calculate Risk Score1\"].json.threshold_crossed || null, insight_generated: true }) }}",
        "options": {}
      },
      "id": "36c8d482-fc66-4337-b687-873f7b854283",
      "name": "Respond (With Insight)1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        460,
        5000
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, equipment_id: $node[\"B/C. Calculate Risk Score1\"].json.equipment_id, risk_score: $node[\"B/C. Calculate Risk Score1\"].json.risk_score, threshold_crossed: null, insight_generated: false }) }}",
        "options": {}
      },
      "id": "0e661185-a644-4d49-bb3c-c3e6dea7ef00",
      "name": "Respond (No Insight)1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -200,
        5200
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "POST /internal/predictive-recompute": {
      "main": [
        [
          {
            "node": "Extract Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Input": {
      "main": [
        [
          {
            "node": "A. Get Equipment",
            "type": "main",
            "index": 0
          },
          {
            "node": "A. Get Faults (90d)",
            "type": "main",
            "index": 0
          },
          {
            "node": "A. Get Work Orders (90d)",
            "type": "main",
            "index": 0
          },
          {
            "node": "A. Get Notes (90d)",
            "type": "main",
            "index": 0
          },
          {
            "node": "D. Get Previous State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A. Get Equipment": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A. Get Faults (90d)": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A. Get Work Orders (90d)": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A. Get Notes (90d)": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "D. Get Previous State": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Data": {
      "main": [
        [
          {
            "node": "B/C. Calculate Risk Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "B/C. Calculate Risk Score": {
      "main": [
        [
          {
            "node": "E. UPSERT predictive_state",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "E. UPSERT predictive_state": {
      "main": [
        [
          {
            "node": "F. Threshold Crossed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "F. Threshold Crossed?": {
      "main": [
        [
          {
            "node": "G. Generate Insight",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond (No Insight)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "G. Generate Insight": {
      "main": [
        [
          {
            "node": "G. Insert Insight",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "G. Insert Insight": {
      "main": [
        [
          {
            "node": "H. Call Micro-Action Dispatcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "H. Call Micro-Action Dispatcher": {
      "main": [
        [
          {
            "node": "Respond (With Insight)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /internal/predictive-event": {
      "main": [
        [
          {
            "node": "Validate Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Payload": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Switch Event Type",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Event Type": {
      "main": [
        [
          {
            "node": "Fault Weight",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WO Weight",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Note Weight",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Part Weight",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fault Weight": {
      "main": [
        [
          {
            "node": "Merge All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WO Weight": {
      "main": [
        [
          {
            "node": "Merge All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Note Weight": {
      "main": [
        [
          {
            "node": "Merge All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Part Weight": {
      "main": [
        [
          {
            "node": "Merge All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All": {
      "main": [
        [
          {
            "node": "Call Recompute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Recompute Workflow": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily at Midnight": {
      "main": [
        [
          {
            "node": "Get All Equipment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Equipment": {
      "main": [
        [
          {
            "node": "Split Into Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Into Batches": {
      "main": [
        [
          {
            "node": "Call Recompute for Each",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Recompute for Each": {
      "main": [
        [
          {
            "node": "Split Into Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Log Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /internal/micro-action-dispatch": {
      "main": [
        [
          {
            "node": "Extract Input1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Severity": {
      "main": [
        [
          {
            "node": "Insert Handover (Critical)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Notifications (Critical)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Flag Equipment (Critical)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert Handover (High)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Add Search Priority (High)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Search Priority (Elevated)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Handover (Critical)": {
      "main": [
        [
          {
            "node": "Merge Critical Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Notifications (Critical)": {
      "main": [
        [
          {
            "node": "Merge Critical Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flag Equipment (Critical)": {
      "main": [
        [
          {
            "node": "Merge Critical Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Handover (High)": {
      "main": [
        [
          {
            "node": "Merge High Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Search Priority (High)": {
      "main": [
        [
          {
            "node": "Merge High Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Search Priority (Elevated)": {
      "main": [
        [
          {
            "node": "Merge Elevated Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Critical Actions": {
      "main": [
        [
          {
            "node": "Merge All Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge High Actions": {
      "main": [
        [
          {
            "node": "Merge All Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Elevated Actions": {
      "main": [
        [
          {
            "node": "Merge All Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Results": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Input1": {
      "main": [
        [
          {
            "node": "Switch Severity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /internal/predictive-recompute1": {
      "main": [
        [
          {
            "node": "Extract Input2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Input2": {
      "main": [
        [
          {
            "node": "A. Get Equipment1",
            "type": "main",
            "index": 0
          },
          {
            "node": "A. Get Faults (90d)1",
            "type": "main",
            "index": 0
          },
          {
            "node": "A. Get Work Orders (90d)1",
            "type": "main",
            "index": 0
          },
          {
            "node": "A. Get Notes (90d)1",
            "type": "main",
            "index": 0
          },
          {
            "node": "D. Get Previous State1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A. Get Equipment1": {
      "main": [
        [
          {
            "node": "Merge All Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A. Get Faults (90d)1": {
      "main": [
        [
          {
            "node": "Merge All Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A. Get Work Orders (90d)1": {
      "main": [
        [
          {
            "node": "Merge All Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A. Get Notes (90d)1": {
      "main": [
        [
          {
            "node": "Merge All Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "D. Get Previous State1": {
      "main": [
        [
          {
            "node": "Merge All Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Data1": {
      "main": [
        [
          {
            "node": "B/C. Calculate Risk Score1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "B/C. Calculate Risk Score1": {
      "main": [
        [
          {
            "node": "E. UPSERT predictive_state1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "E. UPSERT predictive_state1": {
      "main": [
        [
          {
            "node": "F. Threshold Crossed?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "F. Threshold Crossed?1": {
      "main": [
        [
          {
            "node": "G. Generate Insight1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond (No Insight)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "G. Generate Insight1": {
      "main": [
        [
          {
            "node": "G. Insert Insight1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "G. Insert Insight1": {
      "main": [
        [
          {
            "node": "H. Call Micro-Action Dispatcher1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "H. Call Micro-Action Dispatcher1": {
      "main": [
        [
          {
            "node": "Respond (With Insight)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b6a14a22-ec8d-4005-a8fd-ba82e95931da",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6385a73eae1665b82318a3c042d3a51d9597ca6c6d39690ed8a47ce1aa6e47e3"
  },
  "id": "oxOlQ3Vzg41QyBrw",
  "tags": []
}