n8n/CelesteOS_Ingest_Complete.json
{
  "name": "CelesteOS - Ingest Complete",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "v1/ingest/complete",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-complete",
      "name": "Webhook - Ingest Complete",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "ingest-complete"
    },
    {
      "parameters": {
        "jsCode": "// Validate request\nconst headers = $input.item.json.headers;\nconst body = $input.item.json.body;\n\nconst yachtSignature = headers['x-yacht-signature'] || headers['X-Yacht-Signature'];\n\nif (!yachtSignature) throw new Error('Missing X-Yacht-Signature header');\nif (!body.upload_id) throw new Error('Missing upload_id');\nif (!body.total_chunks || body.total_chunks <= 0) throw new Error('Invalid total_chunks');\nif (!body.sha256 || body.sha256.length !== 64) throw new Error('Invalid sha256');\nif (!body.filename) throw new Error('Missing filename');\n\nreturn {\n  yacht_signature: yachtSignature,\n  upload_id: body.upload_id,\n  total_chunks: body.total_chunks,\n  sha256: body.sha256.toLowerCase(),\n  filename: body.filename\n};"
      },
      "id": "validate-complete-request",
      "name": "Validate Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "select",
        "tableId": "upload_sessions",
        "filterType": "string",
        "filterString": "id=eq.{{ $json.upload_id }}",
        "returnAll": false,
        "limit": 1
      },
      "id": "get-session-complete",
      "name": "Get Upload Session",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [680, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-creds",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "session-exists",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-session-complete",
      "name": "Session Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// Comprehensive integrity checks\nconst session = $('Get Upload Session').first().json;\nconst input = $('Validate Request').first().json;\n\n// CHECK 1: Session status\nif (!['INITIATED', 'UPLOADING'].includes(session.status)) {\n  throw new Error(`Upload is in state '${session.status}', cannot complete`);\n}\n\n// CHECK 2: total_chunks matches expected_chunks\nif (input.total_chunks !== session.expected_chunks) {\n  throw new Error(`total_chunks mismatch: request says ${input.total_chunks}, init expected ${session.expected_chunks}`);\n}\n\n// CHECK 3: All chunks received\nconst chunksReceivedSet = session.chunks_received_set || [];\nconst expectedChunks = Array.from({ length: session.expected_chunks }, (_, i) => i);\nconst missingChunks = expectedChunks.filter(i => !chunksReceivedSet.includes(i));\n\nif (missingChunks.length > 0) {\n  const preview = missingChunks.slice(0, 10);\n  throw new Error(`Missing ${missingChunks.length} chunks. Missing indices: [${preview.join(', ')}]${missingChunks.length > 10 ? '...' : ''}`);\n}\n\n// CHECK 4: SHA256 matches\nif (session.file_sha256 !== input.sha256) {\n  throw new Error(`SHA256 mismatch: init=${session.file_sha256.substring(0, 16)}..., complete=${input.sha256.substring(0, 16)}...`);\n}\n\n// CHECK 5: Filename consistency (warn only)\nif (session.filename !== input.filename) {\n  console.log(`Warning: Filename changed from '${session.filename}' to '${input.filename}'`);\n}\n\n// Prepare for assembly\nconst now = new Date().toISOString();\nconst documentId = crypto.randomUUID ? crypto.randomUUID() : \n  'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n    const r = Math.random() * 16 | 0;\n    return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);\n  });\n\n// Storage path for final assembled file\nconst storagePath = `yachts/${session.yacht_id}/raw/${session.file_sha256}/${session.filename}`;\n\nreturn {\n  session: session,\n  input: input,\n  document_id: documentId,\n  storage_path: storagePath,\n  now: now\n};"
      },
      "id": "integrity-checks",
      "name": "Integrity Checks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "jsCode": "// Download and concatenate all chunks\n// Note: For large files, this should be done server-side\n// This is a simplified version for MVP\n\nconst validated = $input.first().json;\nconst session = validated.session;\nconst chunkCount = session.expected_chunks;\n\n// For n8n, we'll trigger a sub-workflow or external service\n// to handle the actual file assembly\n// Here we just prepare the assembly job\n\nconst assemblyJob = {\n  yacht_id: session.yacht_id,\n  upload_id: session.id,\n  chunk_prefix: session.storage_key,\n  expected_chunks: chunkCount,\n  expected_sha256: session.file_sha256,\n  output_path: validated.storage_path,\n  filename: session.filename\n};\n\nreturn {\n  ...validated,\n  assembly_job: assemblyJob\n};"
      },
      "id": "prepare-assembly",
      "name": "Prepare Assembly Job",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "documents",
        "fieldsToSend": "defineBelow",
        "fields": {
          "values": [
            {
              "name": "id",
              "value": "={{ $json.document_id }}"
            },
            {
              "name": "yacht_id",
              "value": "={{ $json.session.yacht_id }}"
            },
            {
              "name": "source",
              "value": "={{ $json.session.source }}"
            },
            {
              "name": "filename",
              "value": "={{ $json.session.filename }}"
            },
            {
              "name": "size_bytes",
              "value": "={{ $json.session.file_size }}"
            },
            {
              "name": "sha256",
              "value": "={{ $json.session.file_sha256 }}"
            },
            {
              "name": "storage_path",
              "value": "={{ $json.storage_path }}"
            },
            {
              "name": "indexed",
              "value": false
            },
            {
              "name": "status",
              "value": "ready_for_indexing"
            },
            {
              "name": "metadata",
              "value": "={{ JSON.stringify({ upload_id: $json.session.id, total_chunks: $json.session.expected_chunks }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "create-document",
      "name": "Create Document Record",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1560, 200],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-creds",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "upload_sessions",
        "filtersUI": {
          "filterValues": [
            {
              "keyName": "id",
              "keyValue": "={{ $('Integrity Checks').first().json.session.id }}"
            }
          ]
        },
        "fieldsToSend": "defineBelow",
        "fields": {
          "values": [
            {
              "name": "status",
              "value": "READY_FOR_INDEXING"
            },
            {
              "name": "updated_at",
              "value": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "update-session-complete",
      "name": "Update Session Status",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1780, 200],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-creds",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "={{ $env.INDEX_DOCUMENT_WORKFLOW_ID || 'CelesteOS_Index_Document' }}",
        "options": {}
      },
      "id": "trigger-indexing",
      "name": "Trigger Indexing",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [2000, 200]
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "document_ingestion_log",
        "fieldsToSend": "defineBelow",
        "fields": {
          "values": [
            {
              "name": "yacht_id",
              "value": "={{ $('Integrity Checks').first().json.session.yacht_id }}"
            },
            {
              "name": "upload_id",
              "value": "={{ $('Integrity Checks').first().json.session.id }}"
            },
            {
              "name": "document_id",
              "value": "={{ $('Integrity Checks').first().json.document_id }}"
            },
            {
              "name": "event_type",
              "value": "complete"
            },
            {
              "name": "status",
              "value": "completed"
            },
            {
              "name": "metadata",
              "value": "={{ JSON.stringify({ storage_path: $('Integrity Checks').first().json.storage_path, chunks_received: $('Integrity Checks').first().json.session.chunks_received, file_size: $('Integrity Checks').first().json.session.file_size }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "log-complete-event",
      "name": "Log Complete Event",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2000, 400],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-creds",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const validated = $('Integrity Checks').first().json;\n\nreturn {\n  document_id: validated.document_id,\n  status: 'received',\n  queued_for_indexing: true,\n  message: 'Document stored and queued for indexing'\n};"
      },
      "id": "format-complete-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-complete-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2440, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"detail\": \"Upload session not found or expired\" }",
        "options": {
          "responseCode": 404,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-complete-not-found",
      "name": "Respond Not Found",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 400]
    }
  ],
  "connections": {
    "Webhook - Ingest Complete": {
      "main": [
        [
          {
            "node": "Validate Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Request": {
      "main": [
        [
          {
            "node": "Get Upload Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Upload Session": {
      "main": [
        [
          {
            "node": "Session Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Session Exists?": {
      "main": [
        [
          {
            "node": "Integrity Checks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Integrity Checks": {
      "main": [
        [
          {
            "node": "Prepare Assembly Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Assembly Job": {
      "main": [
        [
          {
            "node": "Create Document Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Document Record": {
      "main": [
        [
          {
            "node": "Update Session Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Session Status": {
      "main": [
        [
          {
            "node": "Trigger Indexing",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Complete Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Indexing": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "id": "ingestion",
      "name": "ingestion"
    }
  ],
  "triggerCount": 0,
  "versionId": "1"
}
