docs/architecture/18_handover_buckets/MVP_Email_Handover.json
{
  "name": "Handover",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// n8n Code Node: Merge and Group Summaries by Category\n// This node merges AI summary output with original email metadata\n// and groups everything under category buckets.\n\nconst items = $input.all();\n\n// Initialize grouped structure\nconst grouped = {};\n\n// Process each AI response\nfor (const item of items) {\n  const ai = item.json;\n\n  // Ensure we have category\n  const category = ai.category || \"Uncategorized\";\n\n  if (!grouped[category]) {\n    grouped[category] = [];\n  }\n\n  // Merge AI summary with preserved original info if available\n  grouped[category].push({\n    shortId: ai.shortId || \"N/A\",\n    category: category,\n    subject: ai.subject || \"N/A\",\n    date: ai.date || \"N/A\",\n    sender: ai.sender || \"N/A\",\n    attachment: ai.attachment || false,\n    summary: ai.summary || \"No summary provided.\",\n    link: ai.link || \"N/A\"\n  });\n}\n\n// Convert into array of objects (n8n-friendly format)\nconst results = Object.entries(grouped).map(([category, notes]) => {\n  return {\n    json: {\n      category,\n      notes,\n      noteCount: notes.length\n    }\n  };\n});\n\n// Sort categories by number of notes (descending)\nresults.sort((a, b) => b.json.noteCount - a.json.noteCount);\n\nreturn results;"
      },
      "id": "ab58aec1-cd1d-44ee-ab9f-711e7e1de17b",
      "name": "Group Emails by Equipment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2740,
        1125
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "06468a56-feb2-447d-aa3b-aa2ce98135b2",
      "name": "Return Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        5380,
        900
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "export-outlook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "691dd368-201a-4b66-8a0d-fe30dd080761",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -340,
        1375
      ],
      "webhookId": "export-outlook-webhook"
    },
    {
      "parameters": {
        "toRecipients": "x@alex-short.com",
        "subject": "={{ $json.subject }}",
        "bodyContent": "={{ $json.emailBody }}",
        "additionalFields": {
          "attachments": {
            "attachments": [
              {
                "binaryPropertyName": "attachment"
              }
            ]
          },
          "bodyContentType": "html"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        5160,
        900
      ],
      "id": "be5b234d-70ea-4f8a-a987-3ba5e76db330",
      "name": "Send a message",
      "webhookId": "47e0e939-f192-4242-b0c2-2beae50d274a",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "W9dyroshZ6nsHo8q",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// EMAIL FORMATTER - Prepares HTML for Outlook Send Email node\n// Takes the HTML converter output and formats for email sending\nconst data = $input.item.json;\n// Extract metadata for subject line\nconst date = new Date(data.handoverData.meta.generatedAt);\nconst dateStr = date.toLocaleDateString();\nconst sectionsWithUpdates = data.handoverData.meta.sectionsProcessed;\nconst totalEmails = data.handoverData.meta.totalEmails;\n// Build dynamic subject line\nconst subject = `Yacht Handover Report - ${dateStr} | ${sectionsWithUpdates} Active Sections | ${totalEmails} Emails Processed`;\n// Get section names that have updates for summary\nconst activeSections = Object.entries(data.handoverData.sections)\n  .filter(([name, section]) => section.status === 'has_updates')\n  .map(([name]) => name);\n// Create plain text preview (for email clients that don't support HTML)\nconst textPreview = `\nYACHT HANDOVER REPORT\nGenerated: ${dateStr}\nActive Sections: ${activeSections.join(', ') || 'None'}\nTotal Emails Processed: ${totalEmails}\nView the full HTML report for detailed information including:\n- Technical summaries\n- Key action items  \n- Direct email links\n- Vendor details and deadlines\n`;\n// Prepare the email payload for Outlook node\nconst emailPayload = {\n  // Recipients - empty arrays (to be configured elsewhere)\n  to: [],\n  cc: [],\n  bcc: [],\n  \n  // Email content\n  subject: subject,\n  htmlBody: data.html,\n  textBody: textPreview,\n  importance: sectionsWithUpdates > 3 ? \"high\" : \"normal\",\n  \n  // Metadata for tracking\n  metadata: {\n    generatedAt: data.handoverData.meta.generatedAt,\n    sectionsProcessed: sectionsWithUpdates,\n    totalEmails: totalEmails,\n    activeSections: activeSections,\n    fileName: data.fileName\n  },\n  \n  // Categories/tags for email organization\n  categories: [\"Handover\", \"Technical\", dateStr],\n  \n  // Flag for follow-up if there are action items\n  flagStatus: sectionsWithUpdates > 0 ? \"flagged\" : \"notFlagged\",\n  \n  // Save sent item\n  saveToSentItems: true\n};\n// Return formatted for Outlook node\nreturn {\n  json: {\n    emailData: emailPayload,\n    \n    // For the Outlook Send Mail node, use these field mappings:\n    to: emailPayload.to.map(r => r.email).join(';'),\n    cc: emailPayload.cc.map(r => r.email).join(';'),\n    subject: emailPayload.subject,\n    body: emailPayload.htmlBody,\n    bodyContentType: \"HTML\",\n    importance: emailPayload.importance,\n    \n    // Original data for archiving\n    originalHandover: data.handoverData,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4500,
        900
      ],
      "id": "dd689e9a-ad2f-428f-b589-c015df25ad37",
      "name": "Prepare for Email"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2300,
        1475
      ],
      "id": "76f6eb08-a95b-4ae2-bcc6-2e42368f966a",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "// Node: Extract Subject & Body\n// Input: { emails: [ {subject, body, ...}, ... ] }\n// Output: one item per email with subject/body/etc only\n\nfunction stripHtml(html) {\n  return (html || \"\")\n    .replace(/<[^>]+>/g, \"\")   // remove HTML tags if present\n    .replace(/\\s+/g, \" \")      // collapse whitespace\n    .trim();\n}\n\nconst inputData = $input.item.json;\nconst emails = inputData.emails || [];\n\n// Return one item per email\nreturn emails.map(email => {\n  const subject = email.subject || \"(no subject)\";\n  const content = email.body?.content ?? email.bodyPreview ?? \"\";\n  const body = email.body?.contentType === \"html\" ? stripHtml(content) : content;\n\n  return {\n    json: {\n      subject,\n      body,\n      emailId: email.id,\n      conversationId: email.conversationId,\n      receivedDateTime: email.receivedDateTime\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1860,
        1375
      ],
      "id": "1972c02b-6ba1-4fa9-8956-b8fdd5f75f0f",
      "name": "Extract Subject & Body"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "shortId",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2520,
        1125
      ],
      "id": "f91228a6-09b5-448c-9160-4dd493bb9c0a",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node: Extract Emails with Short ID + Deeplink\n// This node adds a short ID and an Outlook deeplink for each email\n// while preserving ALL incoming fields\n\nconst extractedEmails = [];\n\nfor (const [index, item] of $input.all().entries()) {\n  const email = item.json;\n\n  // Generate short ID\n  const shortId = `E${index + 1}`;\n\n  // Generate Outlook deeplink if emailId exists\n  let outlookLink = null;\n  if (email.emailId) {\n    const itemId = encodeURIComponent(email.emailId);\n    outlookLink = `https://outlook.office365.com/mail/deeplink/read/${itemId}?ItemID=${itemId}&exvsurl=1`;\n  }\n\n  // Create enriched email object\n  const emailWithMeta = {\n    shortId,\n    link: outlookLink,\n    ...email, // preserve all original fields\n  };\n\n  // Push into output\n  extractedEmails.push({ json: emailWithMeta });\n}\n\nreturn extractedEmails;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2300,
        1180
      ],
      "id": "6b667393-45db-40c0-aac1-60b6c48d0ae2",
      "name": "Add Short Id"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3400,
        1125
      ],
      "id": "d03d1f56-0e57-4d96-94ba-8ff1eff93629",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// AI RESPONSE PROCESSOR - OpenAI (GPT-4o)\n// ============================================\n// PURPOSE: Parse the AI JSON output from OpenAI HTTP Response\n// and prepare it for downstream HTML handover formatting.\n// ============================================\n\nconst httpResponse = $input.item.json;\n\nlet parsedContent;\ntry {\n  // OpenAI responses are arrays; we’ll handle both array + object forms\n  const responseObj = Array.isArray(httpResponse) ? httpResponse[0] : httpResponse;\n\n  // Extract the assistant's message content safely\n  const content = responseObj?.choices?.[0]?.message?.content;\n\n  if (!content) throw new Error(\"No AI content found in response\");\n\n  // Parse the AI-generated JSON string in 'content'\n  parsedContent = JSON.parse(content);\n\n} catch (error) {\n  return [\n    {\n      json: {\n        section: httpResponse.section || \"Unknown\",\n        error: \"Failed to parse AI response content\",\n        details: error.message,\n        rawResponse: JSON.stringify(httpResponse, null, 2),\n        status: \"error\",\n        processedAt: new Date().toISOString()\n      }\n    }\n  ];\n}\n\n// Normalize to always be an array\nconst results = Array.isArray(parsedContent) ? parsedContent : [parsedContent];\n\n// Clean and normalise fields\nconst cleanedResults = results.map(item => ({\n  shortId: item.shortId || \"N/A\",\n  category: item.category || \"N/A\",\n  handoverTitle: item.handoverTitle || item.summary || \"N/A\",\n}));\n\n// Return processed results\nreturn cleanedResults.map(r => ({\n  json: {\n    ...r,\n    status: \"processed\",\n    processedAt: new Date().toISOString()\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2960,
        1325
      ],
      "id": "ddf80ecb-2f8e-4786-bb19-01ea3758e768",
      "name": "AI Process Response"
    },
    {
      "parameters": {
        "jsCode": "// Code node before Loop - \"Add Index to Items\"\nconst itemsWithIndex = $input.all().map((item, index) => ({\n  json: {\n    ...item.json,\n    _sequentialIndex: index + 1\n  }\n}));\n\nreturn itemsWithIndex;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        1375
      ],
      "id": "19477347-9269-4210-9cff-3872b412672a",
      "name": "Index"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// AI RESPONSE PROCESSOR - GPT-4o (Category + Summary)\n// PURPOSE: Parse OpenAI response containing shortId, category, and summary\n// and normalise it for handover export\n// ============================================\n\nconst item = $input.item.json;\n\nlet parsed;\ntry {\n  // Handle both array and single object responses\n  const responseObj = Array.isArray(item) ? item[0] : item;\n\n  // Extract assistant message content (stringified JSON)\n  const content = responseObj?.choices?.[0]?.message?.content;\n  if (!content) throw new Error(\"No content found in AI response.\");\n\n  // Parse AI JSON output string\n  parsed = JSON.parse(content);\n\n} catch (err) {\n  return [\n    {\n      json: {\n        shortId: item.originalEmail?.shortId || \"N/A\",\n        error: \"Failed to parse AI response\",\n        details: err.message,\n        rawResponse: JSON.stringify(item, null, 2),\n        status: \"error\",\n        processedAt: new Date().toISOString()\n      }\n    }\n  ];\n}\n\n// Always trust workflow shortId over model output\nconst enforcedShortId =\n  item.originalEmail?.shortId ||\n  parsed.shortId ||\n  \"N/A\";\n\n// Normalised structured output\nconst processed = {\n  shortId: enforcedShortId,\n  category: parsed.category || \"Uncategorised\",\n  summary: parsed.summary || \"No summary generated.\",\n  status: \"processed\",\n  processedAt: new Date().toISOString()\n};\n\nreturn [\n  {\n    json: processed\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2960,
        1525
      ],
      "id": "4f40c809-9bc2-488e-a684-ce3f732bc0bf",
      "name": "AI Process Response1"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// BODY CLASSIFIER + SUMMARISER - GPT-4o-mini\n// ============================================\n// PURPOSE: Categorise the email body AND produce a concise professional summary\n// OUTPUT: strict JSON { shortId, category, summary }\n// ============================================\n\nconst item = $input.first().json;\n\n// Generate deterministic shortId\nconst shortId = item.shortId || `E${item._sequentialIndex || \"NA\"}`;\n\n// Trim email body for context (100 words max)\nfunction trimBody(text, limit = 100) {\n  if (!text) return \"\";\n  return text.split(/\\s+/).slice(0, limit).join(\" \");\n}\nconst trimmedBody = trimBody(item.body, 100);\n\n// Build prompt\nconst prompt = `\nYou are a maritime handover classification and summarisation assistant.\n\nYour task:\n1. Categorise the following EMAIL BODY into ONE of the official handover categories.\n2. Write a short professional summary (under 40 words) describing the main point or action.\n3. Use 2nd person tone (\"You need to...\").\n4. Output strict JSON only.\n\nChoose only from this exact list of categories:\n- Electrical\n- Projects\n- Financial\n- Galley Laundry\n- Risk\n- Admin\n- Fire Safety\n- Tenders\n- Logistics\n- Deck\n- General Outstanding\n\nRules:\n- Choose exactly ONE category.\n- Never invent or modify category names.\n- Keep the summary factual and concise.\n- Output must strictly follow the schema.\n\nSchema:\n{\n  \"shortId\": \"${shortId}\",\n  \"category\": \"one of the categories above\",\n  \"summary\": \"concise professional summary under 40 words\"\n}\n\nEmail body (trimmed to 100 words):\n${trimmedBody}\n\nOutput (strict JSON only):\n`;\n\nreturn {\n  httpBody: {\n    model: \"gpt-4o-mini\",\n    messages: [\n      {\n        role: \"system\",\n        content: \"You are a precise maritime handover assistant that classifies and summarises email bodies.\"\n      },\n      {\n        role: \"user\",\n        content: prompt\n      }\n    ],\n    temperature: 0.2,\n    top_p: 0.9,\n    max_tokens: 300,\n    response_format: { type: \"json_object\" }\n  },\n  metadata: {\n    shortId,\n    subject: item.subject,\n    body: trimmedBody\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2520,
        1525
      ],
      "id": "425c8981-458e-475a-8026-feab6bad49ed",
      "name": "Prompt Email Extraction"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// SUBJECT CLASSIFIER - GPT-4o-mini\n// ============================================\n// PURPOSE: Categorise the email subject into ONE handover category\n// OUTPUT: strict JSON { shortId, category }\n// ============================================\n\nconst item = $input.first().json;\n\n// Generate deterministic shortId\nconst shortId = item.shortId || `E${item._sequentialIndex || \"NA\"}`;\n\n// Prompt\nconst prompt = `\nYou are a maritime handover classification assistant.\n\nYour task:\n- Categorise the following email SUBJECT into ONE of the official handover categories.\n- Choose only from this exact list:\n\n  - Electrical\n  - Projects\n  - Financial\n  - Galley Laundry\n  - Risk\n  - Admin\n  - Fire Safety\n  - Tenders\n  - Logistics\n  - Deck\n  - General Outstanding\n\nRules:\n- Choose exactly ONE category that best fits the subject.\n- Do not invent or modify category names.\n- Do not include reasoning or notes.\n- Output strict JSON only.\n\nSchema:\n{\n  \"shortId\": \"${shortId}\",\n  \"category\": \"one of the categories above\"\n}\n\nEmail subject:\n${item.subject || \"N/A\"}\n\nOutput (strict JSON only):\n`;\n\nreturn {\n  httpBody: {\n    model: \"gpt-4o-mini\",\n    messages: [\n      {\n        role: \"system\",\n        content: \"You are a precise maritime email subject classifier.\"\n      },\n      {\n        role: \"user\",\n        content: prompt\n      }\n    ],\n    temperature: 0.2,\n    top_p: 0.9,\n    max_tokens: 250,\n    response_format: { type: \"json_object\" }\n  },\n  metadata: {\n    shortId,\n    subject: item.subject\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2520,
        1325
      ],
      "id": "1595e6d1-0f8d-40c4-870b-f952884fe5f2",
      "name": "Prompt Subject Extraction"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node: Flatten grouped notes into flat summaries\n// Input: [{ category, notes: [ ... ] }]\n// Output: [{ summaryId, shortId, category, subject, summary, link, date, sender, attachment }]\n\nlet counter = 1;\nconst results = [];\n\nfor (const group of $input.all()) {\n  const { category, notes = [] } = group.json;\n\n  for (const note of notes) {\n    results.push({\n      json: {\n        summaryId: `S${counter++}`,\n        shortId: note.shortId || null,\n        category: category,\n        subject: note.subject || \"\",\n        summary: note.summary || \"\",\n        link: note.link || null,\n        date: note.date || null,\n        sender: note.sender || null,\n        attachment: note.attachment || false\n      }\n    });\n  }\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2960,
        1125
      ],
      "id": "3672037c-3850-4244-9c5b-0b697fb892f7",
      "name": "Batch Summaries"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node: Group summaries by category + subject\n// Input: flat S1..Sn summaries\n// Output: { category, subjectGroup, mergeKey, aiNotes[], sourceIds[] }\n\nfunction normalizeSubject(subj) {\n  return (subj || \"\")\n    .toLowerCase()\n    .replace(/urgent[:\\-]?\\s*/gi, \"\")\n    .replace(/[^a-z0-9]+/g, \" \")\n    .trim();\n}\n\nfunction buildMergeKey(category, subjectGroup) {\n  return `${category}_${subjectGroup}`\n    .toLowerCase()\n    .replace(/[^a-z0-9]/g, \"\");\n}\n\nconst groups = {};\n\nfor (const item of $input.all()) {\n  const { summaryId, shortId, category, subject, summary, link } = item.json;\n  const subjectGroup = normalizeSubject(subject);\n  const mergeKey = buildMergeKey(category, subjectGroup);\n\n  const key = `${category}::${subjectGroup}`;\n  if (!groups[key]) {\n    groups[key] = {\n      category,\n      subjectGroup,\n      mergeKey,\n      aiNotes: [],\n      sourceIds: []\n    };\n  }\n\n  groups[key].aiNotes.push({ subject, summary });\n  groups[key].sourceIds.push({ summaryId, shortId, link });\n}\n\nreturn Object.values(groups).map(g => ({ json: g }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3180,
        1125
      ],
      "id": "c0b13249-8b64-4399-a677-4d88b7051f27",
      "name": "Group summaries by category + subject"
    },
    {
      "parameters": {
        "jsCode": "// ===============================\n// NODE 1: Prompt Builder - GPT-4o-mini\n// PURPOSE: Merge all summaries in a subject group into a precise handover entry\n// ===============================\n\nconst item = $input.first().json;\n\n// Format all input summaries for readability\nconst notesFormatted = item.aiNotes.map((n, i) =>\n  `(${i + 1}) Subject: ${n.subject}\\nSummary: ${n.summary}`\n).join(\"\\n\\n\");\n\nconst prompt = `\nYou are a maritime engineering handover assistant.\n\nContext:\nYou will receive multiple email summaries about the same subject group: \"${item.subjectGroup}\" \nwithin the category \"${item.category}\". Your role is to produce a **concise, professional, and action-oriented handover entry**.\n\nInstructions:\n1. **Merge notes** that are clearly duplicates or reworded versions of the same point.\n2. **Preserve distinctions** when they differ by:\n   - Sender or source (implying separate actions or updates)\n   - Attachments or linked references\n   - Time-specific details\n3. **Summarise precisely** — avoid vague or filler language like \"ensure communication is maintained\".\n4. **Use second person** (\"You need to...\").\n5. **Actions:** Extract all required work as discrete items.\n   - Each must have a clear *priority*: CRITICAL, HIGH, or NORMAL.\n   - Each must contain one focused instruction.\n   - If an email references a file, document, or attachment, represent it as a **subTask**, not a separate note.\n6. **Keep subject and summary concise and professional** (plain English, no jargon or redundant phrases).\n7. **Output strict JSON only** following this schema — do not include commentary.\n\nSchema:\n{\n  \"handover\": {\n    \"subject\": \"string (concise, cleaned-up title)\",\n    \"summary\": \"string (2–3 sentences summarising the situation)\",\n    \"actions\": [\n      { \"priority\": \"CRITICAL\" | \"HIGH\" | \"NORMAL\", \"task\": \"string\", \"subTasks\": [] }\n    ],\n    \"params\": []\n  }\n}\n\nInput Notes:\n${notesFormatted}\n\nOutput (strict JSON only):\n`;\n\nreturn {\n  json: {\n    httpBody: {\n      model: \"gpt-4o-mini\",\n      messages: [\n        {\n          role: \"system\",\n          content: \"You are a precise maritime handover summarisation assistant that merges multiple notes into clear, structured JSON output.\"\n        },\n        {\n          role: \"user\",\n          content: prompt\n        }\n      ],\n      temperature: 0.1,\n      top_p: 0.9,\n      max_tokens: 2000,\n      response_format: { type: \"json_object\" }\n    },\n    // metadata carried forward\n    category: item.category,\n    subjectGroup: item.subjectGroup,\n    mergeKey: item.mergeKey,\n    sourceIds: item.sourceIds\n  }\n};\n"
      },
      "id": "24b50867-9bf4-4506-a0c5-87a5273d9a9f",
      "name": "Prompt Builder2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3620,
        1175
      ]
    },
    {
      "parameters": {
        "jsCode": "// ================================\n// AI RESPONSE PROCESSOR - GPT-4o\n// PURPOSE: Parse OpenAI JSON output + reattach metadata\n// ================================\n\nconst item = $input.first().json;\n\nlet aiData;\ntry {\n  // Handle both array or object inputs\n  const responseObj = Array.isArray(item) ? item[0] : item;\n\n  // Extract content string from GPT response\n  const content = responseObj?.choices?.[0]?.message?.content;\n  if (!content) throw new Error(\"Missing assistant content in AI response.\");\n\n  // Parse the assistant's JSON string\n  aiData = JSON.parse(content);\n\n} catch (err) {\n  return {\n    json: {\n      mergeKey: item.mergeKey || \"unknown\",\n      category: item.category || \"unknown\",\n      subjectGroup: item.subjectGroup || \"unknown\",\n      sourceIds: item.sourceIds || [],\n      error: \"Failed to parse GPT-4o response\",\n      details: err.message,\n      rawResponse: JSON.stringify(item, null, 2),\n      status: \"error\",\n      processedAt: new Date().toISOString()\n    }\n  };\n}\n\n// Validate structure\nif (!aiData.handover) {\n  return {\n    json: {\n      mergeKey: item.mergeKey || \"unknown\",\n      category: item.category || \"unknown\",\n      subjectGroup: item.subjectGroup || \"unknown\",\n      sourceIds: item.sourceIds || [],\n      error: \"Missing 'handover' object in AI output\",\n      rawContent: JSON.stringify(aiData, null, 2),\n      status: \"error\",\n      processedAt: new Date().toISOString()\n    }\n  };\n}\n\n// Normalised output for downstream HTML builder\nreturn {\n  json: {\n    mergeKey: item.mergeKey,\n    category: item.category,\n    subjectGroup: item.subjectGroup,\n    sourceIds: item.sourceIds || [],\n    handover: aiData.handover,\n    status: \"processed\",\n    processedAt: new Date().toISOString()\n  }\n};\n"
      },
      "id": "eae4c130-11a9-4bd8-9f09-cf3510a86ca7",
      "name": "AI Response Processor2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4280,
        1225
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4060,
        1175
      ],
      "id": "757ef82f-3806-4656-bb1e-cc396c899844",
      "name": "Merge2"
    },
    {
      "parameters": {
        "jsCode": "// ================================\n// FINAL FORMATTER - Handover Report\n// ================================\n// INPUT: Array of items, each shaped like:\n// {\n//   mergeKey: \"...\",\n//   category: \"...\",\n//   subjectGroup: \"...\",\n//   sourceIds: [...],\n//   handover: { subject, summary, actions, params }\n// }\n//\n// OUTPUT: Full handover package with meta + HTML\n// ================================\n\nconst items = $input.all().map(i => i.json);\n\n// ---- Meta ----\nconst meta = {\n  generatedAt: new Date().toISOString(),\n  totalSections: items.length,\n  totalEmails: items.reduce((sum, i) => sum + (i.sourceIds?.length || 0), 0),\n};\n\n// ---- Group by Category ----\nconst sections = {};\nfor (const item of items) {\n  const cat = item.category || \"Uncategorized\";\n  if (!sections[cat]) sections[cat] = [];\n  sections[cat].push(item);\n}\n\n// ---- Build HTML ----\nfunction buildHTML(sections) {\n  let html = `\n  <html>\n    <head>\n      <style>\n        body { font-family: Arial, sans-serif; margin: 20px; }\n        h1 { color: #003366; }\n        h2 { border-bottom: 2px solid #003366; padding-bottom: 4px; margin-top: 30px; }\n        .handover { margin: 15px 0; padding: 12px; border: 1px solid #ccc; border-radius: 6px; }\n        .summary { margin: 8px 0; font-style: italic; }\n        .actions { margin-top: 8px; }\n        .priority { font-weight: bold; }\n        .critical { color: #b30000; }\n        .high { color: #cc7a00; }\n        .normal { color: #006600; }\n        ul { margin: 5px 0 5px 20px; }\n      </style>\n    </head>\n    <body>\n      <h1>Yacht Engineering Handover Report</h1>\n      <p><strong>Generated:</strong> ${meta.generatedAt}</p>\n      <p><strong>Total Sections:</strong> ${meta.totalSections} | \n         <strong>Total Emails:</strong> ${meta.totalEmails}</p>\n  `;\n\n  for (const [category, handovers] of Object.entries(sections)) {\n    html += `<h2>${category}</h2>`;\n    for (const h of handovers) {\n      html += `\n      <div class=\"handover\">\n        <h3>${h.handover.subject}</h3>\n        <div class=\"summary\">${h.handover.summary}</div>\n        <div class=\"actions\">\n          <strong>Actions:</strong>\n          <ul>\n            ${h.handover.actions.map(a => `\n              <li class=\"priority ${a.priority.toLowerCase()}\">\n                [${a.priority}] ${a.task}\n                ${a.subTasks && a.subTasks.length ? \n                  `<ul>${a.subTasks.map(st => `<li>${st}</li>`).join(\"\")}</ul>` : \"\"}\n              </li>`).join(\"\")}\n          </ul>\n        </div>\n        ${h.sourceIds && h.sourceIds.length ? `\n          <div class=\"sources\"><strong>Source Emails:</strong>\n            <ul>\n              ${h.sourceIds.map(s => \n                `<li><a href=\"${s.link}\" target=\"_blank\">${s.shortId}</a></li>`\n              ).join(\"\")}\n            </ul>\n          </div>` : \"\"}\n      </div>`;\n    }\n  }\n\n  html += `</body></html>`;\n  return html;\n}\n\n// ---- Final Output ----\nreturn [\n  {\n    json: {\n      meta,\n      sections,\n      html: buildHTML(sections),\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3620,
        900
      ],
      "id": "ab9e90c9-7d44-4026-80eb-9a68b561bb97",
      "name": "Final Formatter"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "shortId",
        "joinMode": "keepEverything",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3180,
        1525
      ],
      "id": "40785a3e-516b-4295-a33b-f77547655bcd",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "// ===========================\n// NODE 1: Process JSON and Extract Data\n// ===========================\n\n// Assuming incoming JSON is in $json\n// The data might be nested, so let's handle different possible structures\nlet handoverData;\nif ($json.sections) {\n  handoverData = $json;\n} else if ($json[0] && $json[0].sections) {\n  handoverData = $json[0];\n} else if ($json.json && $json.json.sections) {\n  handoverData = $json.json;\n} else if ($json[0] && $json[0].json && $json[0].json.sections) {\n  handoverData = $json[0].json;\n} else {\n  // Fallback - try to find sections anywhere in the data\n  handoverData = { sections: {}, meta: {} };\n  console.error('Could not find sections in expected location. Data structure:', JSON.stringify($json).substring(0, 500));\n}\n\nconst sections = handoverData.sections || {};\nconst meta = handoverData.meta || {};\n\n// Count critical items across all sections\nlet criticalCount = 0;\nlet highCount = 0;\nlet normalCount = 0;\nlet totalHandovers = 0;\n\n// Process sections to get counts\nObject.keys(sections).forEach(sectionName => {\n  const sectionHandovers = sections[sectionName] || [];\n  totalHandovers += sectionHandovers.length;\n  \n  sectionHandovers.forEach(handoverGroup => {\n    if (handoverGroup.handover && handoverGroup.handover.actions) {\n      handoverGroup.handover.actions.forEach(action => {\n        if (action.priority === 'CRITICAL') criticalCount++;\n        else if (action.priority === 'HIGH') highCount++;\n        else if (action.priority === 'NORMAL') normalCount++;\n      });\n    }\n  });\n});\n\n// Extract critical items for the alert box\nconst criticalItems = [];\nObject.keys(sections).forEach(sectionName => {\n  const sectionHandovers = sections[sectionName] || [];\n  sectionHandovers.forEach(handoverGroup => {\n    if (handoverGroup.handover && handoverGroup.handover.actions) {\n      handoverGroup.handover.actions\n        .filter(action => action.priority === 'CRITICAL')\n        .forEach(action => {\n          criticalItems.push({\n            section: sectionName,\n            subject: handoverGroup.handover.subject,\n            task: action.task,\n            subTasks: action.subTasks || []\n          });\n        });\n    }\n  });\n});\n\n// Prepare section summaries for status grid\nconst sectionSummaries = {};\nObject.keys(sections).forEach(sectionName => {\n  sectionSummaries[sectionName] = {\n    count: sections[sectionName].length,\n    handovers: sections[sectionName]\n  };\n});\n\n// Pass to next node\nreturn {\n  json: {\n    meta,\n    sections,\n    sectionSummaries,\n    criticalItems,\n    criticalCount,\n    highCount,\n    normalCount,\n    totalHandovers,\n    totalEmails: meta.totalEmails || 0,\n    generatedAt: meta.generatedAt || new Date().toISOString()\n  }\n};\n\n// ===========================\n// NODE 2: Generate HTML Structure\n// ===========================\n\nconst data = $json;\n\n// Helper function to format date\nfunction formatDate(isoDate) {\n  const date = new Date(isoDate);\n  const options = { \n    day: '2-digit', \n    month: 'short', \n    year: 'numeric',\n    hour: '2-digit',\n    minute: '2-digit',\n    timeZone: 'UTC'\n  };\n  return date.toLocaleString('en-GB', options).toUpperCase() + ' UTC';\n}\n\n// Helper function to generate action HTML\nfunction generateActionHTML(action, index) {\n  let priorityClass = 'priority-normal';\n  if (action.priority === 'CRITICAL') priorityClass = 'priority-critical';\n  else if (action.priority === 'HIGH') priorityClass = 'priority-high';\n  \n  let subTasksHTML = '';\n  if (action.subTasks && action.subTasks.length > 0) {\n    subTasksHTML = '<ul style=\"margin-top: 5px; margin-left: 20px;\">';\n    action.subTasks.forEach(subTask => {\n      if (typeof subTask === 'string') {\n        subTasksHTML += `<li style=\"font-size: 12px;\">${subTask}</li>`;\n      } else if (subTask.task) {\n        subTasksHTML += `<li style=\"font-size: 12px;\">${subTask.task}</li>`;\n      }\n    });\n    subTasksHTML += '</ul>';\n  }\n  \n  return `\n    <div class=\"action-item\">\n      <input type=\"checkbox\" class=\"action-checkbox\">\n      <div>\n        <span class=\"action-priority ${priorityClass}\">${action.priority}</span>\n        ${action.task}\n        ${subTasksHTML}\n      </div>\n    </div>\n  `;\n}\n\n// Helper function to generate email entries HTML\nfunction generateEmailsHTML(sourceIds) {\n  if (!sourceIds || sourceIds.length === 0) {\n    return '<div class=\"no-data\">No related correspondence available.</div>';\n  }\n  \n  let emailsHTML = `\n    <div class=\"emails\">\n      <div class=\"emails-header\">Related Correspondence</div>\n  `;\n  \n  sourceIds.forEach(source => {\n    emailsHTML += `\n      <div class=\"email-entry\">\n        <span class=\"email-date\">${source.shortId || 'N/A'}</span>\n        <a href=\"${source.link || '#'}\" class=\"email-subject\" target=\"_blank\">\n          Summary ${source.summaryId || ''} - View in Outlook\n        </a>\n        <span class=\"email-sender\">System</span>\n      </div>\n    `;\n  });\n  \n  emailsHTML += '</div>';\n  return emailsHTML;\n}\n\n// Helper function to generate parameters grid\nfunction generateParamsHTML(params) {\n  if (!params || params.length === 0) return '';\n  \n  let paramsHTML = '<div class=\"param-grid\">';\n  params.forEach(param => {\n    if (typeof param === 'string') {\n      paramsHTML += `\n        <div class=\"param-item\">\n          <div class=\"param-label\">Document</div>\n          <div class=\"param-value\">${param}</div>\n        </div>\n      `;\n    } else if (param.name) {\n      paramsHTML += `\n        <div class=\"param-item\">\n          <div class=\"param-label\">${param.name}</div>\n          <div class=\"param-value\">${param.value || param.description || 'Pending'}</div>\n        </div>\n      `;\n    }\n  });\n  paramsHTML += '</div>';\n  return paramsHTML;\n}\n\n// Generate sections HTML\nfunction generateSectionsHTML(sections) {\n  let sectionsHTML = '';\n  \n  // Define the order of sections\n  const sectionOrder = [\n    'Electrical',\n    'Projects', \n    'Admin',\n    'GalleyLaundry',\n    'Risk',\n    'FireSafety',\n    'Tenders',\n    'Logistics',\n    'Deck',\n    'Financial'\n  ];\n  \n  sectionOrder.forEach(sectionName => {\n    if (!sections[sectionName]) return;\n    \n    const sectionHandovers = sections[sectionName];\n    const itemCount = sectionHandovers.length;\n    \n    sectionsHTML += `\n      <div class=\"section\">\n        <div class=\"section-header\">\n          ${sectionName.toUpperCase()}\n          <span class=\"item-count\">${itemCount} active item${itemCount !== 1 ? 's' : ''}</span>\n        </div>\n    `;\n    \n    if (itemCount === 0) {\n      sectionsHTML += `\n        <div class=\"no-data\">\n          <p><em>No handovers available in this section.</em></p>\n        </div>\n      `;\n    } else {\n      // Process each handover group in the section\n      sectionHandovers.forEach(handoverGroup => {\n        const handover = handoverGroup.handover;\n        \n        // Generate summary box\n        sectionsHTML += `\n          <h3 style=\"margin: 20px 0 10px 0; font-size: 15px; font-weight: bold;\">\n            ${handover.subject}\n          </h3>\n          <div class=\"summary-box\">\n            ${handover.summary}\n          </div>\n        `;\n        \n        // Generate actions if present\n        if (handover.actions && handover.actions.length > 0) {\n          sectionsHTML += `\n            <div class=\"actions\">\n              <div class=\"actions-header\">Required Actions - Confirm Completion</div>\n          `;\n          handover.actions.forEach((action, index) => {\n            sectionsHTML += generateActionHTML(action, index);\n          });\n          sectionsHTML += '</div>';\n        }\n        \n        // Generate parameters grid if present\n        if (handover.params && handover.params.length > 0) {\n          sectionsHTML += generateParamsHTML(handover.params);\n        }\n        \n        // Generate emails section\n        sectionsHTML += generateEmailsHTML(handoverGroup.sourceIds);\n      });\n    }\n    \n    sectionsHTML += '</div>';\n  });\n  \n  return sectionsHTML;\n}\n\n// Pass HTML to next node\nreturn {\n  json: {\n    ...data,\n    sectionsHTML: generateSectionsHTML(data.sections)\n  }\n};\n\n// ===========================\n// NODE 3: Generate Complete HTML Document\n// ===========================\n\nconst processedData = $json;\n\n// Generate critical alert HTML\nlet criticalAlertHTML = '';\nif (processedData.criticalCount > 0) {\n  criticalAlertHTML = `\n    <div class=\"critical-alert\">\n      <div class=\"critical-alert-header\">\n        IMMEDIATE ACTION REQUIRED - ${processedData.criticalCount} CRITICAL ITEMS\n      </div>\n  `;\n  \n  processedData.criticalItems.forEach(item => {\n    criticalAlertHTML += `\n      <div class=\"critical-item\">\n        ${item.section.toUpperCase()}: ${item.subject} - ${item.task}\n      </div>\n    `;\n  });\n  \n  criticalAlertHTML += '</div>';\n}\n\n// Generate status grid\nlet statusGridHTML = '<div class=\"status-grid\">';\nObject.keys(processedData.sectionSummaries).forEach(sectionName => {\n  const count = processedData.sectionSummaries[sectionName].count;\n  const countClass = count === 0 ? 'zero' : '';\n  statusGridHTML += `\n    <div class=\"status-item\">\n      <span>${sectionName.toUpperCase()}</span>\n      <span class=\"status-count ${countClass}\">${count}</span>\n    </div>\n  `;\n});\nstatusGridHTML += '</div>';\n\n// Generate complete HTML document\nconst htmlDocument = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>YACHT ENGINEERING HANDOVER - ${new Date().toISOString().split('T')[0]}</title>\n    <style>\n        * { margin: 0; padding: 0; box-sizing: border-box; }\n        body {\n            font-family: Arial, Helvetica, sans-serif;\n            font-size: 14px;\n            line-height: 1.5;\n            color: #000;\n            background: #fff;\n            -webkit-font-smoothing: antialiased;\n        }\n        .document {\n            max-width: 850px;\n            margin: 0 auto;\n            padding: 1in;\n        }\n        .header {\n            text-align: center;\n            margin-bottom: 30px;\n            padding-bottom: 20px;\n            border-bottom: 3px solid #000;\n        }\n        .header h1 {\n            font-size: 18px;\n            font-weight: bold;\n            margin-bottom: 10px;\n        }\n        .vessel-info {\n            font-size: 16px;\n            font-weight: bold;\n            margin-bottom: 5px;\n        }\n        .meta-info {\n            display: flex;\n            justify-content: center;\n            gap: 30px;\n            font-size: 12px;\n            margin-top: 10px;\n        }\n        .critical-alert {\n            background: #ffebee;\n            border: 2px solid #d32f2f;\n            padding: 15px 20px;\n            margin-bottom: 30px;\n        }\n        .critical-alert-header {\n            font-size: 16px;\n            font-weight: bold;\n            color: #d32f2f;\n            margin-bottom: 10px;\n        }\n        .critical-item {\n            font-size: 14px;\n            line-height: 1.8;\n            margin-bottom: 5px;\n            padding-left: 20px;\n            position: relative;\n        }\n        .critical-item:before {\n            content: \"▶\";\n            position: absolute;\n            left: 0;\n            color: #d32f2f;\n        }\n        .status-grid {\n            display: grid;\n            grid-template-columns: repeat(3, 1fr);\n            gap: 15px;\n            margin-bottom: 30px;\n            padding: 20px;\n            background: #f5f5f5;\n        }\n        .status-item {\n            font-size: 13px;\n            display: flex;\n            justify-content: space-between;\n            padding: 8px 0;\n            border-bottom: 1px solid #ccc;\n        }\n        .status-count {\n            font-weight: bold;\n            color: #d32f2f;\n        }\n        .status-count.zero {\n            color: #4caf50;\n        }\n        .section {\n            margin-top: 40px;\n            padding-top: 20px;\n            border-top: 3px solid #000;\n        }\n        .section-header {\n            font-size: 16px;\n            font-weight: bold;\n            margin-bottom: 15px;\n            display: flex;\n            justify-content: space-between;\n            align-items: baseline;\n        }\n        .item-count {\n            font-size: 14px;\n            font-weight: normal;\n            color: #666;\n        }\n        .summary-box {\n            background: #e3f2fd;\n            border-left: 4px solid #1976d2;\n            padding: 15px 20px;\n            margin-bottom: 20px;\n            font-size: 14px;\n            line-height: 1.6;\n        }\n        .actions {\n            margin-bottom: 25px;\n        }\n        .actions-header {\n            font-size: 14px;\n            font-weight: bold;\n            text-transform: uppercase;\n            margin-bottom: 10px;\n        }\n        .action-item {\n            display: flex;\n            align-items: flex-start;\n            margin-bottom: 10px;\n            font-size: 14px;\n            line-height: 1.6;\n        }\n        .action-checkbox {\n            width: 18px;\n            height: 18px;\n            margin-right: 10px;\n            margin-top: 2px;\n            flex-shrink: 0;\n        }\n        .action-priority {\n            display: inline-block;\n            padding: 2px 8px;\n            margin-right: 8px;\n            font-size: 11px;\n            font-weight: bold;\n            color: white;\n        }\n        .priority-critical {\n            background: #d32f2f;\n        }\n        .priority-high {\n            background: #f57c00;\n        }\n        .priority-normal {\n            background: #1976d2;\n        }\n        .param-grid {\n            display: grid;\n            grid-template-columns: repeat(2, 1fr);\n            gap: 15px;\n            margin-bottom: 20px;\n            padding: 15px;\n            background: #fafafa;\n            border: 1px solid #ddd;\n        }\n        .param-item {\n            font-size: 13px;\n            line-height: 1.5;\n        }\n        .param-label {\n            font-weight: bold;\n            text-transform: uppercase;\n            font-size: 11px;\n            color: #666;\n            margin-bottom: 2px;\n        }\n        .param-value {\n            font-size: 14px;\n            color: #000;\n        }\n        .emails {\n            margin-top: 20px;\n            padding-top: 20px;\n            border-top: 1px solid #ccc;\n        }\n        .emails-header {\n            font-size: 12px;\n            font-weight: bold;\n            text-transform: uppercase;\n            letter-spacing: 0.5px;\n            margin-bottom: 10px;\n        }\n        .email-entry {\n            display: flex;\n            align-items: baseline;\n            padding: 5px 0;\n            font-size: 13px;\n            border-bottom: 1px solid #eee;\n        }\n        .email-entry:hover {\n            background: #f5f5f5;\n        }\n        .email-date {\n            min-width: 70px;\n            color: #666;\n            font-size: 12px;\n        }\n        .email-subject {\n            flex: 1;\n            color: #1976d2;\n            text-decoration: none;\n            padding: 0 10px;\n        }\n        .email-subject:hover {\n            text-decoration: underline;\n        }\n        .email-sender {\n            color: #666;\n            font-size: 12px;\n        }\n        .no-data {\n            padding: 30px;\n            text-align: center;\n            background: #f5f5f5;\n            color: #666;\n            font-style: italic;\n        }\n        .footer {\n            margin-top: 40px;\n            padding-top: 20px;\n            border-top: 3px solid #000;\n            text-align: center;\n            font-size: 11px;\n            color: #666;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"document\">\n        <div class=\"header\">\n            <h1>YACHT ENGINEERING HANDOVER REPORT</h1>\n            <div class=\"vessel-info\">M/Y CELESTE VII</div>\n            <div class=\"meta-info\">\n                <span><strong>DOC:</strong> YHR-${new Date().toISOString().split('T')[0]}</span>\n                <span><strong>GENERATED:</strong> ${formatDate(processedData.generatedAt)}</span>\n                <span><strong>SECTIONS:</strong> ${Object.keys(processedData.sections).length}</span>\n            </div>\n        </div>\n\n        ${criticalAlertHTML}\n        \n        ${statusGridHTML}\n        \n        ${processedData.sectionsHTML}\n        \n        <div class=\"footer\">\n            CLASSIFICATION: YACHT OPERATIONS - TECHNICAL<br>\n            ${processedData.totalHandovers} HANDOVER ITEMS | ${processedData.criticalCount} CRITICAL | ${processedData.highCount} HIGH | ${processedData.normalCount} NORMAL<br>\n            ${processedData.totalEmails} EMAILS PROCESSED<br>\n            RETAIN FOR AUDIT AND CREW CHANGEOVER\n        </div>\n    </div>\n</body>\n</html>`;\n\n// Return the final HTML\nreturn {\n  html: htmlDocument\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3840,
        900
      ],
      "id": "2139f74d-1546-4b35-beef-00c3b7f5bc48",
      "name": "Process JSON and Extract Data"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node: Deduplicate Summaries & Actions (universal, AI-free)\n// Input: Array of items with { mergeKey, category, subjectGroup, aiNotes[], sourceIds[], handover? }\n// Output: Same items with deduplicated summaries + actions\n\nfunction normalize(text) {\n  return (text || \"\")\n    .toLowerCase()\n    .replace(/\\s+/g, \" \")\n    .replace(/[^a-z0-9 ]/g, \"\")\n    .trim();\n}\n\n// Exact dedupe\nfunction dedupeExact(arr, key) {\n  const seen = new Set();\n  return arr.filter(obj => {\n    const val = normalize(obj[key]);\n    if (seen.has(val)) return false;\n    seen.add(val);\n    return true;\n  });\n}\n\n// Simple Levenshtein distance (for optional near-duplicate collapse)\nfunction levenshtein(a, b) {\n  if (a.length === 0) return b.length;\n  if (b.length === 0) return a.length;\n  const matrix = Array.from({ length: a.length + 1 }, (_, i) => [i]);\n  for (let j = 0; j <= b.length; j++) matrix[0][j] = j;\n\n  for (let i = 1; i <= a.length; i++) {\n    for (let j = 1; j <= b.length; j++) {\n      if (a[i - 1] === b[j - 1]) {\n        matrix[i][j] = matrix[i - 1][j - 1];\n      } else {\n        matrix[i][j] = Math.min(\n          matrix[i - 1][j - 1] + 1, // substitution\n          matrix[i][j - 1] + 1,     // insertion\n          matrix[i - 1][j] + 1      // deletion\n        );\n      }\n    }\n  }\n  return matrix[a.length][b.length];\n}\n\nfunction isNearDuplicate(a, b, threshold = 0.9) {\n  const normA = normalize(a);\n  const normB = normalize(b);\n  const dist = levenshtein(normA, normB);\n  const maxLen = Math.max(normA.length, normB.length);\n  if (maxLen === 0) return true;\n  const similarity = 1 - dist / maxLen;\n  return similarity >= threshold;\n}\n\n// Deduplicate array of objects by key (with optional near-dup check)\nfunction dedupeWithNear(arr, key, threshold = 0.9) {\n  const unique = [];\n  for (const obj of arr) {\n    const exists = unique.some(u => isNearDuplicate(u[key], obj[key], threshold));\n    if (!exists) unique.push(obj);\n  }\n  return unique;\n}\n\n// ---- MAIN ----\nconst out = [];\n\nfor (const item of $input.all()) {\n  const j = item.json;\n\n  // Deduplicate summaries inside aiNotes\n  if (Array.isArray(j.aiNotes)) {\n    j.aiNotes = dedupeWithNear(dedupeExact(j.aiNotes, \"summary\"), \"summary\", 0.9);\n  }\n\n  // Deduplicate actions inside handover\n  if (j.handover && Array.isArray(j.handover.actions)) {\n    j.handover.actions = dedupeWithNear(dedupeExact(j.handover.actions, \"task\"), \"task\", 0.9);\n  }\n\n  out.push({ json: j });\n}\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4060,
        900
      ],
      "id": "86483c61-627c-48d9-8308-c603906b9b1e",
      "name": "Deduplicate Summaries & Actions"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// HTML CONVERTER - Professional Marine Industry Format\n// Works with FINAL FORMATTER grouped JSON\n// ============================================\n\nconst data = $input.item.json;\n\n// Helper: safe fallback\nfunction safe(val, fallback = \"N/A\") {\n  return (val !== undefined && val !== null && val !== \"\") ? val : fallback;\n}\n\n// Build Table of Contents (count groups in each section)\nconst tocHtml = Object.entries(data.sections || {}).map(([name, groups]) => `\n  <div class=\"toc-item ${Array.isArray(groups) && groups.length ? 'active' : ''}\">\n    <span>${name.replace(/([A-Z])/g, ' $1').trim()}</span>\n    <span>${Array.isArray(groups) && groups.length ? `(${groups.length} handover${groups.length>1?'s':''})` : 'No updates'}</span>\n  </div>\n`).join('');\n\n// Build sections\nconst sectionsHtml = Object.entries(data.sections || {}).map(([sectionName, groups]) => {\n  return `\n    <div class=\"section\">\n      <div class=\"section-header\">\n        <div class=\"section-title\">${sectionName.replace(/([A-Z])/g, ' $1').trim()}</div>\n        <div class=\"section-status\">\n          ${Array.isArray(groups) && groups.length ? `${groups.length} handover(s)` : 'No communications in period'}\n        </div>\n      </div>\n      <div class=\"section-content\">\n        ${Array.isArray(groups) && groups.length ? groups.map((group, i) => {\n          const h = group.handover || {};\n          return `\n            <div class=\"item\">\n              <div class=\"item-title\">${i+1}. ${safe(h.subject, group.subjectGroup)}</div>\n              <div class=\"summary\">${safe(h.summary, \"No summary available.\")}</div>\n              ${Array.isArray(h.actions) && h.actions.length ? `\n                <div class=\"item-details\">\n                  <div class=\"detail-row\"><span class=\"detail-label\">Actions:</span></div>\n                  <ul>\n                    ${h.actions.map(a => `\n                      <li class=\"${safe(a.priority, 'NORMAL')}\">\n                        [${safe(a.priority, 'NORMAL')}] ${safe(a.task, 'No task description')}\n                      </li>\n                    `).join('')}\n                  </ul>\n                </div>\n              ` : ''}\n              ${Array.isArray(group.sourceIds) && group.sourceIds.length ? `\n                <div class=\"references\">\n                  <div class=\"ref-title\">Source Emails:</div>\n                  ${group.sourceIds.map(src => `\n                    <a href=\"${src.link}\" class=\"ref-link\">${safe(src.shortId, src.summaryId)}</a>\n                  `).join('')}\n                </div>\n              ` : ''}\n            </div>\n          `;\n        }).join('') : `\n          <div class=\"no-data\">No relevant communications or updates recorded for this department during the reporting period.</div>\n        `}\n      </div>\n    </div>\n  `;\n}).join('');\n\n// Build full HTML\nconst html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Technical Handover Report - ${new Date(safe(data.meta?.generatedAt, new Date())).toLocaleDateString()}</title>\n  <style>\n    * { margin: 0; padding: 0; box-sizing: border-box; }\n    body { font-family: 'Times New Roman', Georgia, serif; line-height: 1.4; font-size: 11pt; color: #000; }\n    .document { max-width: 8.5in; margin: 0 auto; padding: 0.5in; }\n    .header { border-bottom: 2px solid #000; padding-bottom: 20px; margin-bottom: 30px; }\n    .header h1 { font-size: 18pt; font-weight: bold; text-align: center; margin-bottom: 10px; text-transform: uppercase; letter-spacing: 1px; }\n    .document-info { display: flex; justify-content: space-between; font-size: 10pt; margin-top: 15px; }\n    .info-block { flex: 1; }\n    .info-label { font-weight: bold; text-transform: uppercase; font-size: 9pt; }\n    .info-value { font-size: 10pt; margin-top: 2px; }\n    .toc { margin-bottom: 30px; padding: 15px; border: 1px solid #000; }\n    .toc-title { font-weight: bold; font-size: 12pt; margin-bottom: 10px; text-transform: uppercase; }\n    .toc-item { display: flex; justify-content: space-between; padding: 3px 0; font-size: 10pt; }\n    .toc-item.active { font-weight: bold; }\n    .section { margin-bottom: 30px; page-break-inside: avoid; }\n    .section-header { background: #f0f0f0; border: 1px solid #000; padding: 8px 12px; margin-bottom: 15px; }\n    .section-title { font-size: 12pt; font-weight: bold; text-transform: uppercase; }\n    .section-status { font-size: 9pt; margin-top: 3px; font-style: italic; }\n    .section-content { padding-left: 20px; }\n    .summary { margin-bottom: 15px; font-size: 11pt; line-height: 1.5; }\n    .item { margin-bottom: 20px; }\n    .item-title { font-weight: bold; margin-bottom: 5px; }\n    .item-details { font-size: 10pt; margin-left: 15px; }\n    .detail-row { margin: 2px 0; }\n    .detail-label { font-weight: bold; }\n    .references { margin-top: 10px; padding-top: 5px; border-top: 1px solid #ccc; }\n    .ref-title { font-weight: bold; font-size: 10pt; margin-bottom: 5px; }\n    .ref-link { display: inline-block; margin: 3px 5px 3px 0; font-size: 9pt; color: #00f; }\n    .no-data { font-style: italic; color: #666; font-size: 10pt; }\n    .footer { margin-top: 50px; padding-top: 20px; border-top: 2px solid #000; font-size: 9pt; text-align: center; }\n    .signature-block { margin-top: 40px; display: flex; justify-content: space-between; }\n    .signature-line { width: 45%; text-align: center; padding-top: 40px; border-top: 1px solid #000; }\n    .CRITICAL { color: red; font-weight: bold; }\n    .HIGH { color: orange; font-weight: bold; }\n    .NORMAL { color: gray; }\n  </style>\n</head>\n<body>\n  <div class=\"document\">\n    <div class=\"header\">\n      <h1>TECHNICAL HANDOVER REPORT</h1>\n      <div class=\"document-info\">\n        <div class=\"info-block\">\n          <div class=\"info-label\">Document No:</div>\n          <div class=\"info-value\">THR-${new Date(safe(data.meta?.generatedAt, new Date())).toISOString().split('T')[0]}</div>\n        </div>\n        <div class=\"info-block\">\n          <div class=\"info-label\">Generated:</div>\n          <div class=\"info-value\">${new Date(safe(data.meta?.generatedAt, new Date())).toLocaleString()}</div>\n        </div>\n        <div class=\"info-block\">\n          <div class=\"info-label\">Period:</div>\n          <div class=\"info-value\">Last 90 Days</div>\n        </div>\n      </div>\n    </div>\n\n    <div class=\"toc\">\n      <div class=\"toc-title\">TABLE OF CONTENTS</div>\n      ${tocHtml}\n    </div>\n\n    ${sectionsHtml}\n\n    <div class=\"signature-block\">\n      <div class=\"signature-line\">\n        <div>PREPARED BY</div>\n        <div style=\"margin-top: 5px; font-size: 10pt;\">Engineering Department</div>\n      </div>\n      <div class=\"signature-line\">\n        <div>REVIEWED BY</div>\n        <div style=\"margin-top: 5px; font-size: 10pt;\">Chief Engineer</div>\n      </div>\n    </div>\n\n    <div class=\"footer\">\n      <div>CONFIDENTIAL - TECHNICAL HANDOVER DOCUMENT</div>\n      <div style=\"margin-top: 5px;\">\n        ${Object.values(data.sections || {}).reduce((a, g) => a + (Array.isArray(g) ? g.length : 0), 0)}\n        of ${safe(data.meta?.totalSections, \"N/A\")} departments with updates |\n        ${safe(data.meta?.totalEmails, \"N/A\")} total communications processed\n      </div>\n      <div style=\"margin-top: 5px; font-size: 8pt;\">\n        This document contains proprietary information and is intended solely for internal use.\n      </div>\n    </div>\n  </div>\n</body>\n</html>`;\n\n// Return HTML + metadata\nreturn {\n  json: {\n    html,\n    handoverData: data,\n    timestamp: new Date().toISOString(),\n    fileName: `THR_${new Date().toISOString().split('T')[0]}.html`\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4280,
        900
      ],
      "id": "8d5e44e9-4c67-47f5-930b-33528f317194",
      "name": "HTML Converter"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node - Extract HTML body and subject separately\nconst input = $json;  // incoming JSON with emailData structure\n\n// Initialize variables\nlet htmlBody = \"\";\nlet subject = \"\";\n\n// Check if emailData exists and extract both fields\nif (input.emailData) {\n  // Extract HTML body\n  if (input.emailData.htmlBody) {\n    htmlBody = input.emailData.htmlBody;\n  }\n  \n  // Extract subject\n  if (input.emailData.subject) {\n    subject = input.emailData.subject;\n  }\n}\n// Fallback: if no emailData structure, treat input as raw HTML\nelse if (typeof input === 'string') {\n  htmlBody = input;\n}\n// Fallback: if it's an array of strings\nelse if (Array.isArray(input)) {\n  htmlBody = input.join(\"\\n\");\n}\n// Fallback: if it's a flat object with HTML chunks as values\nelse if (typeof input === 'object') {\n  // Check if there's a subject field at root level\n  if (input.subject) {\n    subject = input.subject;\n  }\n  // Build HTML from other values\n  const values = Object.entries(input)\n    .filter(([key]) => key !== 'subject')\n    .map(([key, value]) => value);\n  htmlBody = values.join(\"\\n\");\n}\n\n// Return both HTML body and subject as separate fields\nreturn [\n  {\n    json: {\n      htmlbody: htmlBody,\n      subject: subject\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4720,
        900
      ],
      "id": "d3d5aad9-4bf7-4b94-b1fc-703b1d1c7908",
      "name": "Extract HTML Body"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node - Convert HTML to file attachment\nconst input = $json;  // incoming JSON with emailData structure\n\n// Initialize variables\nlet htmlBody = \"\";\nlet subject = \"\";\n\n// Check if emailData exists and extract both fields\nif (input.emailData) {\n  // Extract HTML body\n  if (input.emailData.htmlBody) {\n    htmlBody = input.emailData.htmlBody;\n  }\n  \n  // Extract subject\n  if (input.emailData.subject) {\n    subject = input.emailData.subject;\n  }\n}\n// Fallback: if no emailData structure, treat input as raw HTML\nelse if (typeof input === 'string') {\n  htmlBody = input;\n}\n// Fallback: if it's an array of strings\nelse if (Array.isArray(input)) {\n  htmlBody = input.join(\"\\n\");\n}\n// Fallback: if it's a flat object\nelse if (typeof input === 'object') {\n  // Check if there's a subject field at root level\n  if (input.subject) {\n    subject = input.subject;\n  }\n  if (input.htmlbody) {\n    htmlBody = input.htmlbody;\n  }\n}\n\n// Generate filename with timestamp\nconst date = new Date();\nconst dateStr = date.toISOString().split('T')[0]; // YYYY-MM-DD format\nconst filename = `Yacht_Handover_Report_${dateStr}.html`;\n\n// Convert HTML string to Buffer (binary data)\nconst htmlBuffer = Buffer.from(htmlBody, 'utf8');\n\n// Create a simple email body for the message (since full content will be attached)\nconst emailBodyText = `\nPlease find attached the Yacht Handover Report for ${dateStr}.\n\nThis report contains:\n- Technical summaries\n- Key action items\n- Direct email links\n- Vendor details and deadlines\n\nBest regards,\nTechnical Team\n`;\n\n// Return data with binary attachment\nreturn [\n  {\n    json: {\n      subject: subject || `Yacht Handover Report - ${dateStr}`,\n      emailBody: emailBodyText,\n      filename: filename,\n      htmlContent: htmlBody // Keep for reference if needed\n    },\n    binary: {\n      attachment: {\n        data: htmlBuffer.toString('base64'),\n        mimeType: 'text/html',\n        fileName: filename\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4940,
        900
      ],
      "id": "acb74481-ba26-49b6-851b-8df3f00afaee",
      "name": "Convert to Attachment"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.httpBody }}",
        "options": {}
      },
      "name": "DS Blog",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2740,
        1525
      ],
      "id": "d4911bbd-4f43-421b-865b-952aea302ceb",
      "typeVersion": 4.2,
      "credentials": {
        "deepSeekApi": {
          "id": "7E4kAfCe6sAr94FA",
          "name": "DeepSeek account"
        },
        "openAiApi": {
          "id": "trAmlWz7YdldnThl",
          "name": "OpenAi"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.httpBody }}",
        "options": {}
      },
      "name": "DS Blog1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2740,
        1325
      ],
      "id": "f6ffef9a-471e-415e-94d2-f8d9cf52e1c1",
      "typeVersion": 4.2,
      "credentials": {
        "deepSeekApi": {
          "id": "7E4kAfCe6sAr94FA",
          "name": "DeepSeek account"
        },
        "openAiApi": {
          "id": "trAmlWz7YdldnThl",
          "name": "OpenAi"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.httpBody }}",
        "options": {}
      },
      "name": "DS Blog2",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3840,
        1100
      ],
      "id": "ddbc25af-8d76-42ae-90ea-a68e5c88ddd0",
      "typeVersion": 4.2,
      "credentials": {
        "deepSeekApi": {
          "id": "7E4kAfCe6sAr94FA",
          "name": "DeepSeek account"
        },
        "openAiApi": {
          "id": "trAmlWz7YdldnThl",
          "name": "OpenAi"
        }
      }
    },
    {
      "parameters": {
        "content": "## .5s per subject, 2s per email"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4120,
        1520
      ],
      "id": "68405613-e1c0-4a11-b22e-00b593ba5633",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/users/{{ $json.payload.user_email }}/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "$filter",
              "value": "=receivedDateTime ge {{ $json.payload.date_range.start }}T00:00:00Z and receivedDateTime le {{ $json.payload.date_range.end }}T23:59:59Z"
            },
            {
              "name": "$select",
              "value": "subject,from,receivedDateTime,bodyPreview,hasAttachments,importance,categories,toRecipients,ccRecipients"
            },
            {
              "name": "$orderby",
              "value": "receivedDateTime desc"
            },
            {
              "name": "$top",
              "value": "999"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.payload.microsoft_access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "$top",
              "value": "999"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "e32fae06-786d-4e64-8e0a-00880d790d48",
      "name": "9. Fetch Outlook Emails (Graph API)1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        1275
      ]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// Combine Handover Data + Outlook Emails\n// ═══════════════════════════════════════════════════════════════\n\nconst previousData = $('5. Verify HMAC & Timestamp').first().json;\nconst graphResponse = $input.first().json;\n\nconst outlookEmails = graphResponse.value || [];\nconst payload = previousData.payload;\nconst yachtConfig = previousData.yacht_config;\nconst verification = previousData.verification;\n\n// Build complete record for database\nconst handoverRecord = {\n  yacht_id: yachtConfig.yacht_id,\n  yacht_id_hash: previousData.yacht_id_hash,\n  user_id_hash: previousData.user_id_hash,\n  email_hash: payload.email_hash,\n  handover_data: payload.handover_data || [],\n  outlook_emails: outlookEmails,\n  date_range: payload.date_range,\n  export_metadata: {\n    ...payload.export_metadata,\n    outlook_email_count: outlookEmails.length,\n    handover_record_count: (payload.handover_data || []).length\n  },\n  signature: previousData.signature,\n  verified: verification.signature_valid,\n  nonce: payload.nonce,\n  idempotency_key: payload.idempotency_key,\n  request_timestamp: payload.timestamp,\n  received_at: previousData.received_at\n};\n\nconsole.log('✓ Combined Data Ready:', {\n  yacht_id: handoverRecord.yacht_id,\n  handover_records: handoverRecord.handover_data.length,\n  outlook_emails: handoverRecord.outlook_emails.length,\n  verified: handoverRecord.verified\n});\n\nreturn [{ json: handoverRecord }];"
      },
      "id": "c123850e-5467-42cb-b5d3-57d9710d85f8",
      "name": "10. Combine Handover + Emails1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        1275
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// Parse Incoming Request\n// ═══════════════════════════════════════════════════════════════\n\nconst incoming = $input.first().json;\n\nconst headers = incoming.headers || {};\nconst body = incoming.body || incoming;\n\nlet payload;\ntry {\n  payload = typeof body === 'string' ? JSON.parse(body) : body;\n} catch (e) {\n  payload = body;\n}\n\nconst yacht_id_hash = headers.authorization || headers.Authorization || '';\nconst signature = headers['x-signature'] || headers['X-Signature'] || '';\nconst user_id_hash = headers['x-request-origin'] || headers['X-Request-Origin'] || '';\nconst payload_data = payload.payload_data || payload;\n\nif (!yacht_id_hash) {\n  return [{ json: { success: false, error: 'missing_yacht_id_hash', message: 'Authorization header missing' } }];\n}\n\nif (!signature) {\n  return [{ json: { success: false, error: 'missing_signature', message: 'X-Signature header missing' } }];\n}\n\nif (!payload_data.timestamp) {\n  return [{ json: { success: false, error: 'missing_timestamp', message: 'Timestamp missing' } }];\n}\n\nconsole.log('Parsed Request:', {\n  yacht_id_hash: yacht_id_hash.substring(0, 16) + '...',\n  user_id_hash: user_id_hash.substring(0, 16) + '...',\n  signature: signature.substring(0, 16) + '...',\n  timestamp: payload_data.timestamp\n});\n\nreturn [{\n  json: {\n    yacht_id_hash,\n    user_id_hash,\n    signature,\n    payload: payload_data,\n    payload_string: JSON.stringify(payload_data),\n    received_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "81b23c30-4944-4d38-b1d8-e4242972de35",
      "name": "2. Parse Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -120,
        1275
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "url": "=https://vivovcnaapmcfxxfhzxk.supabase.co/rest/v1/yacht_signatures?yacht_id_hash=eq.{{ $json.yacht_id_hash }}&select=yacht_id,yacht_id_hash,shared_secret,active",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZpdm92Y25hYXBtY2Z4eGZoenhrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTU4NjQ5ODIsImV4cCI6MjA3MTQ0MDk4Mn0.eUICOqJRP_MyVMNJNlZu3Mc-1-jAG6nQE-Oy0k3Yr0E"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZpdm92Y25hYXBtY2Z4eGZoenhrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTU4NjQ5ODIsImV4cCI6MjA3MTQ0MDk4Mn0.eUICOqJRP_MyVMNJNlZu3Mc-1-jAG6nQE-Oy0k3Yr0E"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "7e0e5f39-dc6c-422b-939a-cef97042e76b",
      "name": "3. Fetch Yacht Config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        100,
        1275
      ]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// Pure JavaScript HMAC-SHA256 Implementation (No imports needed)\n// ═══════════════════════════════════════════════════════════════\n\nfunction sha256(message) {\n  // SHA-256 Constants\n  const K = [\n    0x428a2f98, 0x71374491, 0xb5c0fbcf, 0xe9b5dba5, 0x3956c25b, 0x59f111f1, 0x923f82a4, 0xab1c5ed5,\n    0xd807aa98, 0x12835b01, 0x243185be, 0x550c7dc3, 0x72be5d74, 0x80deb1fe, 0x9bdc06a7, 0xc19bf174,\n    0xe49b69c1, 0xefbe4786, 0x0fc19dc6, 0x240ca1cc, 0x2de92c6f, 0x4a7484aa, 0x5cb0a9dc, 0x76f988da,\n    0x983e5152, 0xa831c66d, 0xb00327c8, 0xbf597fc7, 0xc6e00bf3, 0xd5a79147, 0x06ca6351, 0x14292967,\n    0x27b70a85, 0x2e1b2138, 0x4d2c6dfc, 0x53380d13, 0x650a7354, 0x766a0abb, 0x81c2c92e, 0x92722c85,\n    0xa2bfe8a1, 0xa81a664b, 0xc24b8b70, 0xc76c51a3, 0xd192e819, 0xd6990624, 0xf40e3585, 0x106aa070,\n    0x19a4c116, 0x1e376c08, 0x2748774c, 0x34b0bcb5, 0x391c0cb3, 0x4ed8aa4a, 0x5b9cca4f, 0x682e6ff3,\n    0x748f82ee, 0x78a5636f, 0x84c87814, 0x8cc70208, 0x90befffa, 0xa4506ceb, 0xbef9a3f7, 0xc67178f2\n  ];\n\n  function rotr(n, x) {\n    return (x >>> n) | (x << (32 - n));\n  }\n\n  function ch(x, y, z) {\n    return (x & y) ^ (~x & z);\n  }\n\n  function maj(x, y, z) {\n    return (x & y) ^ (x & z) ^ (y & z);\n  }\n\n  function sigma0(x) {\n    return rotr(2, x) ^ rotr(13, x) ^ rotr(22, x);\n  }\n\n  function sigma1(x) {\n    return rotr(6, x) ^ rotr(11, x) ^ rotr(25, x);\n  }\n\n  function gamma0(x) {\n    return rotr(7, x) ^ rotr(18, x) ^ (x >>> 3);\n  }\n\n  function gamma1(x) {\n    return rotr(17, x) ^ rotr(19, x) ^ (x >>> 10);\n  }\n\n  // Convert string to byte array\n  const msgBytes = [];\n  for (let i = 0; i < message.length; i++) {\n    msgBytes.push(message.charCodeAt(i) & 0xff);\n  }\n\n  // Padding\n  const msgLen = msgBytes.length;\n  const bitLen = msgLen * 8;\n  msgBytes.push(0x80);\n  \n  while ((msgBytes.length % 64) !== 56) {\n    msgBytes.push(0x00);\n  }\n\n  // Append length as 64-bit big-endian\n  for (let i = 0; i < 4; i++) {\n    msgBytes.push(0x00);\n  }\n  msgBytes.push((bitLen >>> 24) & 0xff);\n  msgBytes.push((bitLen >>> 16) & 0xff);\n  msgBytes.push((bitLen >>> 8) & 0xff);\n  msgBytes.push(bitLen & 0xff);\n\n  // Initialize hash values\n  let H = [\n    0x6a09e667, 0xbb67ae85, 0x3c6ef372, 0xa54ff53a,\n    0x510e527f, 0x9b05688c, 0x1f83d9ab, 0x5be0cd19\n  ];\n\n  // Process message in 512-bit chunks\n  for (let chunk = 0; chunk < msgBytes.length; chunk += 64) {\n    const W = new Array(64);\n\n    // Copy chunk into first 16 words\n    for (let i = 0; i < 16; i++) {\n      W[i] = (msgBytes[chunk + i * 4] << 24) |\n             (msgBytes[chunk + i * 4 + 1] << 16) |\n             (msgBytes[chunk + i * 4 + 2] << 8) |\n             msgBytes[chunk + i * 4 + 3];\n    }\n\n    // Extend into remaining 48 words\n    for (let i = 16; i < 64; i++) {\n      W[i] = (gamma1(W[i - 2]) + W[i - 7] + gamma0(W[i - 15]) + W[i - 16]) >>> 0;\n    }\n\n    // Initialize working variables\n    let a = H[0], b = H[1], c = H[2], d = H[3];\n    let e = H[4], f = H[5], g = H[6], h = H[7];\n\n    // Main loop\n    for (let i = 0; i < 64; i++) {\n      const T1 = (h + sigma1(e) + ch(e, f, g) + K[i] + W[i]) >>> 0;\n      const T2 = (sigma0(a) + maj(a, b, c)) >>> 0;\n      h = g;\n      g = f;\n      f = e;\n      e = (d + T1) >>> 0;\n      d = c;\n      c = b;\n      b = a;\n      a = (T1 + T2) >>> 0;\n    }\n\n    // Update hash values\n    H[0] = (H[0] + a) >>> 0;\n    H[1] = (H[1] + b) >>> 0;\n    H[2] = (H[2] + c) >>> 0;\n    H[3] = (H[3] + d) >>> 0;\n    H[4] = (H[4] + e) >>> 0;\n    H[5] = (H[5] + f) >>> 0;\n    H[6] = (H[6] + g) >>> 0;\n    H[7] = (H[7] + h) >>> 0;\n  }\n\n  // Produce final hash as hex string\n  let result = '';\n  for (let i = 0; i < 8; i++) {\n    result += ('00000000' + H[i].toString(16)).slice(-8);\n  }\n  return result;\n}\n\nfunction hmacSha256(key, message) {\n  const blockSize = 64; // SHA-256 block size in bytes\n  \n  // Convert key to bytes\n  let keyBytes = [];\n  for (let i = 0; i < key.length; i++) {\n    keyBytes.push(key.charCodeAt(i) & 0xff);\n  }\n  \n  // If key is longer than block size, hash it\n  if (keyBytes.length > blockSize) {\n    const hashedKey = sha256(key);\n    keyBytes = [];\n    for (let i = 0; i < hashedKey.length; i += 2) {\n      keyBytes.push(parseInt(hashedKey.substr(i, 2), 16));\n    }\n  }\n  \n  // Pad key to block size\n  while (keyBytes.length < blockSize) {\n    keyBytes.push(0x00);\n  }\n  \n  // Create inner and outer padded keys\n  const ipad = keyBytes.map(b => b ^ 0x36);\n  const opad = keyBytes.map(b => b ^ 0x5c);\n  \n  // Convert arrays to strings for SHA-256\n  let ipadStr = '';\n  for (let i = 0; i < ipad.length; i++) {\n    ipadStr += String.fromCharCode(ipad[i]);\n  }\n  \n  let opadStr = '';\n  for (let i = 0; i < opad.length; i++) {\n    opadStr += String.fromCharCode(opad[i]);\n  }\n  \n  // Compute inner hash: H(K ⊕ ipad || message)\n  const innerHash = sha256(ipadStr + message);\n  \n  // Convert inner hash to bytes\n  let innerHashBytes = '';\n  for (let i = 0; i < innerHash.length; i += 2) {\n    innerHashBytes += String.fromCharCode(parseInt(innerHash.substr(i, 2), 16));\n  }\n  \n  // Compute outer hash: H(K ⊕ opad || H(K ⊕ ipad || message))\n  return sha256(opadStr + innerHashBytes);\n}\n\n// ═══════════════════════════════════════════════════════════════\n// Verify HMAC Signature & Timestamp\n// ═══════════════════════════════════════════════════════════════\n\nconst data = $input.first().json;\nconst yachtConfig = data.yacht_config;\nconst payload = data.payload;\nconst providedSignature = data.signature;\n\n// Check timestamp (5-minute window)\nconst timestamp = new Date(payload.timestamp);\nconst now = new Date();\nconst ageMinutes = (now - timestamp) / 1000 / 60;\n\nif (ageMinutes > 5) {\n  return [{ json: { success: false, error: 'timestamp_expired', message: `Timestamp too old: ${ageMinutes.toFixed(2)} minutes (max 5)` } }];\n}\n\nif (ageMinutes < 0) {\n  return [{ json: { success: false, error: 'timestamp_future', message: 'Timestamp is in the future' } }];\n}\n\n// Rebuild message that was signed\nconst message = yachtConfig.yacht_id_hash + payload.timestamp + data.payload_string;\n\n// Compute HMAC-SHA256 using pure JavaScript implementation\nconst expectedSignature = hmacSha256(yachtConfig.shared_secret, message);\n\nconst signaturesMatch = providedSignature.toLowerCase() === expectedSignature.toLowerCase();\n\nif (!signaturesMatch) {\n  console.error('Signature Mismatch:', {\n    provided: providedSignature.substring(0, 16) + '...',\n    expected: expectedSignature.substring(0, 16) + '...',\n    yacht_id: yachtConfig.yacht_id\n  });\n  return [{ json: { success: false, error: 'invalid_signature', message: 'HMAC signature verification failed' } }];\n}\n\nconsole.log('✓ HMAC Verification Success:', {\n  yacht_id: yachtConfig.yacht_id,\n  timestamp_age_minutes: ageMinutes.toFixed(2),\n  signature_valid: true\n});\n\nreturn [{\n  json: {\n    ...data,\n    verification: {\n      signature_valid: true,\n      timestamp_valid: true,\n      timestamp_age_minutes: ageMinutes,\n      verified_at: new Date().toISOString()\n    }\n  }\n}];"
      },
      "id": "6f76cc86-b326-46f4-991d-fbbd745e4f52",
      "name": "5. Verify HMAC & Timestamp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        1275
      ],
      "executeOnce": true,
      "notes": "✅ FIXED: Pure JavaScript HMAC-SHA256 (no crypto imports)"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -580,
        1180
      ],
      "id": "ea94c4ec-5cde-40ea-9d1f-a431e37c0023",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "return[\n  {\n    \"headers\": {\n      \"connection\": \"close\",\n      \"host\": \"api.celeste7.ai\",\n      \"x-real-ip\": \"98.58.226.220\",\n      \"x-forwarded-for\": \"98.58.226.220\",\n      \"x-forwarded-proto\": \"https\",\n      \"x-forwarded-host\": \"api.celeste7.ai\",\n      \"content-length\": \"3855\",\n      \"accept\": \"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7\",\n      \"content-type\": \"application/json\",\n      \"apikey\": \"eyJ0eXAiOiJKV1QiLCJub25jZSI6IjNOdURpRElOcFEyMHdITjZrZ2czb0l4RzF2TmJTbDVvbml5Mkx3b0tla00iLCJhbGciOiJSUzI1NiIsIng1dCI6InJ0c0ZULWItN0x1WTdEVlllU05LY0lKN1ZuYyIsImtpZCI6InJ0c0ZULWItN0x1WTdEVlllU05LY0lKN1ZuYyJ9.eyJhdWQiOiJodHRwczovL2dyYXBoLm1pY3Jvc29mdC5jb20iLCJpc3MiOiJodHRwczovL3N0cy53aW5kb3dzLm5ldC85YjJhMDc4Mi1jY2U0LTQ1YTUtOGUyZC03ZWVmMjQxZTljZjAvIiwiaWF0IjoxNzYzNDgyMjc3LCJuYmYiOjE3NjM0ODIyNzcsImV4cCI6MTc2MzQ4NzUxMSwiYWNjdCI6MCwiYWNyIjoiMSIsImFjcnMiOlsicDEiXSwiYWlvIjoiQVpRQWEvOGFBQUFBOGxoaTZnUjhiRXdVQklBM2lRcVEwaTJwVGZWT3ZGVm5FNkVqRkJ2RDEvZ3VDS0lGcnduZkF1K3FmbndwL0pLejdzZzhKM0QrUjJ0NHRIdEdXa2F1SlliOFIrR2RRRzZ1OUxJK0RxYm9ac3I2TVJ6OW5qQ0FrVlQ1QkdRdEdxSlh3ZVRhMTJBZWJvWjEwQzRtYUp6Q3pWRjdMaG16WW9ZcXh5U3VOeFVvdTI1RTVWSDhGdy9MWkJlaVVJT1dsWkZGIiwiYW1yIjpbInB3ZCIsIm1mYSJdLCJhcHBfZGlzcGxheW5hbWUiOiJDZWxlc3RlT1MiLCJhcHBpZCI6IjQxZjZkYzgyLTgxMjctNDMzMC05N2UwLWM2YjI2ZTZhYTk2NyIsImFwcGlkYWNyIjoiMSIsImZhbWlseV9uYW1lIjoiU2hvcnQiLCJnaXZlbl9uYW1lIjoiQWxleCIsImlkdHlwIjoidXNlciIsImlwYWRkciI6Ijk4LjU4LjIyNi4yMjAiLCJuYW1lIjoiQWxleCBTaG9ydCIsIm9pZCI6ImIxMzc1MzQ4LWZiYzQtNDAzMi1iOGYwLWQzY2Q0M2Y3NTliMCIsInBsYXRmIjoiNSIsInB1aWQiOiIxMDAzMjAwNTAxQjVFRjI0IiwicmgiOiIxLkFSTUJnZ2NxbS1UTXBVV09MWDd2SkI2YzhBTUFBQUFBQUFBQXdBQUFBQUFBQUFBNkFURVRBUS4iLCJzY3AiOiJlbWFpbCBJTUFQLkFjY2Vzc0FzVXNlci5BbGwgTWFpbC5SZWFkIE1haWxib3hGb2xkZXIuUmVhZCBNYWlsYm94U2V0dGluZ3MuUmVhZCBvcGVuaWQgcHJvZmlsZSBVc2VyLlJlYWQiLCJzaWQiOiIwMGE4YTNmOS1mNjJmLThlZjktMDZmNS1lYzYyMTNhMWNiNjMiLCJzaWduaW5fc3RhdGUiOlsia21zaSJdLCJzdWIiOiJPYWN0VXBzcm1zRFNxZndwYmswcG1wcTd6c1duSVc5X3QxR3JISmRZY19ZIiwidGVuYW50X3JlZ2lvbl9zY29wZSI6IkVVIiwidGlkIjoiOWIyYTA3ODItY2NlNC00NWE1LThlMmQtN2VlZjI0MWU5Y2YwIiwidW5pcXVlX25hbWUiOiJ4QGFsZXgtc2hvcnQuY29tIiwidXBuIjoieEBhbGV4LXNob3J0LmNvbSIsInV0aSI6IkNjMFlPbmFhcFVhX0FnS21PVU1QQUEiLCJ2ZXIiOiIxLjAiLCJ3aWRzIjpbIjYyZTkwMzk0LTY5ZjUtNDIzNy05MTkwLTAxMjE3NzE0NWUxMCIsImI3OWZiZjRkLTNlZjktNDY4OS04MTQzLTc2YjE5NGU4NTUwOSJdLCJ4bXNfYWNkIjoxNzU0ODk5MTU0LCJ4bXNfYWN0X2ZjdCI6IjkgMyIsInhtc19mdGQiOiIzeUpON216VkktTDlOcVRmYlExSm1FREdkOHd0TEx1WTU2OXFna3lkNFJnQlpYVnliM0JsYm05eWRHZ3RaSE50Y3ciLCJ4bXNfaWRyZWwiOiIxMCAxIiwieG1zX3N0Ijp7InN1YiI6IkhRYzNUdzlHYmZBZjRVMmc4S3dORXlYSkcybFNEbUhpUUFqZS1rOUNKdE0ifSwieG1zX3N1Yl9mY3QiOiIzIDQiLCJ4bXNfdGNkdCI6MTc1NDkwNzAxMCwieG1zX3RudF9mY3QiOiIzIDE0In0.CfJ2ht1pBg9G5p6SlzPYdo9-4_oeg1DV7p-1ccNfeK1pUOfgpxYITzAlS7pWK59PYagL8U3y-Z6oNraZlE48tE9-N0Jp9OJxRvoBNSlI4sfOrrNNRIWsEfWTZXlwBjwDAd2EZ-3c9aLiR_GCeoIj4WcVAtvUAl26WdpH7N2zH-KtUM-HPDNPhz16t7roOkkt8zxRmlO3kEEe9ugXdCLeV_oY7scIYnzbc58KH8AXQ2EmovGRiOloXnfKMwz-dL6wU0tQpMdQTSdfgoL5VTqk48oU3sWEluQX4N04IsjoGsfjmLdOJus9bJRUAuAKn9xRHIgmwsdWgqkv3HTOpyx-DQ\",\n      \"authorization\": \"df1b224401a0f40de77a84dc13fee4a6ea242a6f621b1a620df156dd8a098156\",\n      \"x-request-origin\": \"44d08533685018b65e2a1b7ef35f265d842aab4c353db21b119777fb334b5729\",\n      \"x-signature\": \"ea8b32ee98bd9790b5db9d943e564bba72f57eb686d20cbea98f86e154b21b6a\",\n      \"prefer\": \"return=representation\",\n      \"user-agent\": \"axios/1.8.3\",\n      \"accept-encoding\": \"gzip, compress, deflate, br\"\n    },\n    \"params\": {},\n    \"query\": {},\n    \"body\": {\n      \"payload_data\": {\n        \"yacht_id_hash\": \"df1b224401a0f40de77a84dc13fee4a6ea242a6f621b1a620df156dd8a098156\",\n        \"user_id_hash\": \"44d08533685018b65e2a1b7ef35f265d842aab4c353db21b119777fb334b5729\",\n        \"timestamp\": \"2025-11-18T16:54:08.659Z\",\n        \"nonce\": \"17d6de6b-6585-4e7e-a6a7-1ab81c133a73\",\n        \"idempotency_key\": \"daf57fb5-3eae-422f-b46c-b747654bf0f3\",\n        \"user_email\": \"x@alex-short.com\",\n        \"email_hash\": \"598dcc3d8c6cdd2354d828f0786935689b1117394bc8d570627b3f996616e7ee\",\n        \"microsoft_access_token\": \"eyJ0eXAiOiJKV1QiLCJub25jZSI6IjNOdURpRElOcFEyMHdITjZrZ2czb0l4RzF2TmJTbDVvbml5Mkx3b0tla00iLCJhbGciOiJSUzI1NiIsIng1dCI6InJ0c0ZULWItN0x1WTdEVlllU05LY0lKN1ZuYyIsImtpZCI6InJ0c0ZULWItN0x1WTdEVlllU05LY0lKN1ZuYyJ9.eyJhdWQiOiJodHRwczovL2dyYXBoLm1pY3Jvc29mdC5jb20iLCJpc3MiOiJodHRwczovL3N0cy53aW5kb3dzLm5ldC85YjJhMDc4Mi1jY2U0LTQ1YTUtOGUyZC03ZWVmMjQxZTljZjAvIiwiaWF0IjoxNzYzNDgyMjc3LCJuYmYiOjE3NjM0ODIyNzcsImV4cCI6MTc2MzQ4NzUxMSwiYWNjdCI6MCwiYWNyIjoiMSIsImFjcnMiOlsicDEiXSwiYWlvIjoiQVpRQWEvOGFBQUFBOGxoaTZnUjhiRXdVQklBM2lRcVEwaTJwVGZWT3ZGVm5FNkVqRkJ2RDEvZ3VDS0lGcnduZkF1K3FmbndwL0pLejdzZzhKM0QrUjJ0NHRIdEdXa2F1SlliOFIrR2RRRzZ1OUxJK0RxYm9ac3I2TVJ6OW5qQ0FrVlQ1QkdRdEdxSlh3ZVRhMTJBZWJvWjEwQzRtYUp6Q3pWRjdMaG16WW9ZcXh5U3VOeFVvdTI1RTVWSDhGdy9MWkJlaVVJT1dsWkZGIiwiYW1yIjpbInB3ZCIsIm1mYSJdLCJhcHBfZGlzcGxheW5hbWUiOiJDZWxlc3RlT1MiLCJhcHBpZCI6IjQxZjZkYzgyLTgxMjctNDMzMC05N2UwLWM2YjI2ZTZhYTk2NyIsImFwcGlkYWNyIjoiMSIsImZhbWlseV9uYW1lIjoiU2hvcnQiLCJnaXZlbl9uYW1lIjoiQWxleCIsImlkdHlwIjoidXNlciIsImlwYWRkciI6Ijk4LjU4LjIyNi4yMjAiLCJuYW1lIjoiQWxleCBTaG9ydCIsIm9pZCI6ImIxMzc1MzQ4LWZiYzQtNDAzMi1iOGYwLWQzY2Q0M2Y3NTliMCIsInBsYXRmIjoiNSIsInB1aWQiOiIxMDAzMjAwNTAxQjVFRjI0IiwicmgiOiIxLkFSTUJnZ2NxbS1UTXBVV09MWDd2SkI2YzhBTUFBQUFBQUFBQXdBQUFBQUFBQUFBNkFURVRBUS4iLCJzY3AiOiJlbWFpbCBJTUFQLkFjY2Vzc0FzVXNlci5BbGwgTWFpbC5SZWFkIE1haWxib3hGb2xkZXIuUmVhZCBNYWlsYm94U2V0dGluZ3MuUmVhZCBvcGVuaWQgcHJvZmlsZSBVc2VyLlJlYWQiLCJzaWQiOiIwMGE4YTNmOS1mNjJmLThlZjktMDZmNS1lYzYyMTNhMWNiNjMiLCJzaWduaW5fc3RhdGUiOlsia21zaSJdLCJzdWIiOiJPYWN0VXBzcm1zRFNxZndwYmswcG1wcTd6c1duSVc5X3QxR3JISmRZY19ZIiwidGVuYW50X3JlZ2lvbl9zY29wZSI6IkVVIiwidGlkIjoiOWIyYTA3ODItY2NlNC00NWE1LThlMmQtN2VlZjI0MWU5Y2YwIiwidW5pcXVlX25hbWUiOiJ4QGFsZXgtc2hvcnQuY29tIiwidXBuIjoieEBhbGV4LXNob3J0LmNvbSIsInV0aSI6IkNjMFlPbmFhcFVhX0FnS21PVU1QQUEiLCJ2ZXIiOiIxLjAiLCJ3aWRzIjpbIjYyZTkwMzk0LTY5ZjUtNDIzNy05MTkwLTAxMjE3NzE0NWUxMCIsImI3OWZiZjRkLTNlZjktNDY4OS04MTQzLTc2YjE5NGU4NTUwOSJdLCJ4bXNfYWNkIjoxNzU0ODk5MTU0LCJ4bXNfYWN0X2ZjdCI6IjkgMyIsInhtc19mdGQiOiIzeUpON216VkktTDlOcVRmYlExSm1FREdkOHd0TEx1WTU2OXFna3lkNFJnQlpYVnliM0JsYm05eWRHZ3RaSE50Y3ciLCJ4bXNfaWRyZWwiOiIxMCAxIiwieG1zX3N0Ijp7InN1YiI6IkhRYzNUdzlHYmZBZjRVMmc4S3dORXlYSkcybFNEbUhpUUFqZS1rOUNKdE0ifSwieG1zX3N1Yl9mY3QiOiIzIDQiLCJ4bXNfdGNkdCI6MTc1NDkwNzAxMCwieG1zX3RudF9mY3QiOiIzIDE0In0.CfJ2ht1pBg9G5p6SlzPYdo9-4_oeg1DV7p-1ccNfeK1pUOfgpxYITzAlS7pWK59PYagL8U3y-Z6oNraZlE48tE9-N0Jp9OJxRvoBNSlI4sfOrrNNRIWsEfWTZXlwBjwDAd2EZ-3c9aLiR_GCeoIj4WcVAtvUAl26WdpH7N2zH-KtUM-HPDNPhz16t7roOkkt8zxRmlO3kEEe9ugXdCLeV_oY7scIYnzbc58KH8AXQ2EmovGRiOloXnfKMwz-dL6wU0tQpMdQTSdfgoL5VTqk48oU3sWEluQX4N04IsjoGsfjmLdOJus9bJRUAuAKn9xRHIgmwsdWgqkv3HTOpyx-DQ\",\n        \"token_expires_at\": \"2025-11-18T17:38:32.048+00:00\",\n        \"date_range\": {\n          \"start\": \"2025-10-19\",\n          \"end\": \"2025-11-18\"\n        },\n        \"export_metadata\": {\n          \"export_date\": \"2025-11-18\",\n          \"handover_record_count\": 1,\n          \"source\": \"celesteos_local\",\n          \"workflow_version\": \"v2.3\"\n        },\n        \"handover_data\": [\n          {\n            \"handover_id\": \"380eb596-e6be-4436-9c06-cf560ea96a2a\",\n            \"yacht_id\": \"default\",\n            \"solution_id\": null,\n            \"document_name\": \"Furuno_Radar_1835_1935_1945_Manual.pdf\",\n            \"system_affected\": null,\n            \"fault_code\": null,\n            \"symptoms\": null,\n            \"actions_taken\": null,\n            \"duration_minutes\": null,\n            \"notes\": \"all sealed up now\",\n            \"status\": \"draft\",\n            \"completed_at\": null\n          }\n        ]\n      },\n      \"signature\": \"ea8b32ee98bd9790b5db9d943e564bba72f57eb686d20cbea98f86e154b21b6a\",\n      \"verified\": false,\n      \"idempotency_key\": \"daf57fb5-3eae-422f-b46c-b747654bf0f3\",\n      \"request_timestamp\": \"2025-11-18T16:54:08.659Z\",\n      \"received_at\": \"2025-11-18T16:54:08.665Z\"\n    },\n    \"webhookUrl\": \"https://api.celeste7.ai/webhook/export-outlook\",\n    \"executionMode\": \"production\"\n  }\n]\n;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -340,
        1175
      ],
      "id": "bfd34cae-a595-4c33-b862-12c2af9d9f0a",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// Merge Parse + Yacht Config\n// ═══════════════════════════════════════════════════════════════\n\nconst parseData = $('2. Parse Request').first().json;\nconst yachtConfigArray = $input.all();\n\nif (yachtConfigArray.length === 0) {\n  return [{ json: { success: false, error: 'yacht_not_found', message: `Yacht not registered: ${parseData.yacht_id_hash.substring(0, 16)}...` } }];\n}\n\nconst yachtConfig = yachtConfigArray[0].json;\n\nif (!yachtConfig.active) {\n  return [{ json: { success: false, error: 'yacht_inactive', message: `Yacht is inactive: ${yachtConfig.yacht_id}` } }];\n}\n\nconsole.log('Yacht Found:', { yacht_id: yachtConfig.yacht_id, active: yachtConfig.active });\n\nreturn [{\n  json: {\n    ...parseData,\n    yacht_config: yachtConfig\n  }\n}];"
      },
      "id": "d04a51bf-3cc6-47f0-a329-8f54745a928c",
      "name": "4. Merge Yacht Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        1275
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "// Get the input data\nconst inputData = $input.all()[0].json;\n\n// Extract user details (excluding arrays)\nconst userDetails = {\n  yacht_id: inputData.yacht_id,\n  yacht_id_hash: inputData.yacht_id_hash,\n  user_id_hash: inputData.user_id_hash,\n  email_hash: inputData.email_hash,\n  date_range: inputData.date_range,\n  export_metadata: inputData.export_metadata,\n  signature: inputData.signature,\n  verified: inputData.verified,\n  nonce: inputData.nonce,\n  idempotency_key: inputData.idempotency_key,\n  request_timestamp: inputData.request_timestamp,\n  received_at: inputData.received_at\n};\n\n// Extract handover records\nconst handoverRecords = inputData.handover_data || [];\n\n// Extract outlook emails\nconst outlookEmails = inputData.outlook_emails || [];\n\n// Return as separate items that you can route\nreturn [\n  { json: { type: 'user_details', data: userDetails } },\n  { json: { type: 'handover_data', data: handoverRecords } },\n  { json: { type: 'outlook_emails', data: outlookEmails } }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        1275
      ],
      "id": "69381110-f0bb-4835-b2a8-62de3ae6216e",
      "name": "Code1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "user_details",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "80c4671f-24a6-483a-a7db-65c6ccd61b00"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "USER DETAILS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1b3f3b48-1059-4628-b548-bc0254606b05",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "handover_data",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HANDOVER"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8fb75ca0-15de-47b8-91c6-5301fb72be93",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "outlook_emails",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "EMAILS"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1420,
        1275
      ],
      "id": "695f8733-7d10-4c23-8571-23b32eea9fa1",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "// Node: Transform to Legacy Format\n// Purpose: Convert new structure to what legacy code expects\n\nconst input = $input.all()[0].json;\n\n// Check if this is the outlook_emails type\nif (input.type === 'outlook_emails') {\n  return {\n    json: {\n      emails: input.data || []\n    }\n  };\n}\n\n// Fallback for other data types\nreturn {\n  json: {\n    emails: []\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1640,
        1375
      ],
      "id": "19ee38f5-8e1c-4e9c-aece-ba5cb0fb163c",
      "name": "Code2"
    },
    {
      "parameters": {
        "jsCode": "return[\n  {\n    \"htmlbody\": \"<!DOCTYPE html>\\n<html lang=\\\"en\\\">\\n<head>\\n  <meta charset=\\\"UTF-8\\\">\\n  <title>Technical Handover Report - 10/22/2025</title>\\n  <style>\\n    * { margin: 0; padding: 0; box-sizing: border-box; }\\n    body { font-family: 'Times New Roman', Georgia, serif; line-height: 1.4; font-size: 11pt; color: #000; }\\n    .document { max-width: 8.5in; margin: 0 auto; padding: 0.5in; }\\n    .header { border-bottom: 2px solid #000; padding-bottom: 20px; margin-bottom: 30px; }\\n    .header h1 { font-size: 18pt; font-weight: bold; text-align: center; margin-bottom: 10px; text-transform: uppercase; letter-spacing: 1px; }\\n    .document-info { display: flex; justify-content: space-between; font-size: 10pt; margin-top: 15px; }\\n    .info-block { flex: 1; }\\n    .info-label { font-weight: bold; text-transform: uppercase; font-size: 9pt; }\\n    .info-value { font-size: 10pt; margin-top: 2px; }\\n    .toc { margin-bottom: 30px; padding: 15px; border: 1px solid #000; }\\n    .toc-title { font-weight: bold; font-size: 12pt; margin-bottom: 10px; text-transform: uppercase; }\\n    .toc-item { display: flex; justify-content: space-between; padding: 3px 0; font-size: 10pt; }\\n    .toc-item.active { font-weight: bold; }\\n    .section { margin-bottom: 30px; page-break-inside: avoid; }\\n    .section-header { background: #f0f0f0; border: 1px solid #000; padding: 8px 12px; margin-bottom: 15px; }\\n    .section-title { font-size: 12pt; font-weight: bold; text-transform: uppercase; }\\n    .section-status { font-size: 9pt; margin-top: 3px; font-style: italic; }\\n    .section-content { padding-left: 20px; }\\n    .summary { margin-bottom: 15px; font-size: 11pt; line-height: 1.5; }\\n    .item { margin-bottom: 20px; }\\n    .item-title { font-weight: bold; margin-bottom: 5px; }\\n    .item-details { font-size: 10pt; margin-left: 15px; }\\n    .detail-row { margin: 2px 0; }\\n    .detail-label { font-weight: bold; }\\n    .references { margin-top: 10px; padding-top: 5px; border-top: 1px solid #ccc; }\\n    .ref-title { font-weight: bold; font-size: 10pt; margin-bottom: 5px; }\\n    .ref-link { display: inline-block; margin: 3px 5px 3px 0; font-size: 9pt; color: #00f; }\\n    .no-data { font-style: italic; color: #666; font-size: 10pt; }\\n    .footer { margin-top: 50px; padding-top: 20px; border-top: 2px solid #000; font-size: 9pt; text-align: center; }\\n    .signature-block { margin-top: 40px; display: flex; justify-content: space-between; }\\n    .signature-line { width: 45%; text-align: center; padding-top: 40px; border-top: 1px solid #000; }\\n    .CRITICAL { color: red; font-weight: bold; }\\n    .HIGH { color: orange; font-weight: bold; }\\n    .NORMAL { color: gray; }\\n  </style>\\n</head>\\n<body>\\n  <div class=\\\"document\\\">\\n    <div class=\\\"header\\\">\\n      <h1>TECHNICAL HANDOVER REPORT</h1>\\n      <div class=\\\"document-info\\\">\\n        <div class=\\\"info-block\\\">\\n          <div class=\\\"info-label\\\">Document No:</div>\\n          <div class=\\\"info-value\\\">THR-2025-10-22</div>\\n        </div>\\n        <div class=\\\"info-block\\\">\\n          <div class=\\\"info-label\\\">Generated:</div>\\n          <div class=\\\"info-value\\\">10/22/2025, 2:23:35 PM</div>\\n        </div>\\n        <div class=\\\"info-block\\\">\\n          <div class=\\\"info-label\\\">Period:</div>\\n          <div class=\\\"info-value\\\">Last 90 Days</div>\\n        </div>\\n      </div>\\n    </div>\\n\\n    <div class=\\\"toc\\\">\\n      <div class=\\\"toc-title\\\">TABLE OF CONTENTS</div>\\n      \\n  <div class=\\\"toc-item active\\\">\\n    <span>Admin</span>\\n    <span>(15 handovers)</span>\\n  </div>\\n\\n  <div class=\\\"toc-item active\\\">\\n    <span>Financial</span>\\n    <span>(6 handovers)</span>\\n  </div>\\n\\n  <div class=\\\"toc-item active\\\">\\n    <span>Projects</span>\\n    <span>(4 handovers)</span>\\n  </div>\\n\\n  <div class=\\\"toc-item active\\\">\\n    <span>General  Outstanding</span>\\n    <span>(4 handovers)</span>\\n  </div>\\n\\n  <div class=\\\"toc-item active\\\">\\n    <span>Logistics</span>\\n    <span>(1 handover)</span>\\n  </div>\\n\\n  <div class=\\\"toc-item active\\\">\\n    <span>Galley  Laundry</span>\\n    <span>(1 handover)</span>\\n  </div>\\n\\n    </div>\\n\\n    \\n    <div class=\\\"section\\\">\\n      <div class=\\\"section-header\\\">\\n        <div class=\\\"section-title\\\">Admin</div>\\n        <div class=\\\"section-status\\\">\\n          15 handover(s)\\n        </div>\\n      </div>\\n      <div class=\\\"section-content\\\">\\n        \\n            <div class=\\\"item\\\">\\n              <div class=\\\"item-title\\\">1. Upcoming Team Tasks - Oct 16, 2025</div>\\n              <div class=\\\"summary\\\">You need to complete your tasks for today and address all overdue items within the next three days.</div>\\n              \\n                <div class=\\\"item-details\\\">\\n                  <div class=\\\"detail-row\\\"><span class=\\\"detail-label\\\">Actions:</span></div>\\n                  <ul>\\n                    \\n                      <li class=\\\"CRITICAL\\\">\\n                        [CRITICAL] Complete today's tasks\\n                      </li>\\n                    \\n                      <li class=\\\"HIGH\\\">\\n                        [HIGH] Address all overdue items\\n                      </li>\\n                    \\n                  </ul>\\n                </div>\\n              \\n              \\n                <div class=\\\"references\\\">\\n                  <div class=\\\"ref-title\\\">Source Emails:</div>\\n                  \\n                    <a href=\\\"https://outlook.office365.com/mail/deeplink/read/AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAApo8EYAAA%3D?ItemID=AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAApo8EYAAA%3D&exvsurl=1\\\" class=\\\"ref-link\\\">E3</a>\\n                  \\n                </div>\\n              \\n            </div>\\n          \\n            <div class=\\\"item\\\">\\n              <div class=\\\"item-title\\\">2. Activate Your Yacht: MYSTIC_2025_001</div>\\n              <div class=\\\"summary\\\">You need to activate the yacht MYSTIC_2025_001 by clicking the provided link or button.</div>\\n              \\n                <div class=\\\"item-details\\\">\\n                  <div class=\\\"detail-row\\\"><span class=\\\"detail-label\\\">Actions:</span></div>\\n                  <ul>\\n                    \\n                      <li class=\\\"CRITICAL\\\">\\n                        [CRITICAL] Activate the yacht MYSTIC_2025_001\\n                      </li>\\n                    \\n                  </ul>\\n                </div>\\n              \\n              \\n                <div class=\\\"references\\\">\\n                  <div class=\\\"ref-title\\\">Source Emails:</div>\\n                  \\n                    <a href=\\\"https://outlook.office365.com/mail/deeplink/read/AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAApo8EaAAA%3D?ItemID=AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAApo8EaAAA%3D&exvsurl=1\\\" class=\\\"ref-link\\\">E5</a>\\n                  \\n                    <a href=\\\"https://outlook.office365.com/mail/deeplink/read/AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAoUF2YAAA%3D?ItemID=AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAoUF2YAAA%3D&exvsurl=1\\\" class=\\\"ref-link\\\">E7</a>\\n                  \\n                    <a href=\\\"https://outlook.office365.com/mail/deeplink/read/AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAoUF2ZAAA%3D?ItemID=AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAoUF2ZAAA%3D&exvsurl=1\\\" class=\\\"ref-link\\\">E8</a>\\n                  \\n                    <a href=\\\"https://outlook.office365.com/mail/deeplink/read/AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAoUF2UAAA%3D?ItemID=AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAoUF2UAAA%3D&exvsurl=1\\\" class=\\\"ref-link\\\">E12</a>\\n                  \\n                    <a href=\\\"https://outlook.office365.com/mail/deeplink/read/AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAoUF2TAAA%3D?ItemID=AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAoUF2TAAA%3D&exvsurl=1\\\" class=\\\"ref-link\\\">E13</a>\\n                  \\n                    <a href=\\\"https://outlook.office365.com/mail/deeplink/read/AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAoUF2SAAA%3D?ItemID=AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAoUF2SAAA%3D&exvsurl=1\\\" class=\\\"ref-link\\\">E14</a>\\n                  \\n                </div>\\n              \\n            </div>\\n          \\n            <div class=\\\"item\\\">\\n              <div class=\\\"item-title\\\">3. Let's Get Started: Your S&L Wedding</div>\\n              <div class=\\\"summary\\\">You need to review the wedding packages information from State & Liberty and address any questions. Additionally, initiate the process for your wedding attire with them.</div>\\n              \\n                <div class=\\\"item-details\\\">\\n                  <div class=\\\"detail-row\\\"><span class=\\\"detail-label\\\">Actions:</span></div>\\n                  <ul>\\n                    \\n                      <li class=\\\"HIGH\\\">\\n                        [HIGH] Review wedding packages information from State & Liberty\\n                      </li>\\n                    \\n                      <li class=\\\"HIGH\\\">\\n                        [HIGH] Initiate the process for wedding attire with State & Liberty\\n                      </li>\\n                    \\n                  </ul>\\n                </div>\\n              \\n              \\n                <div class=\\\"references\\\">\\n                  <div class=\\\"ref-title\\\">Source Emails:</div>\\n                  \\n                    <a href=\\\"https://outlook.office365.com/mail/deeplink/read/AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAo3uXiAAA%3D?ItemID=AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAo3uXiAAA%3D&exvsurl=1\\\" class=\\\"ref-link\\\">E6</a>\\n                  \\n                    <a href=\\\"https://outlook.office365.com/mail/deeplink/read/AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAmzyYvAAA%3D?ItemID=AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAmzyYvAAA%3D&exvsurl=1\\\" class=\\\"ref-link\\\">E17</a>\\n                  \\n                </div>\\n              \\n            </div>\\n          \\n            <div class=\\\"item\\\">\\n              <div class=\\\"item-title\\\">4. Companies House Security Code Usage</div>\\n              <div class=\\\"summary\\\">You need to use the Companies House security code 548949 within 30 minutes to avoid requesting a new one.</div>\\n              \\n                <div class=\\\"item-details\\\">\\n                  <div class=\\\"detail-row\\\"><span class=\\\"detail-label\\\">Actions:</span></div>\\n                  <ul>\\n                    \\n                      <li class=\\\"CRITICAL\\\">\\n                        [CRITICAL] Use the Companies House security code 548949\\n                      </li>\\n                    \\n                  </ul>\\n                </div>\\n              \\n              \\n                <div class=\\\"references\\\">\\n                  <div class=\\\"ref-title\\\">Source Emails:</div>\\n                  \\n                    <a href=\\\"https://outlook.office365.com/mail/deeplink/read/AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAoUF2VAAA%3D?ItemID=AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAoUF2VAAA%3D&exvsurl=1\\\" class=\\\"ref-link\\\">E9</a>\\n                  \\n                </div>\\n              \\n            </div>\\n          \\n            <div class=\\\"item\\\">\\n              <div class=\\\"item-title\\\">5. GOV.UK One Login Access</div>\\n              <div class=\\\"summary\\\">You need to sign in to your GOV.UK One Login to manage your details and access services.</div>\\n              \\n                <div class=\\\"item-details\\\">\\n                  <div class=\\\"detail-row\\\"><span class=\\\"detail-label\\\">Actions:</span></div>\\n                  <ul>\\n                    \\n                      <li class=\\\"HIGH\\\">\\n                        [HIGH] Sign in to your GOV.UK One Login\\n                      </li>\\n                    \\n                  </ul>\\n                </div>\\n              \\n              \\n                <div class=\\\"references\\\">\\n                  <div class=\\\"ref-title\\\">Source Emails:</div>\\n                  \\n                    <a href=\\\"https://outlook.office365.com/mail/deeplink/read/AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAoUF2WAAA%3D?ItemID=AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAoUF2WAAA%3D&exvsurl=1\\\" class=\\\"ref-link\\\">E10</a>\\n                  \\n                </div>\\n              \\n            </div>\\n          \\n            <div class=\\\"item\\\">\\n              <div class=\\\"item-title\\\">6. Your GOV.UK One Login Security Code</div>\\n              <div class=\\\"summary\\\">You need to use the provided security code to confirm your GOV.UK One Login within one hour.</div>\\n              \\n                <div class=\\\"item-details\\\">\\n                  <div class=\\\"detail-row\\\"><span class=\\\"detail-label\\\">Actions:</span></div>\\n                  <ul>\\n                    \\n                      <li class=\\\"CRITICAL\\\">\\n                        [CRITICAL] Confirm your GOV.UK One Login using the security code\\n                      </li>\\n                    \\n                  </ul>\\n                </div>\\n              \\n              \\n                <div class=\\\"references\\\">\\n                  <div class=\\\"ref-title\\\">Source Emails:</div>\\n                  \\n                    <a href=\\\"https://outlook.office365.com/mail/deeplink/read/AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAoUF2XAAA%3D?ItemID=AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAoUF2XAAA%3D&exvsurl=1\\\" class=\\\"ref-link\\\">E11</a>\\n                  \\n                </div>\\n              \\n            </div>\\n          \\n            <div class=\\\"item\\\">\\n              <div class=\\\"item-title\\\">7. Intro to S&L Wedding Team</div>\\n              <div class=\\\"summary\\\">You need to schedule a call with Amy to discuss wedding attire for yourself and your groomsmen.</div>\\n              \\n                <div class=\\\"item-details\\\">\\n                  <div class=\\\"detail-row\\\"><span class=\\\"detail-label\\\">Actions:</span></div>\\n                  <ul>\\n                    \\n                      <li class=\\\"HIGH\\\">\\n                        [HIGH] Schedule a call with Amy regarding wedding attire.\\n                      </li>\\n                    \\n                  </ul>\\n                </div>\\n              \\n              \\n                <div class=\\\"references\\\">\\n                  <div class=\\\"ref-title\\\">Source Emails:</div>\\n                  \\n                    <a href=\\\"https://outlook.office365.com/mail/deeplink/read/AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAmzyYwAAA%3D?ItemID=AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAmzyYwAAA%3D&exvsurl=1\\\" class=\\\"ref-link\\\">E18</a>\\n                  \\n                </div>\\n              \\n            </div>\\n          \\n            <div class=\\\"item\\\">\\n              <div class=\\\"item-title\\\">8. Overdue Tasks for Emily and Alex - Oct 10, 2025</div>\\n              <div class=\\\"summary\\\">You need to complete overdue tasks related to Emily and Alex, including selecting cocktail napkins and contacting Enrique regarding marriage.</div>\\n              \\n                <div class=\\\"item-details\\\">\\n                  <div class=\\\"detail-row\\\"><span class=\\\"detail-label\\\">Actions:</span></div>\\n                  <ul>\\n                    \\n                      <li class=\\\"HIGH\\\">\\n                        [HIGH] Select cocktail napkins\\n                      </li>\\n                    \\n                      <li class=\\\"CRITICAL\\\">\\n                        [CRITICAL] Contact Enrique regarding marriage\\n                      </li>\\n                    \\n                  </ul>\\n                </div>\\n              \\n              \\n                <div class=\\\"references\\\">\\n                  <div class=\\\"ref-title\\\">Source Emails:</div>\\n                  \\n                    <a href=\\\"https://outlook.office365.com/mail/deeplink/read/AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAnndujAAA%3D?ItemID=AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAnndujAAA%3D&exvsurl=1\\\" class=\\\"ref-link\\\">E21</a>\\n                  \\n                </div>\\n              \\n            </div>\\n          \\n            <div class=\\\"item\\\">\\n              <div class=\\\"item-title\\\">9. Overdue Tasks for Emily and Alex - Oct 09, 2025</div>\\n              <div class=\\\"summary\\\">You need to complete the overdue tasks related to Emily and Alex, including selecting cocktail napkins and contacting Enrique regarding the marriage.</div>\\n              \\n                <div class=\\\"item-details\\\">\\n                  <div class=\\\"detail-row\\\"><span class=\\\"detail-label\\\">Actions:</span></div>\\n                  <ul>\\n                    \\n                      <li class=\\\"CRITICAL\\\">\\n                        [CRITICAL] Select cocktail napkins\\n                      </li>\\n                    \\n                      <li class=\\\"HIGH\\\">\\n                        [HIGH] Contact Enrique regarding the marriage\\n                      </li>\\n                    \\n                  </ul>\\n                </div>\\n              \\n              \\n                <div class=\\\"references\\\">\\n                  <div class=\\\"ref-title\\\">Source Emails:</div>\\n                  \\n                    <a href=\\\"https://outlook.office365.com/mail/deeplink/read/AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAkys25AAA%3D?ItemID=AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAkys25AAA%3D&exvsurl=1\\\" class=\\\"ref-link\\\">E25</a>\\n                  \\n                </div>\\n              \\n            </div>\\n          \\n            <div class=\\\"item\\\">\\n              <div class=\\\"item-title\\\">10. Today + Upcoming – Emily + Alex – Oct 06, 2025</div>\\n              <div class=\\\"summary\\\">You need to complete the overdue tasks listed for today, including the napkin choice for the cocktail event.</div>\\n              \\n                <div class=\\\"item-details\\\">\\n                  <div class=\\\"detail-row\\\"><span class=\\\"detail-label\\\">Actions:</span></div>\\n                  <ul>\\n                    \\n                      <li class=\\\"CRITICAL\\\">\\n                        [CRITICAL] Complete the overdue tasks for today.\\n                      </li>\\n                    \\n                  </ul>\\n                </div>\\n              \\n              \\n                <div class=\\\"references\\\">\\n                  <div class=\\\"ref-title\\\">Source Emails:</div>\\n                  \\n                    <a href=\\\"https://outlook.office365.com/mail/deeplink/read/AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAh6k61AAA%3D?ItemID=AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAh6k61AAA%3D&exvsurl=1\\\" class=\\\"ref-link\\\">E28</a>\\n                  \\n                    <a href=\\\"https://outlook.office365.com/mail/deeplink/read/AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAh6k6zAAA%3D?ItemID=AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAh6k6zAAA%3D&exvsurl=1\\\" class=\\\"ref-link\\\">E29</a>\\n                  \\n                    <a href=\\\"https://outlook.office365.com/mail/deeplink/read/AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAh6k6yAAA%3D?ItemID=AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAh6k6yAAA%3D&exvsurl=1\\\" class=\\\"ref-link\\\">E31</a>\\n                  \\n                </div>\\n              \\n            </div>\\n          \\n            <div class=\\\"item\\\">\\n              <div class=\\\"item-title\\\">11. Upcoming – Emily + Alex – Oct 05, 2025</div>\\n              <div class=\\\"summary\\\">You need to complete all assigned tasks for the upcoming days and address any overdue items promptly.</div>\\n              \\n                <div class=\\\"item-details\\\">\\n                  <div class=\\\"detail-row\\\"><span class=\\\"detail-label\\\">Actions:</span></div>\\n                  <ul>\\n                    \\n                      <li class=\\\"CRITICAL\\\">\\n                        [CRITICAL] Complete all assigned tasks for the upcoming days.\\n                      </li>\\n                    \\n                      <li class=\\\"HIGH\\\">\\n                        [HIGH] Address any overdue items immediately.\\n                      </li>\\n                    \\n                  </ul>\\n                </div>\\n              \\n              \\n                <div class=\\\"references\\\">\\n                  <div class=\\\"ref-title\\\">Source Emails:</div>\\n                  \\n                    <a href=\\\"https://outlook.office365.com/mail/deeplink/read/AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAh6k6xAAA%3D?ItemID=AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAh6k6xAAA%3D&exvsurl=1\\\" class=\\\"ref-link\\\">E32</a>\\n                  \\n                </div>\\n              \\n            </div>\\n          \\n            <div class=\\\"item\\\">\\n              <div class=\\\"item-title\\\">12. Team Tasks Deadline - Oct 05, 2025</div>\\n              <div class=\\\"summary\\\">You need to complete the overdue tasks for the team by the deadline of October 5, 2025.</div>\\n              \\n                <div class=\\\"item-details\\\">\\n                  <div class=\\\"detail-row\\\"><span class=\\\"detail-label\\\">Actions:</span></div>\\n                  <ul>\\n                    \\n                      <li class=\\\"CRITICAL\\\">\\n                        [CRITICAL] Complete all overdue tasks for the team\\n                      </li>\\n                    \\n                  </ul>\\n                </div>\\n              \\n              \\n                <div class=\\\"references\\\">\\n                  <div class=\\\"ref-title\\\">Source Emails:</div>\\n                  \\n                    <a href=\\\"https://outlook.office365.com/mail/deeplink/read/AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAh6k6wAAA%3D?ItemID=AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAh6k6wAAA%3D&exvsurl=1\\\" class=\\\"ref-link\\\">E33</a>\\n                  \\n                </div>\\n              \\n            </div>\\n          \\n            <div class=\\\"item\\\">\\n              <div class=\\\"item-title\\\">13. ChatGPT Parent Invitation from Alex Short</div>\\n              <div class=\\\"summary\\\">You need to accept the invitation from Alex Short to manage your teen's ChatGPT settings. This includes setting time limits for usage.</div>\\n              \\n                <div class=\\\"item-details\\\">\\n                  <div class=\\\"detail-row\\\"><span class=\\\"detail-label\\\">Actions:</span></div>\\n                  <ul>\\n                    \\n                      <li class=\\\"CRITICAL\\\">\\n                        [CRITICAL] Accept the invitation to manage ChatGPT settings\\n                      </li>\\n                    \\n                      <li class=\\\"HIGH\\\">\\n                        [HIGH] Set time limits for ChatGPT usage\\n                      </li>\\n                    \\n                  </ul>\\n                </div>\\n              \\n              \\n                <div class=\\\"references\\\">\\n                  <div class=\\\"ref-title\\\">Source Emails:</div>\\n                  \\n                    <a href=\\\"https://outlook.office365.com/mail/deeplink/read/AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAfcfyIAAA%3D?ItemID=AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAfcfyIAAA%3D&exvsurl=1\\\" class=\\\"ref-link\\\">E34</a>\\n                  \\n                </div>\\n              \\n            </div>\\n          \\n            <div class=\\\"item\\\">\\n              <div class=\\\"item-title\\\">14. Feedback Request for HSBC Business Account</div>\\n              <div class=\\\"summary\\\">You need to complete the HSBC business account survey, which will take approximately 5 minutes. Your feedback is valuable for their service improvement.</div>\\n              \\n                <div class=\\\"item-details\\\">\\n                  <div class=\\\"detail-row\\\"><span class=\\\"detail-label\\\">Actions:</span></div>\\n                  <ul>\\n                    \\n                      <li class=\\\"HIGH\\\">\\n                        [HIGH] Respond to the HSBC business account survey\\n                      </li>\\n                    \\n                  </ul>\\n                </div>\\n              \\n              \\n                <div class=\\\"references\\\">\\n                  <div class=\\\"ref-title\\\">Source Emails:</div>\\n                  \\n                    <a href=\\\"https://outlook.office365.com/mail/deeplink/read/AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAeDSOLAAA%3D?ItemID=AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAeDSOLAAA%3D&exvsurl=1\\\" class=\\\"ref-link\\\">E35</a>\\n                  \\n                </div>\\n              \\n            </div>\\n          \\n            <div class=\\\"item\\\">\\n              <div class=\\\"item-title\\\">15. Review Questionnaire from Alex Short</div>\\n              <div class=\\\"summary\\\">You need to review the questionnaire sent by Alex Short for any necessary actions or responses.</div>\\n              \\n                <div class=\\\"item-details\\\">\\n                  <div class=\\\"detail-row\\\"><span class=\\\"detail-label\\\">Actions:</span></div>\\n                  <ul>\\n                    \\n                      <li class=\\\"HIGH\\\">\\n                        [HIGH] Review the questionnaire for required actions or responses.\\n                      </li>\\n                    \\n                  </ul>\\n                </div>\\n              \\n              \\n                <div class=\\\"references\\\">\\n                  <div class=\\\"ref-title\\\">Source Emails:</div>\\n                  \\n                    <a href=\\\"https://outlook.office365.com/mail/deeplink/read/AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEJAACughJdAi0rTpZCV7kCE1gaAAAaHRvgAAA%3D?ItemID=AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEJAACughJdAi0rTpZCV7kCE1gaAAAaHRvgAAA%3D&exvsurl=1\\\" class=\\\"ref-link\\\">E43</a>\\n                  \\n                </div>\\n              \\n            </div>\\n          \\n      </div>\\n    </div>\\n  \\n    <div class=\\\"section\\\">\\n      <div class=\\\"section-header\\\">\\n        <div class=\\\"section-title\\\">Financial</div>\\n        <div class=\\\"section-status\\\">\\n          6 handover(s)\\n        </div>\\n      </div>\\n      <div class=\\\"section-content\\\">\\n        \\n            <div class=\\\"item\\\">\\n              <div class=\\\"item-title\\\">1. Microsoft Invoice G118751505 Ready for Review</div>\\n              <div class=\\\"summary\\\">You need to sign in to review your latest Microsoft invoice G118751505. If you have already paid it, you can disregard this email.</div>\\n              \\n                <div class=\\\"item-details\\\">\\n                  <div class=\\\"detail-row\\\"><span class=\\\"detail-label\\\">Actions:</span></div>\\n                  <ul>\\n                    \\n                      <li class=\\\"HIGH\\\">\\n                        [HIGH] Sign in to review the Microsoft invoice G118751505\\n                      </li>\\n                    \\n                  </ul>\\n                </div>\\n              \\n              \\n                <div class=\\\"references\\\">\\n                  <div class=\\\"ref-title\\\">Source Emails:</div>\\n                  \\n                    <a href=\\\"https://outlook.office365.com/mail/deeplink/read/AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAnnduiAAA%3D?ItemID=AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAnnduiAAA%3D&exvsurl=1\\\" class=\\\"ref-link\\\">E16</a>\\n                  \\n                </div>\\n              \\n            </div>\\n          \\n            <div class=\\\"item\\\">\\n              <div class=\\\"item-title\\\">2. Exchange Online (Plan 1) Subscription Renewal</div>\\n              <div class=\\\"summary\\\">Your Exchange Online (Plan 1) subscription was successfully renewed on 11 October 2025. A charge will be made to your payment method.</div>\\n              \\n                <div class=\\\"item-details\\\">\\n                  <div class=\\\"detail-row\\\"><span class=\\\"detail-label\\\">Actions:</span></div>\\n                  <ul>\\n                    \\n                      <li class=\\\"NORMAL\\\">\\n                        [NORMAL] Verify the payment method for the subscription charge.\\n                      </li>\\n                    \\n                  </ul>\\n                </div>\\n              \\n              \\n                <div class=\\\"references\\\">\\n                  <div class=\\\"ref-title\\\">Source Emails:</div>\\n                  \\n                    <a href=\\\"https://outlook.office365.com/mail/deeplink/read/AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAmTdBlAAA%3D?ItemID=AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAmTdBlAAA%3D&exvsurl=1\\\" class=\\\"ref-link\\\">E20</a>\\n                  \\n                </div>\\n              \\n            </div>\\n          \\n            <div class=\\\"item\\\">\\n              <div class=\\\"item-title\\\">3. Progress of your business account application</div>\\n              <div class=\\\"summary\\\">You need to address the outstanding actions on the current account application for CELESTE7 LTD, as none have been completed in the last 7 days.</div>\\n              \\n                <div class=\\\"item-details\\\">\\n                  <div class=\\\"detail-row\\\"><span class=\\\"detail-label\\\">Actions:</span></div>\\n                  <ul>\\n                    \\n                      <li class=\\\"CRITICAL\\\">\\n                        [CRITICAL] Complete outstanding actions on the business account application for CELESTE7 LTD.\\n                      </li>\\n                    \\n                  </ul>\\n                </div>\\n              \\n              \\n                <div class=\\\"references\\\">\\n                  <div class=\\\"ref-title\\\">Source Emails:</div>\\n                  \\n                    <a href=\\\"https://outlook.office365.com/mail/deeplink/read/AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAeDSOKAAA%3D?ItemID=AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAeDSOKAAA%3D&exvsurl=1\\\" class=\\\"ref-link\\\">E36</a>\\n                  \\n                    <a href=\\\"https://outlook.office365.com/mail/deeplink/read/AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAeDSOHAAA%3D?ItemID=AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAeDSOHAAA%3D&exvsurl=1\\\" class=\\\"ref-link\\\">E37</a>\\n                  \\n                    <a href=\\\"https://outlook.office365.com/mail/deeplink/read/AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAeDSOIAAA%3D?ItemID=AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAeDSOIAAA%3D&exvsurl=1\\\" class=\\\"ref-link\\\">E38</a>\\n                  \\n                </div>\\n              \\n            </div>\\n          \\n            <div class=\\\"item\\\">\\n              <div class=\\\"item-title\\\">4. Payment Confirmation for Invoice #59400 - Gabriel Edward Jewelers</div>\\n              <div class=\\\"summary\\\">The payment of $2407.50 for invoice number 59400 to Gabriel Edward Jewelers has been confirmed as paid on 09/23/2025.</div>\\n              \\n                <div class=\\\"item-details\\\">\\n                  <div class=\\\"detail-row\\\"><span class=\\\"detail-label\\\">Actions:</span></div>\\n                  <ul>\\n                    \\n                      <li class=\\\"NORMAL\\\">\\n                        [NORMAL] Record the payment details in the financial system.\\n                      </li>\\n                    \\n                  </ul>\\n                </div>\\n              \\n              \\n                <div class=\\\"references\\\">\\n                  <div class=\\\"ref-title\\\">Source Emails:</div>\\n                  \\n                    <a href=\\\"https://outlook.office365.com/mail/deeplink/read/AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAE2AACughJdAi0rTpZCV7kCE1gaAAAa4Ha3AAA%3D?ItemID=AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAE2AACughJdAi0rTpZCV7kCE1gaAAAa4Ha3AAA%3D&exvsurl=1\\\" class=\\\"ref-link\\\">E40</a>\\n                  \\n                </div>\\n              \\n            </div>\\n          \\n            <div class=\\\"item\\\">\\n              <div class=\\\"item-title\\\">5. Gabriel Edward Jewelers Invoice #59400 Review</div>\\n              <div class=\\\"summary\\\">You need to review the invoice from Gabriel Edward Jewelers sent on September 23, 2025.</div>\\n              \\n                <div class=\\\"item-details\\\">\\n                  <div class=\\\"detail-row\\\"><span class=\\\"detail-label\\\">Actions:</span></div>\\n                  <ul>\\n                    \\n                      <li class=\\\"HIGH\\\">\\n                        [HIGH] Review the invoice from Gabriel Edward Jewelers.\\n                      </li>\\n                    \\n                  </ul>\\n                </div>\\n              \\n              \\n                <div class=\\\"references\\\">\\n                  <div class=\\\"ref-title\\\">Source Emails:</div>\\n                  \\n                    <a href=\\\"https://outlook.office365.com/mail/deeplink/read/AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEJAACughJdAi0rTpZCV7kCE1gaAAAa4Dc0AAA%3D?ItemID=AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEJAACughJdAi0rTpZCV7kCE1gaAAAa4Dc0AAA%3D&exvsurl=1\\\" class=\\\"ref-link\\\">E41</a>\\n                  \\n                </div>\\n              \\n            </div>\\n          \\n            <div class=\\\"item\\\">\\n              <div class=\\\"item-title\\\">6. Gabriel Edward Jewelers Invoice #59400</div>\\n              <div class=\\\"summary\\\">You need to pay the invoice of $2,407.50 by September 23, 2025.</div>\\n              \\n                <div class=\\\"item-details\\\">\\n                  <div class=\\\"detail-row\\\"><span class=\\\"detail-label\\\">Actions:</span></div>\\n                  <ul>\\n                    \\n                      <li class=\\\"CRITICAL\\\">\\n                        [CRITICAL] Process payment for invoice #59400\\n                      </li>\\n                    \\n                  </ul>\\n                </div>\\n              \\n              \\n                <div class=\\\"references\\\">\\n                  <div class=\\\"ref-title\\\">Source Emails:</div>\\n                  \\n                    <a href=\\\"https://outlook.office365.com/mail/deeplink/read/AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAE2AACughJdAi0rTpZCV7kCE1gaAAAa4Ha4AAA%3D?ItemID=AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAE2AACughJdAi0rTpZCV7kCE1gaAAAa4Ha4AAA%3D&exvsurl=1\\\" class=\\\"ref-link\\\">E42</a>\\n                  \\n                </div>\\n              \\n            </div>\\n          \\n      </div>\\n    </div>\\n  \\n    <div class=\\\"section\\\">\\n      <div class=\\\"section-header\\\">\\n        <div class=\\\"section-title\\\">Projects</div>\\n        <div class=\\\"section-status\\\">\\n          4 handover(s)\\n        </div>\\n      </div>\\n      <div class=\\\"section-content\\\">\\n        \\n            <div class=\\\"item\\\">\\n              <div class=\\\"item-title\\\">1. Yacht Handover Report - 10/21/2025</div>\\n              <div class=\\\"summary\\\">You need to review the attached Yacht Handover Report for 2025-10-21, which includes technical summaries, key action items, vendor details, and deadlines.</div>\\n              \\n                <div class=\\\"item-details\\\">\\n                  <div class=\\\"detail-row\\\"><span class=\\\"detail-label\\\">Actions:</span></div>\\n                  <ul>\\n                    \\n                      <li class=\\\"CRITICAL\\\">\\n                        [CRITICAL] Review the Yacht Handover Report for 2025-10-21.\\n                      </li>\\n                    \\n                  </ul>\\n                </div>\\n              \\n              \\n                <div class=\\\"references\\\">\\n                  <div class=\\\"ref-title\\\">Source Emails:</div>\\n                  \\n                    <a href=\\\"https://outlook.office365.com/mail/deeplink/read/AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEWAACughJdAi0rTpZCV7kCE1gaAAAs5QFoAAA%3D?ItemID=AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEWAACughJdAi0rTpZCV7kCE1gaAAAs5QFoAAA%3D&exvsurl=1\\\" class=\\\"ref-link\\\">E1</a>\\n                  \\n                    <a href=\\\"https://outlook.office365.com/mail/deeplink/read/AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEWAACughJdAi0rTpZCV7kCE1gaAAAs5QFnAAA%3D?ItemID=AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEWAACughJdAi0rTpZCV7kCE1gaAAAs5QFnAAA%3D&exvsurl=1\\\" class=\\\"ref-link\\\">E2</a>\\n                  \\n                </div>\\n              \\n            </div>\\n          \\n            <div class=\\\"item\\\">\\n              <div class=\\\"item-title\\\">2. Yacht Handover Report - 09/10/2025</div>\\n              <div class=\\\"summary\\\">You need to review the attached Yacht Handover Report, which includes technical summaries, key action items, vendor details, and deadlines.</div>\\n              \\n                <div class=\\\"item-details\\\">\\n                  <div class=\\\"detail-row\\\"><span class=\\\"detail-label\\\">Actions:</span></div>\\n                  <ul>\\n                    \\n                      <li class=\\\"CRITICAL\\\">\\n                        [CRITICAL] Review the Yacht Handover Report.\\n                      </li>\\n                    \\n                  </ul>\\n                </div>\\n              \\n              \\n                <div class=\\\"references\\\">\\n                  <div class=\\\"ref-title\\\">Source Emails:</div>\\n                  \\n                    <a href=\\\"https://outlook.office365.com/mail/deeplink/read/AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAkys26AAA%3D?ItemID=AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAkys26AAA%3D&exvsurl=1\\\" class=\\\"ref-link\\\">E22</a>\\n                  \\n                    <a href=\\\"https://outlook.office365.com/mail/deeplink/read/AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAkys23AAA%3D?ItemID=AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAkys23AAA%3D&exvsurl=1\\\" class=\\\"ref-link\\\">E23</a>\\n                  \\n                    <a href=\\\"https://outlook.office365.com/mail/deeplink/read/AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAkys24AAA%3D?ItemID=AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAkys24AAA%3D&exvsurl=1\\\" class=\\\"ref-link\\\">E24</a>\\n                  \\n                </div>\\n              \\n            </div>\\n          \\n            <div class=\\\"item\\\">\\n              <div class=\\\"item-title\\\">3. Overdue Tasks for Emily and Alex - Oct 07, 2025</div>\\n              <div class=\\\"summary\\\">You need to finalize the selection of cocktail napkins to match the linens. This task is overdue and requires immediate attention.</div>\\n              \\n                <div class=\\\"item-details\\\">\\n                  <div class=\\\"detail-row\\\"><span class=\\\"detail-label\\\">Actions:</span></div>\\n                  <ul>\\n                    \\n                      <li class=\\\"CRITICAL\\\">\\n                        [CRITICAL] Select color and size of cocktail napkins from Etsy\\n                      </li>\\n                    \\n                  </ul>\\n                </div>\\n              \\n              \\n                <div class=\\\"references\\\">\\n                  <div class=\\\"ref-title\\\">Source Emails:</div>\\n                  \\n                    <a href=\\\"https://outlook.office365.com/mail/deeplink/read/AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAkys22AAA%3D?ItemID=AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAkys22AAA%3D&exvsurl=1\\\" class=\\\"ref-link\\\">E27</a>\\n                  \\n                </div>\\n              \\n            </div>\\n          \\n            <div class=\\\"item\\\">\\n              <div class=\\\"item-title\\\">4. Yacht Handover Report - 26/09/2025</div>\\n              <div class=\\\"summary\\\">You need to review the Yacht Handover Report for 2025-09-27, which includes technical summaries, key action items, vendor details, and deadlines.</div>\\n              \\n                <div class=\\\"item-details\\\">\\n                  <div class=\\\"detail-row\\\"><span class=\\\"detail-label\\\">Actions:</span></div>\\n                  <ul>\\n                    \\n                      <li class=\\\"CRITICAL\\\">\\n                        [CRITICAL] Review the attached Yacht Handover Report\\n                      </li>\\n                    \\n                  </ul>\\n                </div>\\n              \\n              \\n                <div class=\\\"references\\\">\\n                  <div class=\\\"ref-title\\\">Source Emails:</div>\\n                  \\n                    <a href=\\\"https://outlook.office365.com/mail/deeplink/read/AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEMAACughJdAi0rTpZCV7kCE1gaAAAdBoMCAAA%3D?ItemID=AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEMAACughJdAi0rTpZCV7kCE1gaAAAdBoMCAAA%3D&exvsurl=1\\\" class=\\\"ref-link\\\">E39</a>\\n                  \\n                </div>\\n              \\n            </div>\\n          \\n      </div>\\n    </div>\\n  \\n    <div class=\\\"section\\\">\\n      <div class=\\\"section-header\\\">\\n        <div class=\\\"section-title\\\">General  Outstanding</div>\\n        <div class=\\\"section-status\\\">\\n          4 handover(s)\\n        </div>\\n      </div>\\n      <div class=\\\"section-content\\\">\\n        \\n            <div class=\\\"item\\\">\\n              <div class=\\\"item-title\\\">1. Upcoming Team Tasks - Oct 15, 2025</div>\\n              <div class=\\\"summary\\\">You have 52 days remaining to complete your tasks. Focus on managing any overdue items effectively.</div>\\n              \\n                <div class=\\\"item-details\\\">\\n                  <div class=\\\"detail-row\\\"><span class=\\\"detail-label\\\">Actions:</span></div>\\n                  <ul>\\n                    \\n                      <li class=\\\"CRITICAL\\\">\\n                        [CRITICAL] Complete all tasks for today\\n                      </li>\\n                    \\n                      <li class=\\\"HIGH\\\">\\n                        [HIGH] Manage any overdue items\\n                      </li>\\n                    \\n                  </ul>\\n                </div>\\n              \\n              \\n                <div class=\\\"references\\\">\\n                  <div class=\\\"ref-title\\\">Source Emails:</div>\\n                  \\n                    <a href=\\\"https://outlook.office365.com/mail/deeplink/read/AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAApo8EZAAA%3D?ItemID=AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAApo8EZAAA%3D&exvsurl=1\\\" class=\\\"ref-link\\\">E4</a>\\n                  \\n                </div>\\n              \\n            </div>\\n          \\n            <div class=\\\"item\\\">\\n              <div class=\\\"item-title\\\">2. Intro to S&L Wedding Team</div>\\n              <div class=\\\"summary\\\">You need to confirm your tuxedo selection for the wedding with State and Liberty.</div>\\n              \\n                <div class=\\\"item-details\\\">\\n                  <div class=\\\"detail-row\\\"><span class=\\\"detail-label\\\">Actions:</span></div>\\n                  <ul>\\n                    \\n                      <li class=\\\"CRITICAL\\\">\\n                        [CRITICAL] Confirm tuxedo selection with State and Liberty.\\n                      </li>\\n                    \\n                  </ul>\\n                </div>\\n              \\n              \\n                <div class=\\\"references\\\">\\n                  <div class=\\\"ref-title\\\">Source Emails:</div>\\n                  \\n                    <a href=\\\"https://outlook.office365.com/mail/deeplink/read/AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAmTdBkAAA%3D?ItemID=AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAmTdBkAAA%3D&exvsurl=1\\\" class=\\\"ref-link\\\">E19</a>\\n                  \\n                </div>\\n              \\n            </div>\\n          \\n            <div class=\\\"item\\\">\\n              <div class=\\\"item-title\\\">3. Upcoming Cocktail Event - Napkin Choice</div>\\n              <div class=\\\"summary\\\">You have an overdue task regarding the selection of napkins for the cocktail event scheduled for October 6, 2025. This needs to be addressed promptly to ensure all preparations are on track.</div>\\n              \\n                <div class=\\\"item-details\\\">\\n                  <div class=\\\"detail-row\\\"><span class=\\\"detail-label\\\">Actions:</span></div>\\n                  <ul>\\n                    \\n                      <li class=\\\"CRITICAL\\\">\\n                        [CRITICAL] Complete the napkin choice for the cocktail event.\\n                      </li>\\n                    \\n                  </ul>\\n                </div>\\n              \\n              \\n                <div class=\\\"references\\\">\\n                  <div class=\\\"ref-title\\\">Source Emails:</div>\\n                  \\n                    <a href=\\\"https://outlook.office365.com/mail/deeplink/read/AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAh6k60AAA%3D?ItemID=AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAh6k60AAA%3D&exvsurl=1\\\" class=\\\"ref-link\\\">E30</a>\\n                  \\n                </div>\\n              \\n            </div>\\n          \\n            <div class=\\\"item\\\">\\n              <div class=\\\"item-title\\\">4. Questionnaire</div>\\n              <div class=\\\"summary\\\">You need to address the outstanding issues mentioned in the email to ensure smooth operations.</div>\\n              \\n                <div class=\\\"item-details\\\">\\n                  <div class=\\\"detail-row\\\"><span class=\\\"detail-label\\\">Actions:</span></div>\\n                  <ul>\\n                    \\n                      <li class=\\\"CRITICAL\\\">\\n                        [CRITICAL] Review and resolve all outstanding issues from the questionnaire.\\n                      </li>\\n                    \\n                  </ul>\\n                </div>\\n              \\n              \\n                <div class=\\\"references\\\">\\n                  <div class=\\\"ref-title\\\">Source Emails:</div>\\n                  \\n                    <a href=\\\"https://outlook.office365.com/mail/deeplink/read/AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEJAACughJdAi0rTpZCV7kCE1gaAAAaHRvfAAA%3D?ItemID=AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEJAACughJdAi0rTpZCV7kCE1gaAAAaHRvfAAA%3D&exvsurl=1\\\" class=\\\"ref-link\\\">E44</a>\\n                  \\n                </div>\\n              \\n            </div>\\n          \\n      </div>\\n    </div>\\n  \\n    <div class=\\\"section\\\">\\n      <div class=\\\"section-header\\\">\\n        <div class=\\\"section-title\\\">Logistics</div>\\n        <div class=\\\"section-status\\\">\\n          1 handover(s)\\n        </div>\\n      </div>\\n      <div class=\\\"section-content\\\">\\n        \\n            <div class=\\\"item\\\">\\n              <div class=\\\"item-title\\\">1. Activate Your Yacht: MYSTIC_2025_001</div>\\n              <div class=\\\"summary\\\">You need to confirm the delivery schedule for supplies and prepare all necessary documentation for customs clearance.</div>\\n              \\n                <div class=\\\"item-details\\\">\\n                  <div class=\\\"detail-row\\\"><span class=\\\"detail-label\\\">Actions:</span></div>\\n                  <ul>\\n                    \\n                      <li class=\\\"CRITICAL\\\">\\n                        [CRITICAL] Confirm the delivery schedule for supplies.\\n                      </li>\\n                    \\n                      <li class=\\\"CRITICAL\\\">\\n                        [CRITICAL] Prepare necessary documentation for customs clearance.\\n                      </li>\\n                    \\n                  </ul>\\n                </div>\\n              \\n              \\n                <div class=\\\"references\\\">\\n                  <div class=\\\"ref-title\\\">Source Emails:</div>\\n                  \\n                    <a href=\\\"https://outlook.office365.com/mail/deeplink/read/AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAoUF2RAAA%3D?ItemID=AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAoUF2RAAA%3D&exvsurl=1\\\" class=\\\"ref-link\\\">E15</a>\\n                  \\n                </div>\\n              \\n            </div>\\n          \\n      </div>\\n    </div>\\n  \\n    <div class=\\\"section\\\">\\n      <div class=\\\"section-header\\\">\\n        <div class=\\\"section-title\\\">Galley  Laundry</div>\\n        <div class=\\\"section-status\\\">\\n          1 handover(s)\\n        </div>\\n      </div>\\n      <div class=\\\"section-content\\\">\\n        \\n            <div class=\\\"item\\\">\\n              <div class=\\\"item-title\\\">1. Overdue Tasks for Galley Laundry - Oct 08, 2025</div>\\n              <div class=\\\"summary\\\">You need to finalize the selection of cocktail napkins on Etsy to match the linens. This task is overdue and requires immediate attention.</div>\\n              \\n                <div class=\\\"item-details\\\">\\n                  <div class=\\\"detail-row\\\"><span class=\\\"detail-label\\\">Actions:</span></div>\\n                  <ul>\\n                    \\n                      <li class=\\\"CRITICAL\\\">\\n                        [CRITICAL] Select color and size of cocktail napkins on Etsy\\n                      </li>\\n                    \\n                  </ul>\\n                </div>\\n              \\n              \\n                <div class=\\\"references\\\">\\n                  <div class=\\\"ref-title\\\">Source Emails:</div>\\n                  \\n                    <a href=\\\"https://outlook.office365.com/mail/deeplink/read/AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAkys21AAA%3D?ItemID=AAMkAGMwMWRlNTkyLTkwMDQtNGQzYS04ZjQ3LWM4YWJiZjkwNWJlNQBGAAAAAADDCGyuPoXVSZhH9AJuBLdhBwCughJdAi0rTpZCV7kCE1gaAAAAAAEKAACughJdAi0rTpZCV7kCE1gaAAAkys21AAA%3D&exvsurl=1\\\" class=\\\"ref-link\\\">E26</a>\\n                  \\n                </div>\\n              \\n            </div>\\n          \\n      </div>\\n    </div>\\n  \\n\\n    <div class=\\\"signature-block\\\">\\n      <div class=\\\"signature-line\\\">\\n        <div>PREPARED BY</div>\\n        <div style=\\\"margin-top: 5px; font-size: 10pt;\\\">Engineering Department</div>\\n      </div>\\n      <div class=\\\"signature-line\\\">\\n        <div>REVIEWED BY</div>\\n        <div style=\\\"margin-top: 5px; font-size: 10pt;\\\">Chief Engineer</div>\\n      </div>\\n    </div>\\n\\n    <div class=\\\"footer\\\">\\n      <div>CONFIDENTIAL - TECHNICAL HANDOVER DOCUMENT</div>\\n      <div style=\\\"margin-top: 5px;\\\">\\n        31\\n        of 31 departments with updates |\\n        44 total communications processed\\n      </div>\\n      <div style=\\\"margin-top: 5px; font-size: 8pt;\\\">\\n        This document contains proprietary information and is intended solely for internal use.\\n      </div>\\n    </div>\\n  </div>\\n</body>\\n</html>\",\n    \"subject\": \"Yacht Handover Report - 10/22/2025 | undefined Active Sections | 44 Emails Processed\"\n  }\n]\n;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4620,
        600
      ],
      "id": "c0cbaca4-2788-4e47-bc7c-8ca2e11145e1",
      "name": "Code4"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2300,
        940
      ],
      "id": "8bf91bf8-cb81-4af9-b6e8-f8e28227dd3b",
      "name": "Code3"
    }
  ],
  "pinData": {},
  "connections": {
    "Group Emails by Equipment": {
      "main": [
        [
          {
            "node": "Batch Summaries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "2. Parse Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Email": {
      "main": [
        [
          {
            "node": "Extract HTML Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Prompt Email Extraction",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prompt Subject Extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Subject & Body": {
      "main": [
        [
          {
            "node": "Index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Group Emails by Equipment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Short Id": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Final Formatter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prompt Builder2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Process Response": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Index": {
      "main": [
        [
          {
            "node": "Add Short Id",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Process Response1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Prompt Email Extraction": {
      "main": [
        [
          {
            "node": "DS Blog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Subject Extraction": {
      "main": [
        [
          {
            "node": "DS Blog1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Summaries": {
      "main": [
        [
          {
            "node": "Group summaries by category + subject",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Group summaries by category + subject": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Builder2": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          },
          {
            "node": "DS Blog2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Response Processor2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "AI Response Processor2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Formatter": {
      "main": [
        [
          {
            "node": "Process JSON and Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process JSON and Extract Data": {
      "main": [
        [
          {
            "node": "Deduplicate Summaries & Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicate Summaries & Actions": {
      "main": [
        [
          {
            "node": "HTML Converter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Converter": {
      "main": [
        [
          {
            "node": "Prepare for Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract HTML Body": {
      "main": [
        [
          {
            "node": "Convert to Attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Attachment": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DS Blog": {
      "main": [
        [
          {
            "node": "AI Process Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DS Blog1": {
      "main": [
        [
          {
            "node": "AI Process Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DS Blog2": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9. Fetch Outlook Emails (Graph API)1": {
      "main": [
        [
          {
            "node": "10. Combine Handover + Emails1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10. Combine Handover + Emails1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Parse Request": {
      "main": [
        [
          {
            "node": "3. Fetch Yacht Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Fetch Yacht Config": {
      "main": [
        [
          {
            "node": "4. Merge Yacht Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Verify HMAC & Timestamp": {
      "main": [
        [
          {
            "node": "9. Fetch Outlook Emails (Graph API)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "2. Parse Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Merge Yacht Data": {
      "main": [
        [
          {
            "node": "5. Verify HMAC & Timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [],
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Extract Subject & Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Extract HTML Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "8f898e0d-e8fb-4f17-83d1-1e5814c72bb1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6385a73eae1665b82318a3c042d3a51d9597ca6c6d39690ed8a47ce1aa6e47e3"
  },
  "id": "vej1ZBRKdNBkiIZf",
  "tags": []
}