cloud/n8n-workflows/upload-init-workflow.json
{
  "name": "CelesteOS Upload Init",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "v1/ingest/init",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d1a2b3c4-5678-90ab-cdef-123456789000",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "celesteos-upload-init"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "a1b2c3d4",
              "leftValue": "={{ $json.headers['x-yacht-signature'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "e5f6g7h8",
              "leftValue": "={{ $json.headers.authorization }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d1a2b3c4-5678-90ab-cdef-123456789001",
      "name": "Validate Headers",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "field1",
              "name": "yacht_signature",
              "value": "={{ $json.headers['x-yacht-signature'] }}",
              "type": "string"
            },
            {
              "id": "field2",
              "name": "auth_token",
              "value": "={{ $json.headers.authorization.replace('Bearer ', '') }}",
              "type": "string"
            },
            {
              "id": "field3",
              "name": "filename",
              "value": "={{ $json.body.filename }}",
              "type": "string"
            },
            {
              "id": "field4",
              "name": "file_size",
              "value": "={{ $json.body.file_size }}",
              "type": "number"
            },
            {
              "id": "field5",
              "name": "file_sha256",
              "value": "={{ $json.body.file_sha256 }}",
              "type": "string"
            },
            {
              "id": "field6",
              "name": "total_chunks",
              "value": "={{ $json.body.total_chunks }}",
              "type": "number"
            },
            {
              "id": "field7",
              "name": "mime_type",
              "value": "={{ $json.body.mime_type }}",
              "type": "string"
            },
            {
              "id": "field8",
              "name": "source_type",
              "value": "={{ $json.body.source_type }}",
              "type": "string"
            },
            {
              "id": "field9",
              "name": "source_path",
              "value": "={{ $json.body.source_path }}",
              "type": "string"
            },
            {
              "id": "field10",
              "name": "nas_path",
              "value": "={{ $json.body.nas_path }}",
              "type": "string"
            },
            {
              "id": "field11",
              "name": "document_type",
              "value": "={{ $json.body.document_type }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d1a2b3c4-5678-90ab-cdef-123456789002",
      "name": "Extract Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "getAll",
        "tableId": "yachts",
        "returnAll": false,
        "limit": 1,
        "filterType": "manual",
        "matchAny": false,
        "conditions": {
          "conditions": [
            {
              "keyName": "signature",
              "keyValue": "={{ $json.yacht_signature }}",
              "condition": "equals"
            },
            {
              "keyName": "status",
              "keyValue": "active",
              "condition": "equals"
            }
          ]
        }
      },
      "id": "d1a2b3c4-5678-90ab-cdef-123456789003",
      "name": "Verify Yacht",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [900, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "yacht-exists",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d1a2b3c4-5678-90ab-cdef-123456789004",
      "name": "Check Yacht Exists",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "getAll",
        "tableId": "user_tokens",
        "returnAll": false,
        "limit": 1,
        "filterType": "manual",
        "matchAny": false,
        "conditions": {
          "conditions": [
            {
              "keyName": "access_token",
              "keyValue": "={{ $('Extract Data').item.json.auth_token }}",
              "condition": "equals"
            },
            {
              "keyName": "yacht_id",
              "keyValue": "={{ $json.id }}",
              "condition": "equals"
            }
          ]
        },
        "options": {
          "queryName": "gt.expires_at",
          "queryValue": "now()"
        }
      },
      "id": "d1a2b3c4-5678-90ab-cdef-123456789005",
      "name": "Verify Token",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1340, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "token-valid",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d1a2b3c4-5678-90ab-cdef-123456789006",
      "name": "Check Token Valid",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "getAll",
        "tableId": "documents",
        "returnAll": false,
        "limit": 1,
        "filterType": "manual",
        "matchAny": false,
        "conditions": {
          "conditions": [
            {
              "keyName": "yacht_id",
              "keyValue": "={{ $('Verify Yacht').item.json.id }}",
              "condition": "equals"
            },
            {
              "keyName": "sha256",
              "keyValue": "={{ $('Extract Data').item.json.file_sha256 }}",
              "condition": "equals"
            }
          ]
        }
      },
      "id": "d1a2b3c4-5678-90ab-cdef-123456789007",
      "name": "Check Duplicate",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1780, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "not_duplicate"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "is_duplicate"
            }
          ]
        },
        "options": {}
      },
      "id": "d1a2b3c4-5678-90ab-cdef-123456789008",
      "name": "Route: Duplicate?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "insert",
        "tableId": "upload_sessions",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "yacht_id": "={{ $('Verify Yacht').item.json.id }}",
            "filename": "={{ $('Extract Data').item.json.filename }}",
            "file_size": "={{ $('Extract Data').item.json.file_size }}",
            "file_sha256": "={{ $('Extract Data').item.json.file_sha256 }}",
            "mime_type": "={{ $('Extract Data').item.json.mime_type }}",
            "total_chunks": "={{ $('Extract Data').item.json.total_chunks }}",
            "chunks_uploaded": 0,
            "status": "in_progress",
            "source_type": "={{ $('Extract Data').item.json.source_type }}",
            "source_path": "={{ $('Extract Data').item.json.source_path }}",
            "nas_path": "={{ $('Extract Data').item.json.nas_path }}",
            "document_type": "={{ $('Extract Data').item.json.document_type }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "d1a2b3c4-5678-90ab-cdef-123456789009",
      "name": "Create Upload Session",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2220, 200],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "insert",
        "tableId": "pipeline_logs",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "yacht_id": "={{ $('Verify Yacht').item.json.id }}",
            "upload_session_id": "={{ $json.id }}",
            "pipeline_stage": "upload",
            "log_level": "info",
            "message": "Upload session initiated for file: {{ $('Extract Data').item.json.filename }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "d1a2b3c4-5678-90ab-cdef-123456789010",
      "name": "Log Init",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2440, 200],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"status\": \"success\",\n  \"upload_id\": $json.id,\n  \"message\": \"Upload session created\",\n  \"total_chunks\": $('Extract Data').item.json.total_chunks\n} }}",
        "options": {
          "responseCode": 201
        }
      },
      "id": "d1a2b3c4-5678-90ab-cdef-123456789011",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2660, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"status\": \"duplicate\",\n  \"message\": \"File already exists\",\n  \"document_id\": $('Check Duplicate').item.json.id\n} }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "d1a2b3c4-5678-90ab-cdef-123456789012",
      "name": "Duplicate Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2220, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"status\": \"error\",\n  \"error\": \"Missing required headers: X-Yacht-Signature or Authorization\"\n} }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "d1a2b3c4-5678-90ab-cdef-123456789013",
      "name": "Error: Missing Headers",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [460, 480]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"status\": \"error\",\n  \"error\": \"Invalid yacht signature\"\n} }}",
        "options": {
          "responseCode": 403
        }
      },
      "id": "d1a2b3c4-5678-90ab-cdef-123456789014",
      "name": "Error: Invalid Yacht",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 480]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"status\": \"error\",\n  \"error\": \"Invalid or expired token\"\n} }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "d1a2b3c4-5678-90ab-cdef-123456789015",
      "name": "Error: Invalid Token",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1560, 480]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Headers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Headers": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: Missing Headers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "Verify Yacht",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Yacht": {
      "main": [
        [
          {
            "node": "Check Yacht Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Yacht Exists": {
      "main": [
        [
          {
            "node": "Verify Token",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: Invalid Yacht",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Token": {
      "main": [
        [
          {
            "node": "Check Token Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Token Valid": {
      "main": [
        [
          {
            "node": "Check Duplicate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: Invalid Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicate": {
      "main": [
        [
          {
            "node": "Route: Duplicate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route: Duplicate?": {
      "main": [
        [
          {
            "node": "Create Upload Session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Duplicate Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Upload Session": {
      "main": [
        [
          {
            "node": "Log Init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Init": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1.0.0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "celesteos-production"
  },
  "id": "celesteos-upload-init",
  "tags": []
}
