cloud/n8n-workflows/upload-chunk-workflow.json
{
  "name": "CelesteOS Upload Chunk",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "PATCH",
        "path": "v1/ingest/upload_chunk",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "c1a2b3c4-5678-90ab-cdef-123456789000",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "celesteos-upload-chunk"
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "field1",
              "name": "yacht_signature",
              "value": "={{ $json.headers['x-yacht-signature'] }}",
              "type": "string"
            },
            {
              "id": "field2",
              "name": "auth_token",
              "value": "={{ $json.headers.authorization ? $json.headers.authorization.replace('Bearer ', '') : '' }}",
              "type": "string"
            },
            {
              "id": "field3",
              "name": "upload_id",
              "value": "={{ $json.headers['upload-id'] }}",
              "type": "string"
            },
            {
              "id": "field4",
              "name": "chunk_index",
              "value": "={{ parseInt($json.headers['chunk-index']) }}",
              "type": "number"
            },
            {
              "id": "field5",
              "name": "chunk_sha256",
              "value": "={{ $json.headers['chunk-sha256'] }}",
              "type": "string"
            },
            {
              "id": "field6",
              "name": "chunk_data",
              "value": "={{ $json.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c1a2b3c4-5678-90ab-cdef-123456789001",
      "name": "Extract Headers",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "getAll",
        "tableId": "upload_sessions",
        "returnAll": false,
        "limit": 1,
        "filterType": "manual",
        "matchAny": false,
        "conditions": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.upload_id }}",
              "condition": "equals"
            },
            {
              "keyName": "status",
              "keyValue": "in_progress",
              "condition": "equals"
            }
          ]
        }
      },
      "id": "c1a2b3c4-5678-90ab-cdef-123456789002",
      "name": "Get Session",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [680, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "session-exists",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c1a2b3c4-5678-90ab-cdef-123456789003",
      "name": "Check Session",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// Get chunk data from request\nconst chunkData = $('Extract Headers').item.json.chunk_data;\nconst expectedSha256 = $('Extract Headers').item.json.chunk_sha256;\n\n// Compute SHA256 of received chunk\nconst crypto = require('crypto');\nconst hash = crypto.createHash('sha256');\n\n// Handle different data formats\nlet buffer;\nif (Buffer.isBuffer(chunkData)) {\n  buffer = chunkData;\n} else if (typeof chunkData === 'string') {\n  buffer = Buffer.from(chunkData, chunkData.match(/^[A-Za-z0-9+/=]+$/) ? 'base64' : 'utf8');\n} else if (chunkData && chunkData.data) {\n  buffer = Buffer.from(chunkData.data, 'base64');\n} else {\n  throw new Error('Invalid chunk data format');\n}\n\nhash.update(buffer);\nconst computedSha256 = hash.digest('hex');\nconst verified = (computedSha256.toLowerCase() === expectedSha256.toLowerCase());\n\nreturn {\n  verified: verified,\n  computed_sha256: computedSha256,\n  expected_sha256: expectedSha256,\n  chunk_size: buffer.length,\n  chunk_buffer: buffer.toString('base64')\n};"
      },
      "id": "c1a2b3c4-5678-90ab-cdef-123456789004",
      "name": "Verify SHA256",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "sha256-valid",
              "leftValue": "={{ $json.verified }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c1a2b3c4-5678-90ab-cdef-123456789005",
      "name": "Check Hash Valid",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/storage/v1/object/yacht-uploads/{{ $('Get Session').item.json.yacht_id }}/{{ $('Extract Headers').item.json.upload_id }}/chunk_{{ $('Extract Headers').item.json.chunk_index }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ Buffer.from($('Verify SHA256').item.json.chunk_buffer, 'base64') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/octet-stream"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c1a2b3c4-5678-90ab-cdef-123456789006",
      "name": "Upload to Storage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "insert",
        "tableId": "upload_chunks",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "upload_session_id": "={{ $('Extract Headers').item.json.upload_id }}",
            "yacht_id": "={{ $('Get Session').item.json.yacht_id }}",
            "chunk_index": "={{ $('Extract Headers').item.json.chunk_index }}",
            "chunk_sha256": "={{ $('Extract Headers').item.json.chunk_sha256 }}",
            "chunk_size": "={{ $('Verify SHA256').item.json.chunk_size }}",
            "temp_storage_path": "={{ $('Get Session').item.json.yacht_id }}/{{ $('Extract Headers').item.json.upload_id }}/chunk_{{ $('Extract Headers').item.json.chunk_index }}",
            "status": "verified",
            "verification_sha256": "={{ $('Verify SHA256').item.json.computed_sha256 }}",
            "uploaded_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "c1a2b3c4-5678-90ab-cdef-123456789007",
      "name": "Record Chunk",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1780, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "update",
        "tableId": "upload_sessions",
        "filterType": "manual",
        "matchAny": false,
        "conditions": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('Extract Headers').item.json.upload_id }}",
              "condition": "equals"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "chunks_uploaded": "={{ $('Get Session').item.json.chunks_uploaded + 1 }}",
            "last_chunk_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "c1a2b3c4-5678-90ab-cdef-123456789008",
      "name": "Increment Counter",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2000, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "insert",
        "tableId": "pipeline_logs",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "yacht_id": "={{ $('Get Session').item.json.yacht_id }}",
            "upload_session_id": "={{ $('Extract Headers').item.json.upload_id }}",
            "pipeline_stage": "upload",
            "log_level": "info",
            "message": "Chunk {{ $('Extract Headers').item.json.chunk_index }} uploaded successfully",
            "details": "={{ { chunk_index: $('Extract Headers').item.json.chunk_index, chunk_size: $('Verify SHA256').item.json.chunk_size } }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "c1a2b3c4-5678-90ab-cdef-123456789009",
      "name": "Log Chunk",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2220, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"status\": \"success\",\n  \"chunk_index\": $('Extract Headers').item.json.chunk_index,\n  \"verified\": true,\n  \"chunks_uploaded\": $('Get Session').item.json.chunks_uploaded + 1,\n  \"total_chunks\": $('Get Session').item.json.total_chunks\n} }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "c1a2b3c4-5678-90ab-cdef-123456789010",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2440, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"status\": \"error\",\n  \"error\": \"Upload session not found or already completed\"\n} }}",
        "options": {
          "responseCode": 404
        }
      },
      "id": "c1a2b3c4-5678-90ab-cdef-123456789011",
      "name": "Error: Session Not Found",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 480]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"status\": \"error\",\n  \"error\": \"SHA256 verification failed\",\n  \"expected\": $('Verify SHA256').item.json.expected_sha256,\n  \"computed\": $('Verify SHA256').item.json.computed_sha256\n} }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "c1a2b3c4-5678-90ab-cdef-123456789012",
      "name": "Error: SHA256 Mismatch",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 480]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Headers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Headers": {
      "main": [
        [
          {
            "node": "Get Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Session": {
      "main": [
        [
          {
            "node": "Check Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Session": {
      "main": [
        [
          {
            "node": "Verify SHA256",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: Session Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify SHA256": {
      "main": [
        [
          {
            "node": "Check Hash Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Hash Valid": {
      "main": [
        [
          {
            "node": "Upload to Storage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: SHA256 Mismatch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Storage": {
      "main": [
        [
          {
            "node": "Record Chunk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Chunk": {
      "main": [
        [
          {
            "node": "Increment Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Counter": {
      "main": [
        [
          {
            "node": "Log Chunk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Chunk": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1.0.0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "celesteos-production"
  },
  "id": "celesteos-upload-chunk",
  "tags": []
}
