docs/deprecated/n8n-workflows/master-update-workflow.json
{
  "name": "Master UPDATE Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "update",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-update",
      "name": "Webhook - UPDATE",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "update"
    },
    {
      "parameters": {
        "functionCode": "const authHeader = $input.item.json.headers.authorization;\nif (!authHeader || !authHeader.startsWith('Bearer ')) {\n  return { json: { success: false, error: 'Unauthorized', statusCode: 401 } };\n}\nconst token = authHeader.substring(7);\ntry {\n  const payload = JSON.parse(Buffer.from(token.split('.')[1], 'base64').toString());\n  const requestBody = $input.item.json.body;\n  return {\n    json: {\n      action_name: requestBody.action_name,\n      context: requestBody.context,\n      parameters: requestBody.parameters,\n      session: requestBody.session,\n      user_id: payload.sub,\n      yacht_id: payload.yacht_id || requestBody.session.yacht_id,\n      token: token\n    }\n  };\n} catch (error) {\n  return { json: { success: false, error: 'Invalid token', statusCode: 401 } };\n}"
      },
      "id": "validate-jwt-update",
      "name": "Validate JWT",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.success}}",
              "operation": "notEqual",
              "value2": "false"
            }
          ]
        }
      },
      "id": "check-auth-update",
      "name": "Check Auth",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.action_name}}",
              "operation": "equals"
            }
          ]
        },
        "options": {}
      },
      "id": "switch-action-update",
      "name": "Switch on action_name",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE work_orders SET \n  status = 'completed',\n  completed_at = NOW(),\n  completion_notes = '{{$json.parameters.completion_notes}}',\n  updated_at = NOW()\nWHERE id = '{{$json.context.work_order_id}}'\n  AND yacht_id = '{{$json.yacht_id}}'\nRETURNING id, title, status, completed_at;"
      },
      "id": "mark-work-order-complete",
      "name": "mark_work_order_complete",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1050, 100],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase Database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE hours_of_rest SET \n  rest_hours = '{{$json.parameters.rest_hours}}',\n  work_hours = '{{$json.parameters.work_hours}}',\n  is_compliant = (CAST('{{$json.parameters.rest_hours}}' AS DECIMAL) >= 10),\n  updated_at = NOW()\nWHERE id = '{{$json.context.hor_id}}'\n  AND yacht_id = '{{$json.yacht_id}}'\nRETURNING id, date, rest_hours, work_hours, is_compliant;"
      },
      "id": "update-hours-of-rest",
      "name": "update_hours_of_rest",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1050, 200],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase Database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Get old values for audit log\nSELECT \n  title as old_title,\n  description as old_description,\n  priority as old_priority\nINTO old_values\nFROM work_orders\nWHERE id = '{{$json.context.work_order_id}}'\n  AND yacht_id = '{{$json.yacht_id}}';\n\n-- Update work order\nUPDATE work_orders SET \n  title = COALESCE('{{$json.parameters.title}}', title),\n  description = COALESCE('{{$json.parameters.description}}', description),\n  priority = COALESCE('{{$json.parameters.priority}}', priority),\n  updated_at = NOW()\nWHERE id = '{{$json.context.work_order_id}}'\n  AND yacht_id = '{{$json.yacht_id}}'\nRETURNING id, title, description, priority, updated_at;"
      },
      "id": "edit-work-order-details",
      "name": "edit_work_order_details (AUDIT-SENSITIVE)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1050, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase Database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Get old invoice amount for audit\nSELECT invoice_amount as old_amount\nFROM purchases\nWHERE id = '{{$json.context.purchase_id}}'\n  AND yacht_id = '{{$json.yacht_id}}';\n\n-- Update invoice amount\nUPDATE purchases SET \n  invoice_amount = '{{$json.parameters.new_amount}}',\n  requires_review = (\n    ABS(CAST('{{$json.parameters.new_amount}}' AS DECIMAL) - invoice_amount) > 500\n    OR ABS((CAST('{{$json.parameters.new_amount}}' AS DECIMAL) - invoice_amount) / invoice_amount) > 0.1\n  ),\n  updated_at = NOW()\nWHERE id = '{{$json.context.purchase_id}}'\n  AND yacht_id = '{{$json.yacht_id}}'\nRETURNING id, invoice_amount, requires_review;"
      },
      "id": "edit-invoice-amount",
      "name": "edit_invoice_amount (HIGH AUDIT)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1050, 400],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase Database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO audit_logs (\n  yacht_id,\n  user_id,\n  action_name,\n  entity_type,\n  entity_id,\n  severity,\n  details,\n  created_at\n) VALUES (\n  '{{$json.yacht_id}}',\n  '{{$json.user_id}}',\n  '{{$json.action_name}}',\n  CASE \n    WHEN '{{$json.action_name}}' = 'edit_invoice_amount' THEN 'purchase'\n    WHEN '{{$json.action_name}}' LIKE '%work_order%' THEN 'work_order'\n    ELSE 'generic'\n  END,\n  '{{$json.id}}',\n  CASE \n    WHEN '{{$json.action_name}}' = 'edit_invoice_amount' THEN 'high'\n    WHEN '{{$json.action_name}}' LIKE 'edit_%' THEN 'medium'\n    ELSE 'low'\n  END,\n  jsonb_build_object(\n    'reason', '{{$json.parameters.reason}}',\n    'old_value', '{{$json.old_value}}',\n    'new_value', '{{$json.new_value}}'\n  ),\n  NOW()\n);"
      },
      "id": "create-audit-log-update",
      "name": "Create Audit Log (with old/new values)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1250, 200],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase Database"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const action = $input.first().json.action_name;\nconst data = $input.first().json;\n\nconst cardTypeMap = {\n  mark_work_order_complete: 'work_order',\n  edit_work_order_details: 'work_order',\n  update_hours_of_rest: 'hor_table',\n  edit_invoice_amount: 'purchase'\n};\n\nconst cardType = cardTypeMap[action] || 'generic';\n\nreturn {\n  json: {\n    success: true,\n    message: 'Updated successfully',\n    card_type: cardType,\n    card: data,\n    micro_actions: [],\n    streaming_chunks: []\n  }\n};"
      },
      "id": "build-response-update",
      "name": "Build Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "functionCode": "const error = $input.first().json;\nreturn {\n  json: {\n    success: false,\n    error: error.error || 'Unauthorized',\n    statusCode: error.statusCode || 401\n  }\n};"
      },
      "id": "build-error-update",
      "name": "Build Error Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseCode": "={{$json.statusCode || 200}}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "webhook-response-update",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1650, 300]
    }
  ],
  "connections": {
    "Webhook - UPDATE": {
      "main": [[{"node": "Validate JWT", "type": "main", "index": 0}]]
    },
    "Validate JWT": {
      "main": [[{"node": "Check Auth", "type": "main", "index": 0}]]
    },
    "Check Auth": {
      "main": [
        [{"node": "Switch on action_name", "type": "main", "index": 0}],
        [{"node": "Build Error Response", "type": "main", "index": 0}]
      ]
    },
    "Switch on action_name": {
      "main": [
        [{"node": "mark_work_order_complete", "type": "main", "index": 0}],
        [{"node": "update_hours_of_rest", "type": "main", "index": 0}],
        [{"node": "edit_work_order_details (AUDIT-SENSITIVE)", "type": "main", "index": 0}],
        [{"node": "edit_invoice_amount (HIGH AUDIT)", "type": "main", "index": 0}]
      ]
    },
    "mark_work_order_complete": {
      "main": [[{"node": "Create Audit Log (with old/new values)", "type": "main", "index": 0}]]
    },
    "update_hours_of_rest": {
      "main": [[{"node": "Build Response", "type": "main", "index": 0}]]
    },
    "edit_work_order_details (AUDIT-SENSITIVE)": {
      "main": [[{"node": "Create Audit Log (with old/new values)", "type": "main", "index": 0}]]
    },
    "edit_invoice_amount (HIGH AUDIT)": {
      "main": [[{"node": "Create Audit Log (with old/new values)", "type": "main", "index": 0}]]
    },
    "Create Audit Log (with old/new values)": {
      "main": [[{"node": "Build Response", "type": "main", "index": 0}]]
    },
    "Build Response": {
      "main": [[{"node": "Webhook Response", "type": "main", "index": 0}]]
    },
    "Build Error Response": {
      "main": [[{"node": "Webhook Response", "type": "main", "index": 0}]]
    }
  },
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "tags": [],
  "pinData": {},
  "versionId": "2.0.0",
  "triggerCount": 0,
  "active": false
}
