docs/deprecated/n8n-workflows/master-create-workflow.json
{
  "name": "Master CREATE Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-create",
      "name": "Webhook - CREATE",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "create"
    },
    {
      "parameters": {
        "functionCode": "// Extract and validate JWT token\nconst authHeader = $input.item.json.headers.authorization;\n\nif (!authHeader || !authHeader.startsWith('Bearer ')) {\n  return {\n    json: {\n      success: false,\n      error: 'Unauthorized - Missing token',\n      statusCode: 401\n    }\n  };\n}\n\nconst token = authHeader.substring(7);\n\ntry {\n  const payload = JSON.parse(Buffer.from(token.split('.')[1], 'base64').toString());\n  const requestBody = $input.item.json.body;\n  \n  return {\n    json: {\n      action_name: requestBody.action_name,\n      context: requestBody.context,\n      parameters: requestBody.parameters,\n      session: requestBody.session,\n      user_id: payload.sub,\n      yacht_id: payload.yacht_id || requestBody.session.yacht_id,\n      token: token\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      success: false,\n      error: 'Invalid token',\n      statusCode: 401\n    }\n  };\n}"
      },
      "id": "validate-jwt-create",
      "name": "Validate JWT",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.success}}",
              "operation": "notEqual",
              "value2": "false"
            }
          ]
        }
      },
      "id": "check-auth-create",
      "name": "Check Auth",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.action_name}}",
              "operation": "equals"
            }
          ]
        },
        "options": {}
      },
      "id": "switch-action-create",
      "name": "Switch on action_name",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO work_orders (\n  yacht_id,\n  title,\n  description,\n  priority,\n  equipment_id,\n  fault_id,\n  assigned_to,\n  created_by,\n  status,\n  created_at,\n  updated_at\n) VALUES (\n  '{{$json.yacht_id}}',\n  '{{$json.parameters.title}}',\n  '{{$json.parameters.description}}',\n  '{{$json.parameters.priority}}',\n  {{$json.context.equipment_id ? \"'\" + $json.context.equipment_id + \"'\" : \"NULL\"}},\n  {{$json.context.fault_id ? \"'\" + $json.context.fault_id + \"'\" : \"NULL\"}},\n  {{$json.parameters.assigned_to ? \"'\" + $json.parameters.assigned_to + \"'\" : \"NULL\"}},\n  '{{$json.user_id}}',\n  'pending',\n  NOW(),\n  NOW()\n) RETURNING id, title, status, priority, created_at;"
      },
      "id": "create-work-order",
      "name": "create_work_order",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1050, 100],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase Database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO purchase_requests (\n  yacht_id,\n  title,\n  description,\n  priority,\n  created_by,\n  status,\n  created_at\n) VALUES (\n  '{{$json.yacht_id}}',\n  '{{$json.parameters.title}}',\n  '{{$json.parameters.description}}',\n  '{{$json.parameters.priority || \"medium\"}}',\n  '{{$json.user_id}}',\n  'pending',\n  NOW()\n) RETURNING id, title, status, created_at;"
      },
      "id": "create-purchase-request",
      "name": "create_purchase_request",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1050, 200],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase Database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO notes (\n  yacht_id,\n  entity_type,\n  entity_id,\n  note_text,\n  created_by,\n  created_at\n) VALUES (\n  '{{$json.yacht_id}}',\n  '{{$json.context.entity_type || \"work_order\"}}',\n  '{{$json.context.entity_id}}',\n  '{{$json.parameters.note_text}}',\n  '{{$json.user_id}}',\n  NOW()\n) RETURNING id, note_text, created_at;"
      },
      "id": "add-note",
      "name": "add_work_order_note / add_fault_note / add_equipment_note",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1050, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase Database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO worklist_tasks (\n  yacht_id,\n  title,\n  description,\n  category,\n  priority,\n  created_by,\n  status,\n  created_at\n) VALUES (\n  '{{$json.yacht_id}}',\n  '{{$json.parameters.title}}',\n  '{{$json.parameters.description}}',\n  '{{$json.parameters.category}}',\n  '{{$json.parameters.priority || \"medium\"}}',\n  '{{$json.user_id}}',\n  'pending',\n  NOW()\n) RETURNING id, title, status, created_at;"
      },
      "id": "add-worklist-task",
      "name": "add_worklist_task",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1050, 400],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase Database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO audit_logs (\n  yacht_id,\n  user_id,\n  action_name,\n  entity_type,\n  entity_id,\n  severity,\n  details,\n  created_at\n) VALUES (\n  '{{$json.yacht_id}}',\n  '{{$json.user_id}}',\n  '{{$json.action_name}}',\n  '{{$json.entity_type}}',\n  '{{$json.id}}',\n  'low',\n  jsonb_build_object(\n    'title', '{{$json.title}}',\n    'status', '{{$json.status}}'\n  ),\n  NOW()\n);"
      },
      "id": "create-audit-log",
      "name": "Create Audit Log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1250, 200],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase Database"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Build unified response card\nconst action = $input.first().json.action_name;\nconst data = $input.first().json;\n\n// Map action to card type\nconst cardTypeMap = {\n  create_work_order: 'work_order',\n  create_work_order_from_fault: 'work_order',\n  create_purchase_request: 'purchase',\n  add_worklist_task: 'worklist',\n  add_work_order_note: 'note',\n  add_fault_note: 'note',\n  add_equipment_note: 'note'\n};\n\nconst cardType = cardTypeMap[action] || 'generic';\n\n// Build micro_actions based on card type\nlet microActions = [];\nif (cardType === 'work_order') {\n  microActions = [\n    { action_name: 'add_work_order_note', label: 'Add Note' },\n    { action_name: 'add_work_order_photo', label: 'Add Photo' },\n    { action_name: 'add_parts_to_work_order', label: 'Add Parts' },\n    { action_name: 'assign_work_order', label: 'Assign' },\n    { action_name: 'mark_work_order_complete', label: 'Mark Complete' }\n  ];\n} else if (cardType === 'purchase') {\n  microActions = [\n    { action_name: 'add_item_to_purchase', label: 'Add Item' },\n    { action_name: 'upload_invoice', label: 'Upload Invoice' },\n    { action_name: 'approve_purchase', label: 'Approve' }\n  ];\n}\n\nreturn {\n  json: {\n    success: true,\n    message: `${cardType} created successfully`,\n    card_type: cardType,\n    card: data,\n    micro_actions: microActions,\n    streaming_chunks: []\n  }\n};"
      },
      "id": "build-response-create",
      "name": "Build Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "functionCode": "// Build error response\nconst error = $input.first().json;\n\nreturn {\n  json: {\n    success: false,\n    error: error.error || 'Unauthorized',\n    statusCode: error.statusCode || 401\n  }\n};"
      },
      "id": "build-error-create",
      "name": "Build Error Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseCode": "={{$json.statusCode || 201}}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "webhook-response-create",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1650, 300]
    }
  ],
  "connections": {
    "Webhook - CREATE": {
      "main": [
        [
          {
            "node": "Validate JWT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate JWT": {
      "main": [
        [
          {
            "node": "Check Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Auth": {
      "main": [
        [
          {
            "node": "Switch on action_name",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch on action_name": {
      "main": [
        [
          {
            "node": "create_work_order",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "create_purchase_request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add_work_order_note / add_fault_note / add_equipment_note",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add_worklist_task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_work_order": {
      "main": [
        [
          {
            "node": "Create Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_purchase_request": {
      "main": [
        [
          {
            "node": "Create Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_work_order_note / add_fault_note / add_equipment_note": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_worklist_task": {
      "main": [
        [
          {
            "node": "Create Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Audit Log": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Error Response": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "pinData": {},
  "versionId": "2.0.0",
  "triggerCount": 0,
  "active": false
}
