docs/deprecated/n8n-workflows/master-linking-workflow.json
{
  "name": "Master LINKING Workflow",
  "nodes": [
    {
      "parameters": {"httpMethod": "POST", "path": "linking", "responseMode": "responseNode", "options": {}},
      "id": "webhook-linking",
      "name": "Webhook - LINKING",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "linking"
    },
    {
      "parameters": {"functionCode": "const authHeader = $input.item.json.headers.authorization;\nif (!authHeader || !authHeader.startsWith('Bearer ')) return { json: { success: false, error: 'Unauthorized', statusCode: 401 } };\nconst token = authHeader.substring(7);\ntry {\n  const payload = JSON.parse(Buffer.from(token.split('.')[1], 'base64').toString());\n  const requestBody = $input.item.json.body;\n  return { json: { action_name: requestBody.action_name, context: requestBody.context, parameters: requestBody.parameters, session: requestBody.session, user_id: payload.sub, yacht_id: payload.yacht_id || requestBody.session.yacht_id, token: token } };\n} catch (error) { return { json: { success: false, error: 'Invalid token', statusCode: 401 } }; }"},
      "id": "validate-jwt-linking",
      "name": "Validate JWT",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {"conditions": {"string": [{"value1": "={{$json.success}}", "operation": "notEqual", "value2": "false"}]}},
      "id": "check-auth-linking",
      "name": "Check Auth",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {"conditions": {"string": [{"value1": "={{$json.action_name}}", "operation": "equals"}]}, "options": {}},
      "id": "switch-action-linking",
      "name": "Switch on action_name",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {"operation": "executeQuery", "query": "INSERT INTO handover_items (\n  handover_id,\n  section,\n  entity_type,\n  entity_id,\n  content,\n  priority,\n  created_by,\n  created_at\n) VALUES (\n  (SELECT id FROM handovers WHERE yacht_id = '{{$json.yacht_id}}' AND date = CURRENT_DATE LIMIT 1),\n  '{{$json.parameters.section}}',\n  '{{$json.context.entity_type}}',\n  '{{$json.context.entity_id}}',\n  '{{$json.parameters.content}}',\n  '{{$json.parameters.priority || \"medium\"}}',\n  '{{$json.user_id}}',\n  NOW()\n) RETURNING id, section, content, priority;"},
      "id": "add-to-handover",
      "name": "add_to_handover",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1050, 100],
      "credentials": {"postgres": {"id": "supabase-db", "name": "Supabase Database"}}
    },
    {
      "parameters": {"operation": "executeQuery", "query": "INSERT INTO document_links (\n  document_id,\n  entity_type,\n  entity_id,\n  link_type,\n  created_by,\n  created_at\n) VALUES (\n  '{{$json.context.document_id}}',\n  '{{$json.context.entity_type}}',\n  '{{$json.context.entity_id}}',\n  '{{$json.parameters.link_type || \"reference\"}}',\n  '{{$json.user_id}}',\n  NOW()\n) RETURNING id, document_id, entity_type, entity_id;"},
      "id": "add-document-to-handover",
      "name": "add_document_to_handover",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1050, 200],
      "credentials": {"postgres": {"id": "supabase-db", "name": "Supabase Database"}}
    },
    {
      "parameters": {"operation": "executeQuery", "query": "INSERT INTO photos (\n  yacht_id,\n  entity_type,\n  entity_id,\n  photo_url,\n  caption,\n  uploaded_by,\n  created_at\n) VALUES (\n  '{{$json.yacht_id}}',\n  '{{$json.context.entity_type}}',\n  '{{$json.context.entity_id}}',\n  '{{$json.parameters.photo_url}}',\n  '{{$json.parameters.caption}}',\n  '{{$json.user_id}}',\n  NOW()\n) RETURNING id, photo_url, caption, created_at;"},
      "id": "add-photo",
      "name": "add_fault_photo / add_work_order_photo / add_checklist_photo",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1050, 300],
      "credentials": {"postgres": {"id": "supabase-db", "name": "Supabase Database"}}
    },
    {
      "parameters": {"functionCode": "// Build response with updated card\nconst data = $input.first().json;\nconst action = data.action_name;\n\nlet cardType = 'handover';\nlet microActions = [\n  { action_name: 'edit_handover_section', label: 'Edit' },\n  { action_name: 'export_handover', label: 'Export' }\n];\n\nif (action.includes('photo')) {\n  cardType = 'photo';\n  microActions = [\n    { action_name: 'add_note', label: 'Add Caption' },\n    { action_name: 'delete_item', label: 'Delete' }\n  ];\n}\n\nreturn {\n  json: {\n    success: true,\n    message: 'Link created successfully',\n    card_type: cardType,\n    card: data,\n    micro_actions: microActions,\n    streaming_chunks: []\n  }\n};"},
      "id": "build-response-linking",
      "name": "Build Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1250, 200]
    },
    {
      "parameters": {"functionCode": "const error = $input.first().json;\nreturn { json: { success: false, error: error.error || 'Unauthorized', statusCode: error.statusCode || 401 } };"},
      "id": "build-error-linking",
      "name": "Build Error Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 400]
    },
    {
      "parameters": {"respondWith": "json", "responseBody": "={{$json}}", "options": {"responseCode": "={{$json.statusCode || 201}}", "responseHeaders": {"entries": [{"name": "Content-Type", "value": "application/json"}]}}},
      "id": "webhook-response-linking",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 300]
    }
  ],
  "connections": {
    "Webhook - LINKING": {"main": [[{"node": "Validate JWT", "type": "main", "index": 0}]]},
    "Validate JWT": {"main": [[{"node": "Check Auth", "type": "main", "index": 0}]]},
    "Check Auth": {"main": [[{"node": "Switch on action_name", "type": "main", "index": 0}], [{"node": "Build Error Response", "type": "main", "index": 0}]]},
    "Switch on action_name": {"main": [[{"node": "add_to_handover", "type": "main", "index": 0}], [{"node": "add_document_to_handover", "type": "main", "index": 0}], [{"node": "add_fault_photo / add_work_order_photo / add_checklist_photo", "type": "main", "index": 0}]]},
    "add_to_handover": {"main": [[{"node": "Build Response", "type": "main", "index": 0}]]},
    "add_document_to_handover": {"main": [[{"node": "Build Response", "type": "main", "index": 0}]]},
    "add_fault_photo / add_work_order_photo / add_checklist_photo": {"main": [[{"node": "Build Response", "type": "main", "index": 0}]]},
    "Build Response": {"main": [[{"node": "Webhook Response", "type": "main", "index": 0}]]},
    "Build Error Response": {"main": [[{"node": "Webhook Response", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "tags": [],
  "pinData": {},
  "versionId": "2.0.0",
  "triggerCount": 0,
  "active": false
}
