backend/n8n-workflows/master-view-workflow.json
{
  "name": "Master VIEW Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "view",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-view",
      "name": "Webhook - VIEW",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "view"
    },
    {
      "parameters": {
        "functionCode": "// Extract and validate JWT token\nconst authHeader = $input.item.json.headers.authorization;\n\nif (!authHeader || !authHeader.startsWith('Bearer ')) {\n  return {\n    json: {\n      success: false,\n      error: 'Unauthorized - Missing token',\n      statusCode: 401\n    }\n  };\n}\n\nconst token = authHeader.substring(7);\n\n// Validate JWT with Supabase (production)\ntry {\n  const payload = JSON.parse(Buffer.from(token.split('.')[1], 'base64').toString());\n  const requestBody = $input.item.json.body;\n  \n  return {\n    json: {\n      action_name: requestBody.action_name,\n      context: requestBody.context,\n      parameters: requestBody.parameters,\n      session: requestBody.session,\n      user_id: payload.sub,\n      yacht_id: payload.yacht_id || requestBody.session.yacht_id,\n      token: token\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      success: false,\n      error: 'Invalid token',\n      statusCode: 401\n    }\n  };\n}"
      },
      "id": "validate-jwt-view",
      "name": "Validate JWT",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.success}}",
              "operation": "notEqual",
              "value2": "false"
            }
          ]
        }
      },
      "id": "check-auth-view",
      "name": "Check Auth",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.action_name}}",
              "operation": "equals"
            }
          ]
        },
        "options": {}
      },
      "id": "switch-action-view",
      "name": "Switch on action_name",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  e.id,\n  e.name,\n  e.equipment_type,\n  e.manufacturer,\n  e.model,\n  e.serial_number,\n  e.installation_date,\n  e.location,\n  e.status,\n  COUNT(DISTINCT f.id) as fault_count,\n  COUNT(DISTINCT wo.id) as work_order_count,\n  MAX(wo.last_maintenance) as last_maintenance\nFROM equipment e\nLEFT JOIN faults f ON f.equipment_id = e.id AND f.status = 'open'\nLEFT JOIN work_orders wo ON wo.equipment_id = e.id\nWHERE e.id = '{{$json.context.equipment_id}}'\n  AND e.yacht_id = '{{$json.yacht_id}}'\nGROUP BY e.id;"
      },
      "id": "view-equipment-details",
      "name": "view_equipment_details",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1050, 100],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase Database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  p.id,\n  p.part_name,\n  p.part_number,\n  p.stock_quantity,\n  p.min_stock_level,\n  p.location,\n  p.unit_cost,\n  p.supplier\nFROM parts p\nWHERE p.id = '{{$json.context.part_id}}'\n  AND p.yacht_id = '{{$json.yacht_id}}';"
      },
      "id": "view-part-stock",
      "name": "view_part_stock",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1050, 200],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase Database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  f.id,\n  f.title,\n  f.description,\n  f.severity,\n  f.status,\n  f.created_at,\n  f.resolved_at,\n  e.name as equipment_name,\n  u.name as reporter_name\nFROM faults f\nLEFT JOIN equipment e ON e.id = f.equipment_id\nLEFT JOIN users u ON u.id = f.created_by\nWHERE f.equipment_id = '{{$json.context.equipment_id}}'\n  AND f.yacht_id = '{{$json.yacht_id}}'\nORDER BY f.created_at DESC\nLIMIT 20;"
      },
      "id": "view-fault-history",
      "name": "view_fault_history",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1050, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase Database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  wo.id,\n  wo.title,\n  wo.description,\n  wo.priority,\n  wo.status,\n  wo.created_at,\n  wo.completed_at,\n  e.name as equipment_name,\n  u.name as assigned_to_name\nFROM work_orders wo\nLEFT JOIN equipment e ON e.id = wo.equipment_id\nLEFT JOIN users u ON u.id = wo.assigned_to\nWHERE wo.equipment_id = '{{$json.context.equipment_id}}'\n  AND wo.yacht_id = '{{$json.yacht_id}}'\nORDER BY wo.created_at DESC\nLIMIT 20;"
      },
      "id": "view-work-order-history",
      "name": "view_work_order_history",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1050, 400],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase Database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  hr.id,\n  hr.date,\n  hr.rest_hours,\n  hr.work_hours,\n  hr.is_compliant,\n  u.name as crew_member_name\nFROM hours_of_rest hr\nLEFT JOIN users u ON u.id = hr.user_id\nWHERE hr.user_id = '{{$json.context.user_id || $json.user_id}}'\n  AND hr.yacht_id = '{{$json.yacht_id}}'\n  AND hr.date >= CURRENT_DATE - INTERVAL '30 days'\nORDER BY hr.date DESC;"
      },
      "id": "view-hours-of-rest",
      "name": "view_hours_of_rest",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1050, 500],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase Database"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Build unified response card\nconst action = $input.first().json.action_name;\nconst data = $input.first().json;\n\n// Map action to card type\nconst cardTypeMap = {\n  view_equipment_details: 'equipment',\n  view_part_stock: 'part',\n  view_fault_history: 'fault_list',\n  view_work_order_history: 'work_order_list',\n  view_hours_of_rest: 'hor_table'\n};\n\nconst cardType = cardTypeMap[action] || 'generic';\n\n// Build micro_actions based on card type\nlet microActions = [];\nif (cardType === 'equipment') {\n  microActions = [\n    { action_name: 'view_equipment_history', label: 'View History' },\n    { action_name: 'view_equipment_parts', label: 'View Parts' },\n    { action_name: 'view_linked_faults', label: 'View Faults' },\n    { action_name: 'add_equipment_note', label: 'Add Note' },\n    { action_name: 'create_work_order', label: 'Create Work Order' }\n  ];\n} else if (cardType === 'part') {\n  microActions = [\n    { action_name: 'order_part', label: 'Order Part' },\n    { action_name: 'log_part_usage', label: 'Log Usage' },\n    { action_name: 'view_part_usage', label: 'View Usage History' }\n  ];\n}\n\nreturn {\n  json: {\n    success: true,\n    card_type: cardType,\n    card: data,\n    micro_actions: microActions,\n    streaming_chunks: []\n  }\n};"
      },
      "id": "build-response-view",
      "name": "Build Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "functionCode": "// Build error response\nconst error = $input.first().json;\n\nreturn {\n  json: {\n    success: false,\n    error: error.error || 'Unauthorized',\n    statusCode: error.statusCode || 401\n  }\n};"
      },
      "id": "build-error-view",
      "name": "Build Error Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseCode": "={{$json.statusCode || 200}}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "webhook-response-view",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 300]
    }
  ],
  "connections": {
    "Webhook - VIEW": {
      "main": [
        [
          {
            "node": "Validate JWT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate JWT": {
      "main": [
        [
          {
            "node": "Check Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Auth": {
      "main": [
        [
          {
            "node": "Switch on action_name",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch on action_name": {
      "main": [
        [
          {
            "node": "view_equipment_details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "view_part_stock",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "view_fault_history",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "view_work_order_history",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "view_hours_of_rest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "view_equipment_details": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "view_part_stock": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "view_fault_history": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "view_work_order_history": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "view_hours_of_rest": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Error Response": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "pinData": {},
  "versionId": "2.0.0",
  "triggerCount": 0,
  "active": false
}
