backend/n8n-workflows/master-export-workflow.json
{
  "name": "Master EXPORT Workflow",
  "nodes": [
    {
      "parameters": {"httpMethod": "POST", "path": "export", "responseMode": "responseNode", "options": {}},
      "id": "webhook-export",
      "name": "Webhook - EXPORT",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "export"
    },
    {
      "parameters": {"functionCode": "const authHeader = $input.item.json.headers.authorization;\nif (!authHeader || !authHeader.startsWith('Bearer ')) return { json: { success: false, error: 'Unauthorized', statusCode: 401 } };\nconst token = authHeader.substring(7);\ntry {\n  const payload = JSON.parse(Buffer.from(token.split('.')[1], 'base64').toString());\n  const requestBody = $input.item.json.body;\n  return { json: { action_name: requestBody.action_name, context: requestBody.context, parameters: requestBody.parameters, session: requestBody.session, user_id: payload.sub, yacht_id: payload.yacht_id || requestBody.session.yacht_id, token: token } };\n} catch (error) { return { json: { success: false, error: 'Invalid token', statusCode: 401 } }; }"},
      "id": "validate-jwt-export",
      "name": "Validate JWT",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {"conditions": {"string": [{"value1": "={{$json.success}}", "operation": "notEqual", "value2": "false"}]}},
      "id": "check-auth-export",
      "name": "Check Auth",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {"conditions": {"string": [{"value1": "={{$json.action_name}}", "operation": "equals"}]}, "options": {}},
      "id": "switch-action-export",
      "name": "Switch on action_name",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {"operation": "executeQuery", "query": "SELECT h.*, hi.section, hi.content, hi.priority\nFROM handovers h\nLEFT JOIN handover_items hi ON hi.handover_id = h.id\nWHERE h.yacht_id = '{{$json.yacht_id}}'\n  AND h.date >= '{{$json.parameters.start_date}}'\n  AND h.date <= '{{$json.parameters.end_date}}'\nORDER BY h.date DESC, hi.priority DESC;"},
      "id": "export-handover",
      "name": "export_handover (Collect Data)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1050, 100],
      "credentials": {"postgres": {"id": "supabase-db", "name": "Supabase Database"}}
    },
    {
      "parameters": {"operation": "executeQuery", "query": "SELECT hr.*, u.name as crew_name\nFROM hours_of_rest hr\nLEFT JOIN users u ON u.id = hr.user_id\nWHERE hr.yacht_id = '{{$json.yacht_id}}'\n  AND hr.date >= '{{$json.parameters.start_date}}'\n  AND hr.date <= '{{$json.parameters.end_date}}'\nORDER BY hr.date DESC, u.name ASC;"},
      "id": "export-hours-of-rest",
      "name": "export_hours_of_rest (Collect Data)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1050, 200],
      "credentials": {"postgres": {"id": "supabase-db", "name": "Supabase Database"}}
    },
    {
      "parameters": {"operation": "executeQuery", "query": "SELECT wt.*\nFROM worklist_tasks wt\nWHERE wt.yacht_id = '{{$json.yacht_id}}'\n  AND wt.status IN ('pending', 'in_progress')\nORDER BY wt.priority DESC, wt.created_at ASC;"},
      "id": "export-worklist",
      "name": "export_worklist (Collect Data)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1050, 300],
      "credentials": {"postgres": {"id": "supabase-db", "name": "Supabase Database"}}
    },
    {
      "parameters": {"functionCode": "// Generate PDF from data (placeholder - integrate with PDF library)\nconst data = $input.first().json;\nconst action = data.action_name;\n\n// In production: use PDF generation library\n// For now, return CSV or JSON\nconst csv = JSON.stringify(data, null, 2);\nconst filename = `${action}_${Date.now()}.json`;\n\n// Upload to Supabase Storage\nconst uploadUrl = `https://your-project.supabase.co/storage/v1/object/exports/${filename}`;\n\nreturn {\n  json: {\n    success: true,\n    message: 'Export generated successfully',\n    card_type: 'export',\n    card: {\n      filename: filename,\n      download_url: uploadUrl,\n      format: 'json',\n      size: csv.length\n    },\n    micro_actions: [],\n    streaming_chunks: ['Collecting data...', 'Generating export...', 'Upload complete!']\n  }\n};"},
      "id": "generate-export",
      "name": "Generate Export (PDF/CSV)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1250, 200]
    },
    {
      "parameters": {"functionCode": "const error = $input.first().json;\nreturn { json: { success: false, error: error.error || 'Unauthorized', statusCode: error.statusCode || 401 } };"},
      "id": "build-error-export",
      "name": "Build Error Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 400]
    },
    {
      "parameters": {"respondWith": "json", "responseBody": "={{$json}}", "options": {"responseCode": "={{$json.statusCode || 200}}", "responseHeaders": {"entries": [{"name": "Content-Type", "value": "application/json"}]}}},
      "id": "webhook-response-export",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 300]
    }
  ],
  "connections": {
    "Webhook - EXPORT": {"main": [[{"node": "Validate JWT", "type": "main", "index": 0}]]},
    "Validate JWT": {"main": [[{"node": "Check Auth", "type": "main", "index": 0}]]},
    "Check Auth": {"main": [[{"node": "Switch on action_name", "type": "main", "index": 0}], [{"node": "Build Error Response", "type": "main", "index": 0}]]},
    "Switch on action_name": {"main": [[{"node": "export_handover (Collect Data)", "type": "main", "index": 0}], [{"node": "export_hours_of_rest (Collect Data)", "type": "main", "index": 0}], [{"node": "export_worklist (Collect Data)", "type": "main", "index": 0}]]},
    "export_handover (Collect Data)": {"main": [[{"node": "Generate Export (PDF/CSV)", "type": "main", "index": 0}]]},
    "export_hours_of_rest (Collect Data)": {"main": [[{"node": "Generate Export (PDF/CSV)", "type": "main", "index": 0}]]},
    "export_worklist (Collect Data)": {"main": [[{"node": "Generate Export (PDF/CSV)", "type": "main", "index": 0}]]},
    "Generate Export (PDF/CSV)": {"main": [[{"node": "Webhook Response", "type": "main", "index": 0}]]},
    "Build Error Response": {"main": [[{"node": "Webhook Response", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "tags": [],
  "pinData": {},
  "versionId": "2.0.0",
  "triggerCount": 0,
  "active": false
}
